@use 'styles/colors';
@use 'styles/borders';

.addBlockingCriteria {
    display: flex;
    flex-direction: column;
    height: calc(100% - 3.5rem);
    .addBlockingCriteriaHeader {
        display: flex;
        align-items: center;
        svg {
            cursor: pointer;
            margin-right: 1rem;
        }
    }
    .addBlockingCriteriaContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
        height: calc(100% - 6.5rem);
        div {
            width: 15.5rem;
            height: 2.75rem;
            padding: 0;
            label {
                font-size: 1rem;
                text-wrap: nowrap;
                height: 2.75rem;
                margin: 0;
                padding: 0.65rem 0 0.65rem 2.25rem;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    margin-right: 0.5rem;
                    margin-top: 0.15rem;
                    vertical-align: middle;
                }
            }
        }
    }
        .addBlockingCriteriaFooter {
            display: flex;
            justify-content: flex-end;
            padding: 1rem;
            @extend %thin-top;
            height: 5rem;
        }
}