@use 'styles/colors';

.row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid colors.$base-lighter;
    gap: 2rem;
    padding: 0.75rem 0;
    justify-content: space-between;
    h5 {
        display: inline-block;
        width: 12rem;
        font-size: 1rem;
        text-transform: none;
        margin: 0;
    }
    div {
        border: none;
        padding: 0;
        height: 2rem;
        min-height: 2rem;
        width: unset !important;
        label {
            width: 2rem;
            font-size: 0.875rem;
            font-weight: 400;
        }
        select {
            width: 15rem !important;
        }
    }
    .gap {
        width: 100%;
        min-width: 25%;
    }
    .delete {
        color: colors.$secondary;
        display: flex;
        width: 7rem;
        text-align: center;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }
}