@use 'styles/colors';
@use 'styles/borders';

.card {
  background: colors.$base-white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;

  @extend %thin;
}

.cardHeader {
  border-bottom: 1px solid colors.$base-white;
  padding-bottom: 0;
  padding-top: 16px;
  margin-bottom: 0;
  padding-left: 16px;
}

.cardTitle {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.cardSubtext {
  font-size: 14px;
  color: colors.$base-darker;
  margin-top: 4px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0;
}

.cardContent {
  padding-top: 0;
  width: 100%;
}
