.usa-alert {
    min-width: 450px;
    padding: 10px;
    position: fixed;
    z-index: 100;
    top: 15px;
    animation: from-right 0.3s;
    animation-fill-mode: both;

    .usa-alert__heading {
        text-transform: capitalize;
    }
}

@keyframes from-right {
    from {
        right: -450px;
    }
    to {
        right: 15px;
    }
}
