.add-question-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    span {
        font-family: Public Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}