@forward 'styles/buttons';
@use 'styles/colors';

.button-component {
    margin: 0 !important;
    height: auto;

    &.small {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }

    &.medium {
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
    }

    &.large {
        padding: 1rem 1.5rem;
        font-size: 1.125rem;
    }
}

.unpadded {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    color: colors.$primary !important;
    text-align: left !important;
    height: unset !important;
    font-size: 0.875rem;
    line-height: 162%;
    font-style: normal;
}
