.buttonBar {
    display: flex;
    padding: 0.25rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3125rem;
    border: 1px solid var(--base-lighter, #dcdee0);
    background: var(--base-lightest, #f0f0f0);

    .button {
        text-align: center;
        line-height: normal;
        box-shadow: none;
        color: var(--base-base, #71767a);
        font-weight: 400;
        user-select: none;
        &.hover {
            border: none;
        }
    }
    .active {
        color: black !important;
        font-weight: 700;
        border-radius: 0.25rem;
        background: var(--base-white, #fff);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    }
}
