@use 'styles/colors';

.manage {
    button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.6rem;
        text-decoration: none;
    }
}
.modalHeader {
    h3 {
        margin: 0;
    }
    button {
        color: colors.$base-white;
    }
}