@use 'styles/colors';

.area {
    position: relative;

    height: 10rem;
    max-width: 30rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        color: transparent;

        .highlight {
            background-color: rgb(199 210 254);
            position: absolute;
            width: 100%;
        }
        .mirror {
        }
        .editing {
            background: transparent;
            position: relative;
        }
    }

    .counter {
        display: flex;
        justify-content: end;
        color: colors.$base;

        .limit {
            color: colors.$error;
        }
    }
}
