@use 'styles/colors';

.area {
    position: relative;
    gap: 0.5rem;

    .container {
        position: relative;

        .mirror {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            color: transparent;
            
            box-sizing: border-box;
            padding: 0.5rem;
            border-width: 1px;
        }

        .textarea {
            background: transparent;
            position: relative;

        }
    }

    .counter {
        display: flex;
        justify-content: end;
        color: colors.$base;

        .limit {
            color: colors.$error;
        }
    }
}
