@use 'styles/colors';

.grouped {
    align-items: center;
    display: flex;
    padding: 0;
    position: relative;

    appearance: none;

    input {
        margin-top: 0;
        min-width: 0;

        padding-right: 1.5rem;
    }

    .suffix {
        padding: 0 0.5rem;
        position: absolute;
        right: 0;
        line-height: 0;
    }
}

.sorted {
    border-color: colors.$base-darkest !important;
}
