@use 'styles/colors';

.criteria {
    background-color: colors.$base-white;
    margin-bottom: 1rem;
    border: 1px solid colors.$base-lighter;
    border-radius: 0.3125rem;

    &.disabled {
        background-color: colors.$disabled-lighter;
        color: colors.$base-darkest;
        border-color: colors.$base-light;
        .criteriaHeadingContainer {
            border-color: colors.$base-light;
            h4, p {
                color: colors.$disabled-darkest;
            }
        }
        .criteriaContentContainer {
            p {
                color: colors.$disabled-darkest;
                border-color: colors.$base-light;
            }
            button {
                color: colors.$disabled-darkest !important
            }
            .bounds {
                display: flex;
                justify-content: center;
                max-width: 50%;
                margin: 0 auto;
                padding-bottom: 1.25rem;
                div {
                    gap: 0.25rem;
                    width: 12rem;
                    padding: 0;
                    label {
                        width: 13rem;
                        font-weight: 400;
                    }
                    input {
                        width: 5rem;
                    }
                }
            }
        }
    }

    .criteriaHeadingContainer {
        padding: 1.5rem;
        border-bottom: 1px solid colors.$base-lighter;
        h4 {
            font-size: 1.375rem;
            margin: 0;
        }
        p {
            font-size: 0.875rem;
            margin: 0.25rem 0 0 0;
            font-weight: 400;
        }
    }

    .criteriaContentContainer {
        padding: 0 1rem 0 1rem;
        button {
            padding-left: 0;
            text-decoration: none;
            padding: 1rem 0;
            &:disabled  {
                background-color: unset !important;
                color: colors.$disabled;
                border: none;
            }
        }

        .criteriaRequest {
            border-bottom: 1px solid colors.$base-lighter;
            padding: 1rem 0;
            margin: 0;
        }

        .progressBar {
            width: 100%;
            height: 1rem;
            background-color: colors.$base-light;
            border-radius: 0.5rem;
            border: 1px solid colors.$base-dark;
            margin:  1rem 0 1.25rem 0;
        }
    }
}
