@use 'styles/colors';

.page-info-container {
    width: 16%;
    //position: absolute;
    //left: 0;
    display: flex;
    width: 448px;
    height: 510px;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid colors.$base-lighter;
    background: var(--base-white, #FFF);
    .usa-button--outline{
        display: flex;
        gap: 6px
    }
    .page-info-header {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 24px;
        h2.title {
            color: #000;
            text-align: center;
            font-family: Public Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
        }
    }
    .tabs {
        display: flex;
        border-bottom: 1px solid var(--base-lighter, #DCDEE0);
        padding-left: 24px ;
        margin: 0;
        li {
            display: inline-block;
            cursor: pointer;
            color: var(--base-black, #000);
            font-family: Public Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background: #ffffff;
            margin-right: 40px;
            &.active {
                font-family: Public Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-bottom: 4px solid  var(--primary-primary, #005EA2);
                padding-bottom: 10px;
            }
        }
    }
    .tab-content {
      padding: 24px;
    }

    .details-container {
        border-bottom: colors.$base-lighter;
        margin-bottom: 24px;
    }
    .information-block {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        >div {
            margin-right: 16px;
        }
    }
    .line-block {
        min-width: 50%;
        margin-bottom: 16px;
         .detail-header {
            color: colors.$base-darkest;
            font-family: Public Sans;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.325px;
            text-transform: uppercase;
        }
        .small-body-text {
            color: colors.$base-darkest;
            font-family: Public Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 22.68px */
        }
    }
    .tab-content.remove-padding {
        padding-top: 0;
        padding-bottom: 0;
    }
    .history-content {
        .version-block {
            border-bottom: 1px solid colors.$base-lighter;
            padding:  16px 0;
            font-family: Public Sans;
            .version-text {
                color: colors.$base-darker;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 6px;
            }
            .version-date {
                margin-left: 24px;
                color: colors.$base-darkest;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 162%; /* 22.68px */
            }
            .version-user {
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 162%; /* 22.68px */
                margin-bottom: 6px;
            }
            .version-notes {
                color: colors.$base-darkest;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                word-break: break-word;
            }
            .version-description {
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 162%;
            }

        }
    }

}