@use 'styles/colors';
@use 'styles/borders';
@use 'design-system/table/header/widths';

$small-height: 1rem;
$medium-height: 1.125rem;
$large-height: 1.25rem;

.card {
    @extend %thin;
    background-color: colors.$base-white;

    .errorList {
        list-style: inside;
        padding: 0;
        margin: 0;

        & > li {
            line-height: 1.62rem;
        }
    }

    .table {
        .actions {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
            max-width: fit-content;

            & > button {
                --button-padding: 0rem;
                min-width: 1rem;

                --button-height: #{$medium-height};
                --button-icon-size: #{$medium-height};

                &.active {
                    border-radius: 0.25rem;
                    padding: 0.0625rem;
                    color: colors.$base-white;
                    background-color: colors.$primary-darker;
                }
            }
        }

        &.small {
            .actions {
                & > button {
                    --button-height: #{$small-height};
                    --button-icon-size: #{$small-height};
                }
            }
        }

        &.large {
            .actions {
                & > button {
                    --button-height: #{$large-height};
                    --button-icon-size: #{$large-height};
                }
            }
        }
    }

    .form {
        background-color: colors.$base-white;
    }

    .changed {
        background-color: colors.$primary-lighter;
    }

    footer {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 1.5rem 0.5rem 16.75rem;
    }

    &.small {
        footer {
            padding-left: 15.25rem;
        }
    }
}
