@use 'styles/colors';
@use 'styles/borders';
@use 'design-system/table/header/widths';

$small-height: 1rem;
$medium-height: 1.125rem;
$large-height: 1.25rem;

.card {
    background-color: colors.$base-white;

    .errorList {
        list-style: inside;
        padding: 0;
        margin: 0;

        & > li {
            line-height: 1.62rem;
        }
    }

    .table {
        .actions {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;

            button.action {
                --button-padding: 0rem;
                min-width: 1rem;

                --button-height: #{$medium-height};
                --button-icon-size: #{$medium-height};
            }

            &.small {
                button.action {
                    --button-height: #{$small-height};
                    --button-icon-size: #{$small-height};
                }
            }

            &.large {
                button.action {
                    --button-height: #{$large-height};
                    --button-icon-size: #{$large-height};
                }
            }
        }

        &:not(:last-child) {
            @extend %thin-bottom;
        }
    }

    .view {
        @extend %thin-top;
        padding: 1rem 0;
    }

    .form {
        @extend %thin-top;
        background-color: colors.$base-white;

        &.changed {
            background-color: colors.$primary-lighter;
        }
    }

    .controls {
        display: flex;
        gap: 0.5rem;
        padding-left: 16rem;

        &.small {
            padding-left: 14rem;
        }
    }
}
