@use 'styles/colors';
@use 'styles/borders';
@use 'styles/tooltip';
@use 'styles/icons';

.input {
    @extend %thin;
    background-color: colors.$base-white;
    header {
        display: flex;
        padding: 1.5rem;
        justify-content: space-between;
        align-items: center;
        background-color: colors.$base-white;

        @extend %thin-bottom;
    }

    .errorList {
        list-style: inside;
        padding: 0;
        margin: 0;

        & > li {
            line-height: 1.62rem;
        }
    }

    .dataTable {
        .actions {
            display: flex;
            gap: 0.5rem;
            justify-content: flex-end;

            svg {
                color: colors.$primary;
                cursor: pointer;
                font-size: icons.$size-standard;
            }

            .active {
                border-radius: 0.25rem;
                color: colors.$base-white;
                background-color: colors.$primary-darker;
            }
        }
    }

    .form {
        background-color: colors.$base-white;
    }

    .changed {
        background-color: colors.$primary-lighter;
    }

    footer {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 1.5rem 0.5rem 16.5rem;

        svg {
            font-size: icons.$size-standard;
        }
    }
}
