@mixin fontSize($size) {
    font-size: $size;
}

@mixin flexItems($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

$primary_color: #005ea2;

.usa-label {
    margin-top: 15px !important;
}

a {
    color: $primary_color;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
