@mixin fontSize($size) {
    font-size: $size;
}

@mixin flexItems($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

$primary_color: #005ea2;

a {
    color: $primary_color;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.page-title-bar {
    min-height: 78px;
    font-family: sans-serif;
    font-size: 32px;
    padding: 0 23px;
    border-bottom: 1px solid #e7e9e9;
    .add-patient-button {
        height: fit-content;
        margin: 0 !important;
    }
    .hide-button {
        display: none;
    }
}
