.helpText {
    width: 350px;
    height: 378px;
    gap: 24px;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 350;
    font-size: 14px;
    line-height: 21px;

p {
        margin-bottom: 1 rem;
    }

    ul li {
        padding-bottom: 1rem;
    }
}
