services:
  modernization-api:
    build:
      context: ./
      dockerfile: ./apps/modernization-api/Dockerfile
    container_name: modernization-api
    environment:
      - NBS_DATASOURCE_SERVER=${NBS_DATASOURCE_SERVER}
      - NBS_ELASTICSEARCH_SERVER=elasticsearch
      - NBS_WILDFLY_SERVER=${CLASSIC_SERVICE}
      - NBS_SECURITY_OIDC_ENABLED=${NBS_SECURITY_OIDC_ENABLED}
      - NBS_SECURITY_OIDC_URI=${NBS_SECURITY_OIDC_URI}
      - NBS_UI_FEATURES_ADDRESS_AUTOCOMPLETE=false
      - NBS_UI_FEATURES_ADDRESS_VERIFICATION=false
      - NBS_UI_FEATURES_SEARCH_VIEW_ENABLED=true
      - NBS_UI_FEATURES_SEARCH_VIEW_TABLE_ENABLED=true
      - NBS_UI_FEATURES_SEARCH_EVENTS_ENABLED=true
      - NBS_UI_FEATURES_SEARCH_INVESTIGATIONS_ENABLED=true
      - NBS_UI_FEATURES_SEARCH_LABORATORYREPORTS_ENABLED=true
      - NBS_UI_FEATURES_PATIENT_SEARCH_FILTERS_ENABLED=true
      - NBS_UI_FEATURES_PATIENT_FILE_ENABLED=${PATIENT_FILE_ENABLED:-true}
      - NBS_UI_FEATURES_PAGEBUILDER_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_UI_FEATURES_PAGEBUILDER_PAGE_LIBRARY_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_UI_FEATURES_PAGEBUILDER_PAGE_MANAGEMENT_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_UI_FEATURES_PAGEBUILDER_PAGE_MANAGEMENT_CREATE_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_UI_FEATURES_PAGEBUILDER_PAGE_MANAGEMENT_EDIT_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_UI_FEATURES_DEDUPLICATION_ENABLED=true
      - NBS_UI_SETTINGS_ANALYTICS_KEY=${ANALYTICS_KEY}
      - NBS_UI_SETTINGS_DEFAULTS_SIZING=${COMPONENT_SIZING:-small}
      - SERVER_TOMCAT_MAX_PART_COUNT=${SERVER_TOMCAT_MAX_PART_COUNT:-550}
      - TOKEN_SECRET=${TOKEN_SECRET}
      - PARAMETER_SECRET=${PARAMETER_SECRET}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - SPRING_PROFILES_ACTIVE=default,development,local

  pagebuilder-api:
    build:
      context: ./
      dockerfile: ./apps/question-bank/Dockerfile
    container_name: pagebuilder-api
    environment:
      - NBS_DATASOURCE_SERVER=${NBS_DATASOURCE_SERVER}
      - NBS_SECURITY_OIDC_ENABLED=${NBS_SECURITY_OIDC_ENABLED}
      - NBS_SECURITY_OIDC_URI=${NBS_SECURITY_OIDC_URI}
      - TOKEN_SECRET=${TOKEN_SECRET}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - SPRING_PROFILES_ACTIVE=default,development,local

  nbs-gateway:
    build:
      context: ./
      dockerfile: ./apps/nbs-gateway/Dockerfile
    container_name: nbs-gateway
    environment:
      - NBS_GATEWAY_DEFAULTS_PROTOCOL=http
      - NBS_GATEWAY_LOG_LEVEL=${NBS_GATEWAY_LOG_LEVEL:-INFO}      
      - NBS_SECURITY_OIDC_URI=${NBS_SECURITY_OIDC_URI}
      - OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
      - NBS_GATEWAY_CLASSIC=http://${CLASSIC_SERVICE}
      - NBS_GATEWAY_UI_SERVICE=${UI_SERVICE}
      - NBS_GATEWAY_MODERNIZATION_SERVICE=${MODERNIZATION_SERVICE}
      - NBS_GATEWAY_LANDING_BASE=/welcome
      - NBS_GATEWAY_WELCOME_ENABLED=true
      - NBS_GATEWAY_PATIENT_SEARCH_SERVICE=${MODERNIZATION_SERVICE}
      - NBS_GATEWAY_PATIENT_FILE_SERVICE=${MODERNIZATION_SERVICE}
      - NBS_GATEWAY_PATIENT_FILE_ENABLED=${PATIENT_PROFILE_ENABLED:-true}
      - NBS_GATEWAY_PAGEBUILDER_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_GATEWAY_PAGEBUILDER_PAGE_LIBRARY_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_GATEWAY_PAGEBUILDER_PAGE_MANAGEMENT_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_GATEWAY_PAGEBUILDER_PAGE_MANAGEMENT_CREATE_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_GATEWAY_PAGEBUILDER_PAGE_MANAGEMENT_EDIT_ENABLED=${PAGEBUILDER_ENABLED}
      - NBS_GATEWAY_PAGEBUILDER_SERVICE=${PAGEBUILDER_SERVICE}
      - SPRING_PROFILES_ACTIVE=default,development,local
    ports:
      - "8000:8000"

  report-execution:
    build:
      context: ./apps/report-execution
    container_name: report-execution
    ports:
      - "8001:8001"
