@import '../../../../settings';

.question-local-library {
  background-color: $color-white;
  .search-description-block {
     p { margin: 32px 32px 8px}
    color: var(--base-black, #000);
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  position: relative;

  .question-local-library__table {
    .padding-x-2.search-box {
      display: none;
    }
    background-color: $color-white;
    margin: 1.5rem;
    border-radius: 3px;
    border: 1px solid $color-bg-base-lightest;
    table.usa-table {
      border-radius: 5px;
      border: 1px solid var(--base-lighter, #DCDEE0);
      border-bottom: 1px solid rgba(27, 27, 27, 0.95);
      background: var(--base-white, #FFF);
    }
    .check-title {
      display: block;
      margin-left: 64px;
    }
    thead th {
      &:nth-of-type(1) .table-head {
        margin-left: 66px;
        min-width: 100px;

      }
      &:nth-of-type(2) {
        width: 250px;
      }
      &:nth-of-type(3) {
        width: 40%;
      }
      &:nth-of-type(5) {
        width: 80px;
      }
    }
    tbody tr {
      border-bottom: 1px solid #1b1b1b;
      td {
        border: 0;
        .usa-checkbox__label::before{
          margin-top: 0.18rem;
        }
      }
    }
  }
  .footer-action {
    display: flex;
    padding: 24px 0;
    justify-content: flex-end;
    align-items: center;
    .question-action-btn {
      .cancel-btn {
        border-radius: 4px;
        border: 2px solid #005EA2;
        background: rgba(255, 255, 255, 0.00);
        color: #005EA2;
        text-align: center;
        font-family: Public Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .submit-btn {
        border-radius: 4px;
        text-align: center;
        border: 2px;
        font-family: Public Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .usa-button {
        &:disabled {
          border: 2px solid #C9C9C9;;
          background: #C9C9C9;
        }
      }
    }
  }
}
.usa-modal--lg {
  .usa-modal__main {
    max-width: unset !important;
  }
  .usa-modal__heading {
    padding: 24px;
    font-family: Public Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.question-local-library__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .search-filter {
    display: flex;
  }
  &.outer-search-box {
    border-radius: 5px;
    border-bottom: 1px solid var(--base-lighter, #DCDEE0);
    background: var(--base-lightest, #F0F0F0);
    padding: 16px;
    margin-bottom: 16px;
  }
  .search-tag {
    display: flex;
    gap: 10px;
    .tag-cover {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px 6px 4px 2px;
      border-radius: 2px;
      color: #FFFFFF;
      background: #005EA2;
      .usa-icon {
        cursor: pointer;
      }
    }
  }
  button {
    padding: 9px 16px;
    height: 40px;
    p {
      margin: 0;
      font-size: 16px;
    }
    &:first-of-type {
      border-radius: 0 4px 4px 0;
      padding: 9px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  .input {
    input {
      margin: 0;
      width: 252px;
    }
    span {
      display: none;
    }
  }
}
.filter-btn {
  margin-left: 10px;
  display: flex;
  /* align-content: flex-end; */
  align-items: center;
  svg {
    font-size: 18px;
  }
  .filter-label {
    color: #005EA2;
    text-align: center;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.no-data-available {
  border-radius: 5px;
  border: 1px solid var(--base-lighter, #DCDEE0);
  background: var(--base-white, #FFF);
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  .no-text {
    color: var(--base-black, #000);
    text-align: center;
    font-family: Public Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.edit-filter-modal {
  background-color: #f2f3f5;
  width: 370px;
  position: absolute;
  transition: transform 0.1s ease, opacity 0.1s ease;
  transform-origin: 0 0;
  padding: 24px;
  right: 42px;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid var(--base-lighter, #DCDEE0);
  background: var(--base-white, #FFF);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 10  ;
  .header-title {
    color: var(--base-black, #000);
    text-align: center;
    font-family: Public Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .check-input {
    margin-top: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--base-lighter, #DCDEE0);
  }
  .filter-input {
    height: 330px;
  }
  .action-block {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
}
.search-desc {
  color: var(--base-base, #71767A);
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}
