@use 'styles/colors';

.patient-search-result {
    &-item {
        display: flex;

        &.vertical {
            flex-direction: column;
            padding-bottom: 1rem;
        }

        &-label {
            display: block;
            color: colors.$base;
            text-transform: uppercase;
            font-size: 0.85rem;
            font-weight: normal;
            margin-right: 0.5rem;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
            word-break: break-word;
            white-space: pre-wrap;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}
