@use 'styles/colors';
@use 'styles/borders';

@mixin expanded($property) {
    transition-duration: 0.3s;
    transition-property: #{$property};
    transition-timing-function: ease-out;
}

@mixin collapsed($property) {
    transition-duration: 0.3s;
    transition-property: #{$property};
    transition-timing-function: ease-in;
}

.card {
    header {
        padding-right: 0;
    }
}

.collapsible {
    position: relative;
    max-height: auto;
    overflow: hidden;
    @include expanded('max-height');

    &.collapsed {
        @include collapsed('max-height');
        max-height: 0;
        overflow: hidden;
    }
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid colors.$base-lighter;
    min-height: 2rem;

    &.no-border {
        border-left: none;
    }

    button {
        display: flex;
        cursor: pointer;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: stretch;
        margin: 0 0.25rem;
        height: fit-content;

        svg {
            width: 1.5rem !important;
            height: 1.5rem !important;
            color: colors.$base-darker;
        }
    }
}