@use 'colors.scss';

$button-padding-small: 0.5rem 0.75rem;
$button-padding-medium: 0.75rem 1.25rem;
$icon-small: 1rem;
$icon-medium: 1.25rem;
$icon-only-small: 1.5rem;
$icon-only-medium: 1.75rem;
$icon-padding-small: 0.25rem;
$icon-padding-medium: 0.5rem;

@mixin sizedButtonIcon($height: $icon-small, $width: $icon-small) {
    svg {
        height: $height;
        width: $width;
    }
}

%icon-button {
    padding: $icon-padding-medium !important;
    @include sizedButtonIcon($icon-only-medium, $icon-only-medium);
}

.icon {
    @extend %icon-button;
    &.small {
        padding: $icon-padding-small !important;
        @include sizedButtonIcon($icon-only-small, $icon-only-small);
    }
}

.destructive {
    background-color: colors.$destructive !important;
    &:hover {
        background-color: colors.$secondary-dark !important;
    }
    &:active {
        background-color: colors.$secondary-darker !important;
    }
}

%button-small {
    padding: $button-padding-small;
    font-size: 0.875rem;
    height: auto;
    min-width: 2rem;

    @include sizedButtonIcon($icon-small, $icon-small);
}

%button-medium {
    padding: $button-padding-medium;
    font-size: 1rem;

    @include sizedButtonIcon($icon-medium, $icon-medium);
}

%button-large {
    padding: $button-padding-medium;
    font-size: 1rem;

    @include sizedButtonIcon($icon-medium, $icon-medium);
}
