@use 'colors.scss';

$button-padding-small: 0.5rem 0.75rem;
$button-padding-medium: 0.75rem 1.25rem;
$icon-small: 1rem;
$icon-medium: 1.25rem;
$icon-only-small: 1.5rem;
$icon-only-medium: 1.75rem;
$icon-padding-small: 0.25rem;
$icon-padding-medium: 0.5rem;

@mixin icon($height: $icon-small, $width: $icon-small) {
    svg {
        height: $height;
        width: $width;
    }
}

%button-small {
    padding: $button-padding-small !important;
    font-size: 0.875rem;
    min-height: 2rem;
    max-height: 2rem;
    min-width: 2rem;

    @include icon($icon-small, $icon-small);
}

%button-medium {
    padding: $button-padding-medium !important;
    font-size: 1rem;
    min-height: 2.75rem;
    max-height: 2.75rem;

    @include icon($icon-medium, $icon-medium);
}

%button-large {
    @extend %button-medium;
}

%icon-button {
    padding: $icon-padding-medium !important;
    @include icon($icon-only-medium, $icon-only-medium);
}

.button {
    appearance: none;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    column-gap: 0.5rem;
    font-weight: 700;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    --button-color: #{colors.$base-white};
    --button-background-color: #{colors.$primary};
    --button-border-color: #{colors.$primary};

    --button-color-active: #{colors.$base-white};
    --button-background-color-active: #{colors.$primary-darker};
    --button-border-color-active: #{colors.$primary-darker};

    --button-color-hover: #{colors.$base-white};
    --button-background-color-hover: #{colors.$primary-dark};
    --button-border-color-hover: --button-background-color-hover;

    --button-color-disabled: #{colors.$disabled-darkest};
    --button-background-color-disabled: #{colors.$disabled};
    --button-border-color-disabled: #{colors.$disabled};

    color: var(--button-color);
    background-color: var(--button-background-color);

    box-shadow: inset 0 0 0 2px var(--button-border-color);

    padding: var(--button-padding, #{$button-padding-medium});
    font-size: var(--button-font-size, 1rem);
    min-height: var(--button-height, 2.75rem);
    max-height: var(--button-height, 2.75rem);

    svg {
        height: var(--button-icon-size, #{$icon-medium});
        width: var(--button-icon-size, #{$icon-medium});
    }

    &:active,
    &.active {
        color: var(--button-color-active, --button-color);
        background-color: var(--button-background-color-active, --button-background-color);
        box-shadow: inset 0 0 0 2px var(--button-border-color-active, --button-border-color);
    }

    &:hover:not(:disabled) {
        color: var(--button-color-hover, --button-color);
        background-color: var(--button-background-color-hover, --button-background-color);
        box-shadow: inset 0 0 0 2px var(--button-border-color-hover, --button-border-color);
    }

    &:disabled {
        cursor: not-allowed;
        color: var(--button-color-disabled, --button-color);
        background-color: var(--button-background-color-disabled, --button-background-color);
        box-shadow: inset 0 0 0 2px var(--button-border-color-disabled, --button-border-color);
    }

    &.small {
        --button-padding: #{$button-padding-small};
        --button-font-size: 0.875rem;
        --button-height: 2rem;
        --button-icon-size: #{$icon-small};

        min-width: 2rem;
    }

    &.icon-last {
        flex-direction: row-reverse;
    }

    &.secondary {
        --button-border-color: #{colors.$primary};
        --button-background-color: transparent;
        --button-color: #{colors.$primary};

        --button-border-color-hover: #{colors.$primary-dark};
        --button-background-color-hover: var(--button-background-color);
        --button-color-hover: #{colors.$primary-dark};

        --button-color-active: #{colors.$primary-darker};
        --button-background-color-active: var(--button-background-color);
        --button-border-color-active: var(--button-color-active);

        --button-color-disabled: #{colors.$disabled-darker};
        --button-background-color-disabled: var(--button-background-color);
        --button-border-color-disabled: #{colors.$disabled-dark};

        &.destructive {
            --button-color: #{colors.$error};
            --button-border-color: #{colors.$secondary-light};

            --button-color-active: #{colors.$error-darker};
            --button-border-color-active: #{colors.$secondary-light};

            --button-border-color-hover: #{colors.$secondary-light};
            --button-color-hover: #{colors.$secondary-dark};
        }
    }

    &.tertiary {
        --button-padding: 0;
        --button-border-color: transparent;
        --button-background-color: transparent;
        --button-color: #{colors.$primary};

        --button-color-hover: #{colors.$primary-darker};
        --button-background-color-hover: var(--button-background-color);

        --button-color-active: #{colors.$primary-darker};
        --button-background-color-active: var(--button-background-color);
        --button-border-color-active: var(--button-border-color);

        --button-color-disabled: #{colors.$disabled-darker};
        --button-border-color-disabled: var(--button-background-color);
        --button-background-color-disabled: var(--button-background-color);

        &.destructive {
            --button-color: #{colors.$error};
            --button-color-hover: #{colors.$secondary-dark};
            --button-color-active: #{colors.$secondary-dark};
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &.destructive:not(.tertiary):not(.secondary) {
        --button-color: #{colors.$base-white};
        --button-background-color: #{colors.$destructive};
        --button-border-color: #{colors.$destructive};

        --button-background-color-hover: #{colors.$secondary-dark};
        --button-background-color-active: #{colors.$secondary-darker};
        --button-border-color-active: #{colors.$secondary-darker};
    }
}
