// Palette
$color-white: #ffffff;
$color-gray-5: #f0f0f0;
$color-gray-7: #dfe1e2;
$color-gray-10: #e6e6e6;
$color-gray-20: #71767a;
$color-gray-25: #a9aeb1;
$color-gray-30: #adadad;
$color-gray-50: #757575;
$color-gray-60: #565c65;
$color-gray-70: #454545;
$color-gray-80: #3d4551;
$color-gray-90: #171717;
$color-gray-95: #1b1b1b;
$color-black: #000000;

$color-red: #e52207;
$color-red-10: #f8dfe2;
$color-red-20: #f2938c;
$color-red-30: #d83933;
$color-red-40: #e41d3d;
$color-red-50: #b50909;
$color-red-60: #8b0a03;
$color-orange: #e66f0e;
$color-orange-10: #f2e4d4;
$color-orange-20: #ffbc78;
$color-orange-30: #fa9441;
$color-orange-40: #c05600;
$color-gold: #ffbe2e;
$color-yellow: #fee685;
$color-green: #538200;
$color-mint: #04c585;
$color-cyan: #009ec1;
$color-blue: #0076d6;
$color-blue-10: #d9e8f6;
$color-blue-20: #73b3e7;
$color-blue-30: #005ea2;
$color-blue-40: #0050d8;
$color-blue-50: #1a4480;
$color-blue-60: #162e51;
$color-indigo: #676cc8;
$color-violet: #8168b3;
$color-magenta: #d72d79;

// Text colours
$color-secondary-dark: $color-red-50;
$color-text-base-lightest: $color-gray-5;
$color-base-lighter: $color-gray-7;
$color-base-light: $color-gray-25;
$color-base: $color-gray-20;
$color-base-dark: $color-gray-60;
$color-base-darker: $color-gray-80;
$color-base-darkest: $color-gray-95;
$color-ink: $color-gray-95;
$color-primary-lighter: $color-gray-5;
$color-primary-light: $color-blue-20;
$color-primary: $color-blue-30;
$color-primary-vivid: $color-blue-40;
$color-primary-dark: $color-blue-50;
$color-primary-darker: $color-blue-60;
$color-secondary-lighter: $color-red-10;
$color-secondary-light: $color-red-20;
$color-secondary: $color-red-30;
$color-secondary-vivid: $color-red-40;
$color-secondary-dark: $color-red-50;
$color-secondary-darker: $color-red-60;
$color-accent-cool-lighter: $color-blue-10;
$color-accent-cool-light: $color-blue-20;
$color-accent-cool: $color-cyan;
$color-accent-cool-dark: $color-blue-20;
$color-accent-cool-darker: $color-blue-50;
$color-accent-warm-lighter: $color-red-10;
$color-accent-warm-light: $color-orange-10;
$color-accent-warm: $color-orange-20;
$color-accent-warm-dark: $color-orange-30;
$color-accent-warm-darker: $color-orange-40;
$color-emergency: $color-red-60;
$color-emergency-dark: $color-gray-80;

//Background colours
$color-bg-base-lightest: $color-gray-5;
$color-bg-base-lighter: $color-gray-7;
$color-bg-base-light: $color-gray-25;
$color-bg-base: $color-gray-20;
$color-bg-base-dark: $color-gray-60;
$color-bg-base-darker: $color-gray-80;
$color-bg-base-darkest: $color-gray-95;
$color-bg-ink: $color-gray-95;
$color-bg-primary-lighter: $color-gray-5;
$color-bg-primary-light: $color-blue-20;
$color-bg-primary: $color-blue-30;
$color-bg-primary-vivid: $color-blue-40;
$color-bg-primary-dark: $color-blue-50;
$color-bg-primary-darker: $color-blue-60;
$color-bg-secondary-lighter: $color-red-10;
$color-bg-secondary-light: $color-red-20;
$color-bg-secondary: $color-red-30;
$color-bg-secondary-vivid: $color-red-40;
$color-bg-secondary-dark: $color-red-50;
$color-bg-secondary-darker: $color-red-60;
$color-bg-accent-cool-lighter: $color-blue-10;
$color-bg-accent-cool-light: $color-blue-20;
$color-bg-accent-cool: $color-cyan;
$color-bg-accent-cool-dark: $color-blue-20;
$color-bg-accent-cool-darker: $color-blue-50;
$color-bg-accent-warm-lighter: $color-red-10;
$color-bg-accent-warm-light: $color-orange-10;
$color-bg-accent-warm: $color-orange-20;
$color-bg-accent-warm-dark: $color-orange-30;
$color-bg-accent-warm-darker: $color-orange-40;
$color-bg-emergency: $color-red-60;
$color-bg-emergency-dark: $color-gray-80;
