@use 'styles/colors';

$medium-font-size: 0.875rem;
$medium-height: 2rem;
$medium-textarea-height: 7.5rem;

%medium {
    line-height: normal;
    font-size: $medium-font-size;
}

%medium-input {
    height: $medium-height;
    width: unset;

    @extend %medium;
}

%medium-textarea {
    height: $medium-textarea-height;
    width: unset;

    @extend %medium;
}
