@use 'styles/colors';

$arrowWidth: 0.5rem;
$bubbleOffset: 0.5rem;

@mixin tooltip($messageProperty: 'aria-label') {
    position: relative;

    &::before {
        content: attr(#{$messageProperty});
        pointer-events: none;
        white-space: pre;
        position: absolute;
        color: colors.$base-lightest;
        background: colors.$base-darkest;
        padding: 0.5rem;
        border-radius: 0.25rem;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.3;
    }

    &::after {
        content: '';
        pointer-events: none;
        width: 0;
        height: 0;
        position: absolute;
        border-color: colors.$base-darkest;
        border-width: 0;
        border-style: solid;
    }

    &::before,
    &::after {
        z-index: 10000;
        transition-property: opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }

    // --- POSITIONS ---
    &[data-tooltip-position='top'] {
        // Default 'center' offset
        &:not([data-tooltip-offset])::before,
        &[data-tooltip-offset='center']::before {
            bottom: calc(100% + #{$bubbleOffset});
            left: 50%;
            transform: translateX(-50%);
        }
        &:not([data-tooltip-offset])::after,
        &[data-tooltip-offset='center']::after {
            border-right: $arrowWidth solid transparent;
            border-left: $arrowWidth solid transparent;
            border-top: $arrowWidth solid colors.$base-darkest;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        // Left offset: arrow is on the right of the bubble
        &[data-tooltip-offset='left'] {
            &::before {
                bottom: calc(100% + #{$bubbleOffset});
                right: 0;
            }
            &::after {
                border-right: $arrowWidth solid transparent;
                border-left: $arrowWidth solid transparent;
                border-top: $arrowWidth solid colors.$base-darkest;
                bottom: 100%;
                right: $arrowWidth;
            }
        }

        // Right offset: arrow is on the left of the bubble
        &[data-tooltip-offset='right'] {
            &::before {
                bottom: calc(100% + #{$bubbleOffset});
                left: 0;
            }
            &::after {
                border-right: $arrowWidth solid transparent;
                border-left: $arrowWidth solid transparent;
                border-top: $arrowWidth solid colors.$base-darkest;
                bottom: 100%;
                left: $arrowWidth;
            }
        }
    }

    &[data-tooltip-position='bottom'] {
        // Default (center) and 'center' offset logic
        &:not([data-tooltip-offset])::before,
        &[data-tooltip-offset='center']::before {
            top: calc(100% + #{$bubbleOffset});
            left: 50%;
            transform: translateX(-50%);
        }
        &:not([data-tooltip-offset])::after,
        &[data-tooltip-offset='center']::after {
            border-right: $arrowWidth solid transparent;
            border-left: $arrowWidth solid transparent;
            border-bottom: $arrowWidth solid colors.$base-darkest;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        // Left offset
        &[data-tooltip-offset='left'] {
            &::before {
                top: calc(100% + #{$bubbleOffset});
                right: 0;
            }
            &::after {
                border-right: $arrowWidth solid transparent;
                border-left: $arrowWidth solid transparent;
                border-bottom: $arrowWidth solid colors.$base-darkest;
                top: 100%;
                right: $arrowWidth;
            }
        }

        // Right offset
        &[data-tooltip-offset='right'] {
            &::before {
                top: calc(100% + #{$bubbleOffset});
                left: 0;
            }
            &::after {
                border-right: $arrowWidth solid transparent;
                border-left: $arrowWidth solid transparent;
                border-bottom: $arrowWidth solid colors.$base-darkest;
                top: 100%;
                left: $arrowWidth;
            }
        }
    }

    &[data-tooltip-position='left'] {
        &::before {
            right: calc(100% + #{$bubbleOffset});
            top: 50%;
            transform: translateY(-50%);
        }
        &::after {
            border-top: $arrowWidth solid transparent;
            border-bottom: $arrowWidth solid transparent;
            border-left: $arrowWidth solid colors.$base-darkest;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &[data-tooltip-position='right'] {
        &::before {
            left: calc(100% + #{$bubbleOffset});
            top: 50%;
            transform: translateY(-50%);
        }
        &::after {
            border-top: $arrowWidth solid transparent;
            border-bottom: $arrowWidth solid transparent;
            border-right: $arrowWidth solid colors.$base-darkest;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

[data-tooltip-position][aria-label] {
    @include tooltip();

    &::before,
    &::after {
        visibility: hidden;
        opacity: 0;
    }

    &:hover {
        &::before,
        &::after {
            visibility: visible;
            opacity: 1;
        }
    }
}