button {
    white-space: nowrap;
}

.padding-x-3 {
    padding:  0.75rem 1.25rem;
}
.usa-button {
    padding:  0.75rem 1.25rem;
    width: auto;
}
.width-full {
    width: 100%;
}
img {
    margin-left: 6px;
}
