@use 'styles/colors';
@use 'mixins/viewports';
@use 'styles/borders';

@import '@trussworks/react-uswds/lib/uswds.css';
@import '@trussworks/react-uswds/lib/index.css';

$theme-image-path: '~uswds/src/img';
$theme-font-path: '~uswds/src/fonts';
$theme-hero-image: '~uswds/src/img/hero.png';

table.usa-table {
    overflow-x: auto;
    table-layout: fixed;
    width: 100%;
    thead {
        width: 100%;
    }
}
@include viewports.tablet {
    table.usa-table {
        display: block;
        table-layout: auto;
        overflow-x: auto;
    }
}

// Modal styling override
.usa-modal-wrapper.is-visible {
    max-height: 100vh;
    .usa-modal-overlay {
        max-height: 100vh;
        .usa-modal--lg {
            max-height: 85vh;
            .usa-modal__content {
                max-height: 85vh;
            }
        }
        .usa-modal {
            .usa-modal__content {
                .usa-modal__main {
                    .usa-modal__footer {
                        margin-top: 0;
                        @extend %thin-top;
                    }
                }
            }
        }
    }
}

.usa-modal__main {
    margin: 0 !important;
    padding: 0 !important;
}

.usa-modal__content {
    padding: 0 !important;
    position: relative;

    .usa-button-group {
        justify-content: flex-end;
    }
}
.usa-modal__close {
    position: absolute;
    top: 40px;
    right: 0;
}

// Default button styling
button.usa-button {
    font-size: 1rem;

    svg {
        vertical-align: bottom;
    }
}
.usa-button:disabled,
.usa-button--outline-disabled,
.usa-button--outline:disabled {
    color: colors.$base-white !important;
    background-color: colors.$disabled !important;
    cursor: default;
}

.usa-pagination__button:active,
.usa-pagination__button:focus,
.usa-pagination__button:hover {
    border: 1px solid colors.$primary-dark !important;
}
