@use 'styles/colors';
@use 'styles/components';

@forward 'styles/headers';
@forward 'styles/uswds';
@forward 'styles/typography';
@forward 'styles/modal';
@forward 'styles/tooltip';

body {
    height: 100vh;
    background-color: colors.$background;
}

#root {
    height: 100%;
}

a {
    scroll-behavior: smooth;
    color: colors.$primary;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
