@use 'styles/colors';
.boundEntry {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & > div input {
        margin: 0;
    }
    &.hasError {
        padding-left: 1rem;
        border-left: solid 4px colors.$secondary-dark;

        & > div input {
            border: solid 4px colors.$secondary-dark;
        }
    }
}
