USE [RDB];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
IF OBJECT_ID('rdb.dbo.[sp_nbs_batch_start_activity]', 'P') IS NOT NULL
    BEGIN
        DROP PROCEDURE dbo.sp_nbs_batch_start_activity;
END;
GO
IF OBJECT_ID('rdb.dbo.[sp_nbs_batch_log_activity]', 'P') IS NOT NULL
    BEGIN
        DROP PROCEDURE dbo.sp_nbs_batch_log_activity;
END;
GO
ALTER TABLE ACTIVITY_LOG_MASTER NOCHECK CONSTRAINT ALL;
GO
ALTER TABLE ACTIVITY_LOG_DETAIL NOCHECK CONSTRAINT ALL;
GO
CREATE PROCEDURE [dbo].[sp_nbs_batch_start_activity] @batch_id BIGINT
AS
    BEGIN
        INSERT INTO [RDB].[dbo].[ACTIVITY_LOG_MASTER]
        ([activity_log_master_uid], 
         [start_date], 
         [end_date], 
         [refresh_ind], 
         [REFRESH_DESCRIPTION], 
         [extended_refresh_description], 
         [batch_start_date], 
         [batch_end_date]
        )
               SELECT [batch_id], 
                      [batch_start_dttm], 
                      [batch_end_dttm], 
                      [Status_Type], 
                      [Msg_Description1], 
                      [Msg_Description2], 
                      [create_dttm], 
                      [update_dttm]
               FROM [RDB].[dbo].[job_batch_log]
               WHERE batch_id = @batch_id;
    END;
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
CREATE PROCEDURE [dbo].[sp_nbs_batch_log_activity] @batch_id     BIGINT, 
                                                   @package_Name VARCHAR(500)
AS
    BEGIN
        DECLARE @activity_log_detail_uid BIGINT;
        SELECT @activity_log_detail_uid = ISNULL(MAX(activity_log_detail_uid), 1)
        FROM rdb..ACTIVITY_LOG_DETAIL;
        INSERT INTO rdb..ACTIVITY_LOG_DETAIL
        (activity_log_detail_uid, 
         activity_log_master_uid, 
         module_name, 
         db_object_name, 
         subStep_status, 
         subStep_number, 
         subStep_description, 
         row_count_insert, 
         subStep_start_date, 
         subStep_end_date
        )
               SELECT 
               --@activity_log_detail_uid+(ROW_NUMBER() OVER (ORDER BY [record_id]))
               @activity_log_detail_uid + record_id, 
               batch_id, 
               [Dataflow_Name], 
               [package_Name], 
               [Status_Type], 
               [step_number], 
               [step_name], 
               [row_count], 
               create_dttm, 
               update_dttm
               FROM rdb..job_flow_log
               WHERE package_Name = @package_Name
                     AND batch_id = @batch_id
               ORDER BY [record_id];
    END;
GO