
USE [RDB];
GO

SET ANSI_NULLS ON; 
GO

SET QUOTED_IDENTIFIER ON;
GO

IF OBJECT_ID('rdb.dbo.sp_SLD_INVESTIGATION_REPEAT', 'P') IS NOT NULL
BEGIN
	DROP PROCEDURE sp_SLD_INVESTIGATION_REPEAT;
END;
GO

CREATE PROCEDURE [dbo].[sp_SLD_INVESTIGATION_REPEAT] 
				 @batch_id bigint
AS
BEGIN
	DECLARE @RowCount_no int;
	DECLARE @Proc_Step_no float= 0;
	DECLARE @Proc_Step_Name varchar(200)= '';
	DECLARE @batch_start_time datetime2(7)= NULL;
	DECLARE @batch_end_time datetime2(7)= NULL;

	BEGIN TRY

		SET @Proc_Step_no = 1;
		SET @Proc_Step_Name = 'SP_Start';

		BEGIN TRANSACTION;

		INSERT INTO rdb.[dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
		VALUES( @batch_id, 'INVESTIGATION_REPEAT', 'RDB.SLD_INVESTIGATION_REPEAT', 'START', @Proc_Step_no, @Proc_Step_Name, 0 );

		COMMIT TRANSACTION;

		SELECT @batch_start_time = batch_start_dttm, @batch_end_time = batch_end_dttm
		FROM [dbo].[job_batch_log]
		WHERE type_code = 'MasterETL' AND 
			  status_type = 'start';

		BEGIN TRANSACTION;

		/* BEGIN - Check to see if there is an entry in job_batch_rebuild_log table to rebuild PB Repeating Questions dimension*/

		IF OBJECT_ID('job_batch_rebuild_log') IS NOT NULL
		BEGIN
			DECLARE @count int;
			SET @count =
			(
				SELECT COUNT(*)
				FROM rdb..job_batch_rebuild_log
				WHERE Status_Type = 'start' AND 
					  type_code = 'PB_RPT_DIMENSION'
			);
			IF(@count > 0)
			BEGIN
				SET @batch_start_time =
				(
					SELECT MAX(batch_start_dttm)
					FROM rdb..job_batch_rebuild_log
					WHERE type_code = 'PB_RPT_DIMENSION' AND 
						  status_type = 'start'
				);
			END;
			UPDATE rdb..job_batch_rebuild_log
			  SET batch_end_dttm = @batch_end_time, status_type = 'complete'
			WHERE type_code = 'PB_RPT_DIMENSION' AND 
				  status_type = 'start';
		END;

		/* END - Check to see if there is an entry in job_batch_rebuild_log table to rebuild PB Repeating Questions dimension*/

	COMMIT TRANSACTION;
	BEGIN TRANSACTION;

		SET @Proc_Step_no = 2;
		SET @Proc_Step_Name = ' Generating phc_uids_REPT';

		IF OBJECT_ID('rdb.dbo.phc_uids_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.phc_uids_REPT;
		END;

		SELECT PUBLIC_HEALTH_CASE_UID AS 'PAGE_CASE_UID', INVESTIGATION_FORM_CD, CD, LAST_CHG_TIME
		INTO rdb.dbo.phc_uids_REPT
		FROM NBS_ODSE.dbo.PUBLIC_HEALTH_CASE WITH(NOLOCK), NBS_SRTE.dbo.CONDITION_CODE WITH(NOLOCK)
		WHERE CONDITION_CODE.CONDITION_CD = PUBLIC_HEALTH_CASE.CD AND 
			  INVESTIGATION_FORM_CD NOT IN( 'INV_FORM_BMDGAS', 'INV_FORM_BMDGBS', 'INV_FORM_BMDGEN', 'INV_FORM_BMDNM', 'INV_FORM_BMDSP', 'INV_FORM_GEN', 'INV_FORM_HEPA', 'INV_FORM_HEPBV', 'INV_FORM_HEPCV', 'INV_FORM_HEPGEN', 'INV_FORM_MEA', 'INV_FORM_PER', 'INV_FORM_RUB', 'INV_FORM_RVCT', 'INV_FORM_VAR' ) AND 
			  LAST_CHG_TIME >= @batch_start_time AND 
			  LAST_CHG_TIME < @batch_end_time;

		CREATE NONCLUSTERED INDEX [RDB_PERF_INTERNAL_02]
ON [dbo].[phc_uids_REPT]
		( [PAGE_CASE_UID]
		) 
			   INCLUDE( [INVESTIGATION_FORM_CD], [LAST_CHG_TIME] );

		SELECT @RowCount_no = @@ROWCOUNT;

		INSERT INTO rdb.[dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
		VALUES( @batch_id, 'INVESTIGATION_REPEAT', 'RDB.SLD_INVESTIGATION_REPEAT', 'START', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );

		COMMIT TRANSACTION;

		BEGIN TRANSACTION;

		SET @Proc_Step_no = 3;
		SET @Proc_Step_Name = ' Generating TEXT_METADATA_REPT';

		IF OBJECT_ID('rdb.dbo.TEXT_METADATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.TEXT_METADATA_REPT;
		END;

		SELECT DISTINCT 
			   NUIM.QUESTION_GROUP_SEQ_NBR, NUIM.NBS_QUESTION_UID, NUIM.CODE_SET_GROUP_ID, LTRIM(RTRIM(RDB_COLUMN_NM)) AS RDB_COLUMN_NM, NUIM.INVESTIGATION_FORM_CD, NUIM.BLOCK_NM, NUIM.QUESTION_GROUP_SEQ_NBR AS QUESTION_GROUP_SEQ_NBR1
		INTO rdb.dbo.TEXT_METADATA_REPT
		FROM NBS_ODSE.dbo.NBS_RDB_METADATA AS NRDBM WITH(NOLOCK)
			 INNER JOIN
			 NBS_ODSE.dbo.NBS_UI_METADATA AS NUIM WITH(NOLOCK)
			 ON NUIM.NBS_UI_METADATA_UID = NRDBM.NBS_UI_METADATA_UID
			 INNER JOIN
			 NBS_SRTE.dbo.CODE_VALUE_GENERAL AS CVG WITH(NOLOCK)
			 ON UPPER(CVG.CODE) = UPPER(NUIM.DATA_TYPE)
		WHERE CVG.CODE_SET_NM = 'NBS_DATA_TYPE' AND 
			  CODE = 'TEXT' AND 
			  QUESTION_GROUP_SEQ_NBR IS NOT NULL
		ORDER BY NBS_QUESTION_UID;

		CREATE INDEX idx_NBS_QUESTION_UID
ON rdb.dbo.TEXT_METADATA_REPT
		( NBS_QUESTION_UID
		);

		IF OBJECT_ID('rdb.dbo.NBS_CASE_ANSWER_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NBS_CASE_ANSWER_REPT;
		END;
 
		-- CREATE TABLE  NBS_CASE_ANSWER AS 
		SELECT NCA.*, INVESTIGATION_FORM_CD
		INTO rdb.dbo.NBS_CASE_ANSWER_REPT
		FROM NBS_ODSE.dbo.NBS_CASE_ANSWER AS NCA WITH(NOLOCK)
			 INNER JOIN
			 rdb.dbo.phc_uids_REPT AS pc
			 ON pc.PAGE_CASE_UID = NCA.ACT_UID AND 
				NCA.ANSWER_GROUP_SEQ_NBR IS NOT NULL;

		CREATE NONCLUSTERED INDEX [RDB_PERF_INTERNAL_04]
ON [dbo].[NBS_CASE_ANSWER_REPT]
		( [answer_group_seq_nbr]
		) 
			   INCLUDE( [nbs_case_answer_uid], [act_uid], [answer_txt], [nbs_question_uid], [record_status_cd], [INVESTIGATION_FORM_CD] );
		CREATE NONCLUSTERED INDEX [RDB_PERF_INTERNAL_05]
ON [dbo].[NBS_CASE_ANSWER_REPT]
		( [nbs_question_uid], [INVESTIGATION_FORM_CD]
		) 
			   INCLUDE( [nbs_case_answer_uid], [act_uid], [answer_txt], [record_status_cd], [answer_group_seq_nbr] );

		IF OBJECT_ID('rdb.dbo.TEXT_DATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.TEXT_DATA_REPT;
		END;

		SELECT DISTINCT 
			   NBS_CASE_ANSWER_UID, PA.ANSWER_GROUP_SEQ_NBR, CAST(REPLACE(ANSWER_TXT, CHAR(13) + CHAR(10), ' ') AS varchar(2000)) AS ANSWER_TXT, COALESCE(ACT_UID, 0) AS PAGE_CASE_UID_TEXT, PA.RECORD_STATUS_CD, tmeta.*
		INTO rdb.dbo.TEXT_DATA_REPT
		FROM rdb.dbo.TEXT_METADATA_REPT AS tmeta WITH(NOLOCK) LEFT
			 OUTER JOIN
			 rdb.dbo.NBS_CASE_ANSWER_REPT AS PA
			 ON tmeta.NBS_QUESTION_UID = PA.NBS_QUESTION_UID AND 
				tmeta.INVESTIGATION_FORM_CD = PA.INVESTIGATION_FORM_CD AND 
				PA.ANSWER_GROUP_SEQ_NBR IS NOT NULL;

		IF OBJECT_ID('rdb.dbo.TEXT_DATA_REPT_out', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.TEXT_DATA_REPT_out;
		END;

		DECLARE @columns nvarchar(max);
		DECLARE @sql nvarchar(max);

		SET @columns = N'';

		SELECT @columns+=N', p.' + QUOTENAME([RDB_COLUMN_NM])
		FROM
		(
			SELECT [RDB_COLUMN_NM]
			FROM rdb.[dbo].text_data_REPT AS p
			GROUP BY [RDB_COLUMN_NM]
		) AS x;
		SET @sql = N'
				SELECT [PAGE_CASE_UID_text] as PAGE_CASE_UID_text,
				BLOCK_NM as BLOCK_NM_text, ANSWER_GROUP_SEQ_NBR as ANSWER_GROUP_SEQ_NBR_text, ' + STUFF(@columns, 1, 2, '') + ' into  rdb.dbo.TEXT_DATA_REPT_out ' + 'FROM (
				SELECT [PAGE_CASE_UID_text], BLOCK_NM, ANSWER_GROUP_SEQ_NBR, [answer_txt] , [RDB_COLUMN_NM] 
					FROM rdb.[dbo].text_data_REPT
					where PAGE_CASE_UID_text > 0 
					group by [PAGE_CASE_UID_text], BLOCK_NM, ANSWER_GROUP_SEQ_NBR, [answer_txt] , [RDB_COLUMN_NM] 
						) AS j PIVOT (max(answer_txt) FOR [RDB_COLUMN_NM] in 
						(' + STUFF(REPLACE(@columns, ', p.[', ',['), 1, 1, '') + ')) AS p;';

		PRINT @sql;
		EXEC sp_executesql @sql;

		IF OBJECT_ID('rdb.dbo.CODED_METADATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_METADATA_REPT;
		END;

		SELECT DISTINCT 
			   NUIM.QUESTION_GROUP_SEQ_NBR, NUIM.NBS_QUESTION_UID, NUIM.CODE_SET_GROUP_ID, UPPER(LTRIM(RTRIM(NRDBM.RDB_COLUMN_NM))) AS RDB_COLUMN_NM, NUIM.QUESTION_GROUP_SEQ_NBR AS QUESTION_GROUP_SEQ_NBR1, NUIM.INVESTIGATION_FORM_CD, NUIM.BLOCK_NM, NUIM.OTHER_VALUE_IND_CD
		INTO rdb.dbo.CODED_METADATA_REPT
		FROM NBS_ODSE.dbo.NBS_RDB_METADATA AS NRDBM WITH(NOLOCK)
			 INNER JOIN
			 NBS_ODSE.dbo.NBS_UI_METADATA AS NUIM WITH(NOLOCK)
			 ON NUIM.NBS_UI_METADATA_UID = NRDBM.NBS_UI_METADATA_UID
			 INNER JOIN
			 NBS_SRTE.dbo.CODE_VALUE_GENERAL AS CVG WITH(NOLOCK)
			 ON CVG.CODE = NUIM.DATA_TYPE
		WHERE CVG.CODE_SET_NM = 'NBS_DATA_TYPE' AND 
			  CODE = 'CODED' AND 
			  QUESTION_GROUP_SEQ_NBR IS NOT NULL
		ORDER BY NUIM.CODE_SET_GROUP_ID;



		IF OBJECT_ID('rdb.dbo.CODED_TABLE_TEMP_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_TEMP_REPT;
		END;
		-- CREATE TABLE  	CODED_TABLE AS
		SELECT DISTINCT 
			   NBS_CASE_ANSWER_UID, PA.ANSWER_GROUP_SEQ_NBR, CAST(ANSWER_TXT AS varchar(2000)) AS ANSWER_TXT, ACT_UID AS 'PAGE_CASE_UID', PA.RECORD_STATUS_CD, Cmeta.*, CAST(NULL AS [varchar](30)) AS RDB_COLUMN_NM2, CAST(NULL AS [varchar](256)) AS ANSWER_OTH
		INTO rdb.dbo.CODED_TABLE_TEMP_REPT
		FROM rdb.dbo.CODED_METADATA_REPT AS Cmeta LEFT
			 JOIN
			 rdb.dbo.NBS_CASE_ANSWER_REPT AS PA
			 ON Cmeta.NBS_QUESTION_UID = PA.NBS_QUESTION_UID AND 
				Cmeta.INVESTIGATION_FORM_CD = PA.INVESTIGATION_FORM_CD AND 
				ANSWER_GROUP_SEQ_NBR IS NOT NULL
			 ORDER BY ACT_UID;



		UPDATE rdb.dbo.coded_table_TEMP_REPT
		  SET ANSWER_OTH = SUBSTRING(ANSWER_TXT, CHARINDEX('^', ANSWER_TXT) + 1, LEN(RTRIM(LTRIM(ANSWER_TXT))))
		WHERE CHARINDEX('^', ANSWER_TXT) > 0;

		UPDATE rdb.dbo.coded_table_TEMP_REPT
		  SET ANSWER_TXT = SUBSTRING(ANSWER_TXT, 1, ( CHARINDEX('^', ANSWER_TXT) - 1 ))
		WHERE CHARINDEX('^', ANSWER_TXT) > 0;

		UPDATE rdb.dbo.coded_table_TEMP_REPT
		  SET RDB_COLUMN_NM2 = SUBSTRING(RDB_COLUMN_NM, 1, 22)
		WHERE OTHER_VALUE_IND_CD = 'T';

		UPDATE rdb.dbo.coded_table_TEMP_REPT
		  SET ANSWER_TXT = 'OTH'
		WHERE UPPER(ANSWER_TXT) LIKE 'OTH^%';

		IF OBJECT_ID('rdb.dbo.CODED_TABLE_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_REPT;
		END;

		-- CREATE TABLE 	CODED_TABLE AS 
		SELECT DISTINCT 
			   ANSWER_GROUP_SEQ_NBR, CODED.CODE_SET_GROUP_ID, PAGE_CASE_UID, NBS_QUESTION_UID, NBS_CASE_ANSWER_UID, CAST(ANSWER_TXT AS varchar(2000)) AS ANSWER_TXT, CVG.CODE_SET_NM, RDB_COLUMN_NM, ANSWER_OTH, RDB_COLUMN_NM2, CODE, CODE_SHORT_DESC_TXT AS 'ANSWER_TXT1', INVESTIGATION_FORM_CD, BLOCK_NM, OTHER_VALUE_IND_CD
		INTO rdb.dbo.CODED_TABLE_REPT
		FROM rdb.dbo.CODED_TABLE_TEMP_REPT AS CODED LEFT
			 JOIN
			 NBS_SRTE.dbo.CODESET_GROUP_METADATA AS METADATA
			 ON METADATA.CODE_SET_GROUP_ID = CODED.CODE_SET_GROUP_ID LEFT
													JOIN
													NBS_SRTE.dbo.CODE_VALUE_GENERAL AS CVG
													ON CVG.CODE_SET_NM = METADATA.CODE_SET_NM AND 
													   CVG.CODE = CODED.ANSWER_TXT;

		CREATE NONCLUSTERED INDEX [RDB_PERF_INTERNAL_01]
ON [dbo].[CODED_TABLE_REPT]
		( [CODE_SET_GROUP_ID]
		) 
			   INCLUDE( [ANSWER_GROUP_SEQ_NBR], [PAGE_CASE_UID], [NBS_QUESTION_UID], [NBS_CASE_ANSWER_UID], [ANSWER_TXT], [RDB_COLUMN_NM], [ANSWER_OTH], [RDB_COLUMN_NM2], [INVESTIGATION_FORM_CD], [BLOCK_NM] );

		IF OBJECT_ID('rdb.dbo.CODED_TABLE_DESC_REPT_TEMP', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_DESC_REPT_TEMP;
		END;


		SELECT p1.PAGE_CASE_UID, p1.ANSWER_GROUP_SEQ_NBR, p1.NBS_QUESTION_UID, STUFF(
		(
			SELECT TOP 10 ' | ' + ANSWER_TXT1
			FROM [RDB].[dbo].[CODED_TABLE_REPT] AS p2
			WHERE p2.PAGE_CASE_UID = p1.PAGE_CASE_UID AND 
				  p2.nbs_question_uid = p1.NBS_QUESTION_UID AND 
				  p2.ANSWER_GROUP_SEQ_NBR = p1.ANSWER_GROUP_SEQ_NBR AND 
				  p2.ANSWER_GROUP_SEQ_NBR = p1.ANSWER_GROUP_SEQ_NBR
			ORDER BY PAGE_CASE_UID, ANSWER_GROUP_SEQ_NBR, NBS_QUESTION_UID, NBS_CASE_ANSWER_UID DESC FOR XML PATH(''), TYPE
		).value( '.', 'varchar(2000)' ), 1, 3, '') AS ANSWER_DESC11
		INTO [RDB].[dbo].[CODED_TABLE_DESC_REPT_TEMP]
		FROM [RDB].[dbo].[CODED_TABLE_REPT] AS p1
		--where  nbs_question_uid is not null
		GROUP BY PAGE_CASE_UID, RDB_COLUMN_NM, NBS_QUESTION_UID, ANSWER_GROUP_SEQ_NBR;

		IF OBJECT_ID('rdb.dbo.CODED_TABLE_DESC_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_DESC_REPT;
		END;

		SELECT ct.*, COALESCE(ctt.answer_desc11, ct.answer_txt1) AS answer_desc11
		INTO rdb.dbo.CODED_TABLE_DESC_REPT
		FROM [RDB].[dbo].[CODED_TABLE_REPT] AS ct LEFT
			 OUTER JOIN
			 rdb.dbo.[CODED_TABLE_DESC_REPT_TEMP] AS ctt
			 ON ct.PAGE_CASE_UID = ctt.PAGE_CASE_UID AND 
				ct.NBS_QUESTION_UID = ctt.NBS_QUESTION_UID AND 
				ct.ANSWER_GROUP_SEQ_NBR = ctt.ANSWER_GROUP_SEQ_NBR;

		IF OBJECT_ID('rdb.dbo.CODED_COUNTY_TABLE_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_COUNTY_TABLE_REPT;
		END;

		SELECT ANSWER_GROUP_SEQ_NBR, CODED.CODE_SET_GROUP_ID, PAGE_CASE_UID, NBS_QUESTION_UID, NBS_CASE_ANSWER_UID, CAST(ANSWER_TXT AS varchar(2000)) AS ANSWER_TXT, CVG.CODE_SET_NM, RDB_COLUMN_NM, ANSWER_OTH, RDB_COLUMN_NM2, CVG.CODE, CODE_SHORT_DESC_TXT AS 'ANSWER_TXT1', INVESTIGATION_FORM_CD, BLOCK_NM
		INTO rdb.dbo.CODED_COUNTY_TABLE_REPT
		FROM rdb.dbo.CODED_TABLE_REPT AS CODED WITH(NOLOCK) LEFT
			 JOIN
			 NBS_SRTE.dbo.CODESET_GROUP_METADATA AS METADATA WITH(NOLOCK)
			 ON METADATA.CODE_SET_GROUP_ID = CODED.CODE_SET_GROUP_ID LEFT
															JOIN
															NBS_SRTE.dbo.V_STATE_COUNTY_CODE_VALUE AS CVG WITH(NOLOCK)
															ON CVG.CODE_SET_NM = METADATA.CODE_SET_NM AND 
															   CVG.CODE = CODED.ANSWER_TXT
		WHERE METADATA.CODE_SET_NM = 'COUNTY_CCD';

		IF OBJECT_ID('rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT_TEMP', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT_TEMP;
		END;

		SELECT p1.PAGE_CASE_UID, p1.ANSWER_GROUP_SEQ_NBR, p1.NBS_QUESTION_UID, STUFF(
		(
			SELECT TOP 10 ' |' + ANSWER_TXT1
			FROM [RDB].[dbo].[CODED_COUNTY_TABLE_REPT] AS p2
			WHERE p2.PAGE_CASE_UID = p1.PAGE_CASE_UID AND 
				  p2.nbs_question_uid = p1.NBS_QUESTION_UID AND 
				  p2.ANSWER_GROUP_SEQ_NBR = p1.ANSWER_GROUP_SEQ_NBR
			ORDER BY PAGE_CASE_UID, ANSWER_GROUP_SEQ_NBR, NBS_QUESTION_UID, NBS_CASE_ANSWER_UID DESC FOR XML PATH(''), TYPE
		).value( '.', 'varchar(2000)' ), 1, 2, '') AS ANSWER_DESC11
		INTO [RDB].[dbo].[CODED_COUNTY_TABLE_DESC_REPT_TEMP]
		FROM [RDB].[dbo].[CODED_COUNTY_TABLE_REPT] AS p1
		GROUP BY PAGE_CASE_UID, ANSWER_GROUP_SEQ_NBR, NBS_QUESTION_UID;

		IF OBJECT_ID('rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT;
		END;

		SELECT cct.*, CAST(NULL AS char(1)) AS OTHER_VALUE_IND_CD, cctt.answer_desc11
		INTO [RDB].[dbo].[CODED_COUNTY_TABLE_DESC_REPT]
		FROM [RDB].[dbo].[CODED_COUNTY_TABLE_REPT] AS cct LEFT
			 OUTER JOIN
			 rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT_TEMP AS cctt
			 ON cct.PAGE_CASE_UID = cctt.PAGE_CASE_UID AND 
				cct.ANSWER_GROUP_SEQ_NBR = cctt.ANSWER_GROUP_SEQ_NBR AND 
				cct.NBS_QUESTION_UID = cctt.NBS_QUESTION_UID;

		IF OBJECT_ID('rdb.dbo.CODED_TABLE_OTH_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_OTH_REPT;
		END;

		-- CREATE TABLE  CODED_TABLE_OTH_REPT AS
		SELECT *, CAST(NULL AS [varchar](2000)) AS ANSWER_DESC11
		INTO rdb.dbo.CODED_TABLE_OTH_REPT
		FROM rdb.dbo.CODED_TABLE_REPT
		WHERE OTHER_VALUE_IND_CD = 'T';

		UPDATE rdb.dbo.CODED_TABLE_OTH_REPT
		  SET ANSWER_TXT = '', PAGE_CASE_UID = '', NBS_CASE_ANSWER_UID = ''
		WHERE ANSWER_TXT NOT LIKE 'OTH%';

		--DATA CODED_TABLE_OTH;
		UPDATE rdb.dbo.CODED_TABLE_OTH_REPT
		  SET RDB_COLUMN_NM = RTRIM(LTRIM(RDB_COLUMN_NM2)) + '_OTH';

		UPDATE rdb.dbo.CODED_TABLE_OTH_REPT
		  SET ANSWER_TXT = 'OTH'
		WHERE UPPER(ANSWER_TXT) LIKE 'OTH%';

		UPDATE rdb.dbo.CODED_TABLE_OTH_REPT
		  SET ANSWER_DESC11 = ANSWER_OTH
		WHERE(LEN(LTRIM(RTRIM(RDB_COLUMN_NM2))) > 0);

		--- ************************************************

		IF OBJECT_ID('rdb.dbo.rdb_ui_metadata_rept_temp', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.rdb_ui_metadata_rept_temp;
		END;
			
		--		CREATE TABLE  rdb_ui_metadata as 
		SELECT DISTINCT 
			   NUIM.NBS_QUESTION_UID, COALESCE(NUIM.CODE_SET_GROUP_ID, unit_value) AS CODE_SET_GROUP_ID, NUIM.investigation_form_cd, RTRIM(LTRIM(NRDBM.RDB_COLUMN_NM)) AS RDB_COLUMN_NM, NUIM.unit_value, NUIM.INVESTIGATION_FORM_CD AS INVESTIGATION_FORM_CD1, NUIM.BLOCK_NM, CODE_SET_GROUP_ID AS CODE_SET_GROUP_ID1, QUESTION_GROUP_SEQ_NBR, DATA_TYPE, UNIT_VALUE AS UNIT_VALUE1, UNIT_TYPE_CD
		INTO rdb.dbo.rdb_ui_metadata_rept_temp
		FROM NBS_ODSE.dbo.NBS_RDB_METADATA AS NRDBM WITH(NOLOCK), NBS_ODSE.dbo.NBS_UI_METADATA AS NUIM WITH(NOLOCK)
		WHERE NRDBM.NBS_UI_METADATA_UID = NUIM.NBS_UI_METADATA_UID AND 
			  QUESTION_GROUP_SEQ_NBR IS NOT NULL AND 
			  ( UPPER(DATA_TYPE) = 'NUMERIC' AND 
				UPPER(unit_type_cd) = 'CODED'
			  );

		IF OBJECT_ID('rdb.dbo.RDB_UI_METADATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.RDB_UI_METADATA_REPT;
		END;

		SELECT *
		INTO [RDB].[dbo].RDB_UI_METADATA_REPT
		FROM
		(
			SELECT *, ROW_NUMBER() OVER(PARTITION BY NBS_QUESTION_UID
			ORDER BY NBS_QUESTION_UID) AS rowid
			FROM [RDB].[dbo].RDB_UI_METADATA_REPT_TEMP
		) AS Der;

		IF OBJECT_ID('rdb.dbo.CODED_TABLE_SNTEMP_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_SNTEMP_REPT;
		END;
				 
		--CREATE TABLE  CODED_TABLE_SNTEMP AS
		SELECT NBS_CASE_ANSWER_UID, ANSWER_GROUP_SEQ_NBR, rdb_ui_metadata_rept.CODE_SET_GROUP_ID, RDB_COLUMN_NM, CAST(ANSWER_TXT AS varchar(2000)) AS ANSWER_TXT, ACT_UID AS 'PAGE_CASE_UID', PA.RECORD_STATUS_CD, rdb_ui_metadata_rept.NBS_QUESTION_UID, rdb_ui_metadata_rept.INVESTIGATION_FORM_CD, rdb_ui_metadata_rept.BLOCK_NM, UNIT_TYPE_CD, CAST(NULL AS [varchar](100)) AS ANSWER_TXT_CODE, CAST(NULL AS [varchar](256)) AS ANSWER_VALUE
		INTO rdb.dbo.CODED_TABLE_SNTEMP_REPT
		FROM rdb.dbo.rdb_ui_metadata_rept WITH(NOLOCK) LEFT
			 OUTER JOIN
			 NBS_ODSE.dbo.NBS_CASE_ANSWER AS PA WITH(NOLOCK)
			 ON rdb_ui_metadata_rept.nbs_question_uid = PA.nbs_question_uid LEFT
													   JOIN
													   rdb.dbo.phc_uids_REPT
													   ON rdb.dbo.phc_uids_REPT.PAGE_CASE_UID = PA.act_uid
																			INNER JOIN
																			NBS_SRTE.dbo.CODE_VALUE_GENERAL AS CVG WITH(NOLOCK)
																			ON UPPER(CVG.CODE) = UPPER(rdb_ui_metadata_rept.DATA_TYPE)
		WHERE CVG.CODE_SET_NM = 'NBS_DATA_TYPE' AND 
			  UPPER(data_type) = 'NUMERIC' AND 
			  ( phc_uids_REPT.investigation_form_cd IS NULL OR 
				phc_uids_REPT.investigation_form_cd = rdb_ui_metadata_rept.investigation_form_cd
			  ) AND 
			  QUESTION_GROUP_SEQ_NBR IS NOT NULL AND 
			  ( phc_uids_REPT.LAST_CHG_TIME <= pa.last_chg_time OR 
				pa.act_uid IS NULL
			  );

		UPDATE rdb.dbo.CODED_TABLE_SNTEMP_REPT
		  SET ANSWER_TXT_CODE = SUBSTRING(ANSWER_TXT, CHARINDEX('^', ANSWER_TXT) + 1, LEN(RTRIM(ANSWER_TXT))), ANSWER_VALUE = REPLACE(SUBSTRING(ANSWER_TXT, 1, ( CHARINDEX('^', ANSWER_TXT) - 1 )), ',', '')
		WHERE CHARINDEX('^', ANSWER_TXT) > 0;

		UPDATE rdb.dbo.CODED_TABLE_SNTEMP_REPT
		  SET ANSWER_VALUE = ANSWER_TXT
		WHERE CHARINDEX('^', ANSWER_TXT) = 0;

		IF OBJECT_ID('rdb.dbo.CODED_TABLE_SNTEMP_TRANS_A_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_SNTEMP_TRANS_A_REPT;
		END;

		--CREATE TABLE 	CODED_TABLE_SNTEMP_TRANS_A AS  
		SELECT CODED.CODE_SET_GROUP_ID, PAGE_CASE_UID, ANSWER_TXT_CODE, ANSWER_VALUE, NBS_CASE_ANSWER_UID, CVG.CODE_SET_NM, RDB_COLUMN_NM, CVG.CODE, CODE_SHORT_DESC_TXT AS ANSWER_TXT2, INVESTIGATION_FORM_CD, BLOCK_NM, ANSWER_GROUP_SEQ_NBR, UNIT_TYPE_CD, CAST(NULL AS varchar(100)) AS ANSWER_DESC11
		INTO rdb.dbo.CODED_TABLE_SNTEMP_TRANS_A_REPT
		FROM rdb.dbo.CODED_TABLE_SNTEMP_REPT AS CODED LEFT
			 JOIN
			 NBS_SRTE.dbo.CODESET_GROUP_METADATA AS METADATA
			 ON METADATA.CODE_SET_GROUP_ID = CODED.CODE_SET_GROUP_ID LEFT
													  JOIN
													  NBS_SRTE.dbo.CODE_VALUE_GENERAL AS CVG
													  ON CVG.CODE_SET_NM = METADATA.CODE_SET_NM AND 
														 CVG.CODE = CODED.ANSWER_TXT_CODE
			 ORDER BY NBS_CASE_ANSWER_UID, RDB_COLUMN_NM;

		UPDATE rdb.dbo.CODED_TABLE_SNTEMP_TRANS_A_REPT
		  SET ANSWER_DESC11 = LTRIM(RTRIM(ANSWER_VALUE))
		WHERE LEN(UNIT_TYPE_CD) > 0 AND 
			  UPPER(UNIT_TYPE_CD) = 'CODED' AND
			  isNumeric(ANSWER_VALUE) = 1
			  ;
	COMMIT TRANSACTION;
	BEGIN TRANSACTION;
		BEGIN

		SET @Proc_Step_no = 4;
		SET @Proc_Step_Name = ' LOG Invalid Numeric data INTO ETL_DQ_LOG';
	
		INSERT INTO rdb.dbo.ETL_DQ_LOG( EVENT_TYPE, EVENT_LOCAL_ID, EVENT_UID, DQ_ISSUE_CD, DQ_ISSUE_DESC_TXT, DQ_ISSUE_QUESTION_IDENTIFIER, DQ_ISSUE_ANSWER_TXT, DQ_ISSUE_RDB_LOCATION, JOB_BATCH_LOG_UID, DQ_ETL_PROCESS_TABLE, DQ_ETL_PROCESS_COLUMN, DQ_STATUS_TIME, DQ_ISSUE_SOURCE_LOCATION, DQ_ISSUE_SOURCE_QUESTION_LABEL )
		(
		SELECT distinct 'INVESTIGATION', PHC.LOCAL_ID, PHC.public_health_case_uid, 
		'INVALID_NUMERIC_VALUE', 'BAD NUMERIC VALUE: A non-numeric value exists in a field expecting a numeric value and requires update. Please correct the bad numeric value so that it can be properly written to the reporting database during the next ETL run', 
		NBS_UI_METADATA.QUESTION_IDENTIFIER, ANSWER_VALUE, NBS_UI_METADATA.DATA_LOCATION,
		@Batch_id, NBS_rdb_metadata.rdb_table_nm, NBS_rdb_metadata.RDB_COLUMN_NM, 
		GETDATE(), NBS_UI_METADATA.DATA_LOCATION, QUESTION_LABEL
			FROM rdb.dbo.CODED_TABLE_SNTEMP_REPT WITH(NOLOCK)  
			inner JOIN NBS_ODSE.dbo.Public_health_case AS PHC WITH(NOLOCK)
			 ON PHC.public_health_case_uid = CODED_TABLE_SNTEMP_REPT.page_case_uid 
			
			inner JOIN NBS_ODSE.dbo.NBS_ui_metadata  WITH(NOLOCK)
			on NBS_ui_metadata.nbs_question_uid = CODED_TABLE_SNTEMP_REPT.nbs_question_uid
			inner JOIN NBS_ODSE.dbo.NBS_rdb_metadata  WITH(NOLOCK)
			on NBS_rdb_metadata.NBS_ui_metadata_uid = NBS_ui_metadata.NBS_ui_metadata_uid
			 where (isNumeric(ANSWER_VALUE) != 1)and ltrim(rtrim(ANSWER_VALUE))<>'' and QUESTION_GROUP_SEQ_NBR is not null
		)

		SELECT @RowCount_no = @@ROWCOUNT;
		INSERT INTO rdb.[dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
		VALUES( @Batch_id, 'INVESTIGATION_REPEAT', 'RDB.D_INVESTIGATION_REPEAT', 'START', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );

		END

	COMMIT TRANSACTION;
	BEGIN TRANSACTION;

		IF OBJECT_ID('rdb.dbo.CODED_TABLE_SNTEMP_TRANS_CODE_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_SNTEMP_TRANS_CODE_REPT;
		END;

		SELECT *
		INTO RDB.dbo.CODED_TABLE_SNTEMP_TRANS_CODE_REPT
		FROM RDB.dbo.CODED_TABLE_SNTEMP_TRANS_A_REPT where (isNumeric(ANSWER_VALUE) = 1) OR ANSWER_VALUE is null;

		UPDATE RDB.dbo.CODED_TABLE_SNTEMP_TRANS_CODE_REPT
		  SET RDB_COLUMN_NM = REPLACE(SUBSTRING(RDB_COLUMN_NM, 1, 21) + '_UNIT', ' ', ''), ANSWER_DESC11 = LTRIM(RTRIM(ANSWER_TXT2))
		WHERE LEN(UNIT_TYPE_CD) > 0 AND 
			  UPPER(UNIT_TYPE_CD) = 'CODED';

		IF OBJECT_ID('rdb.dbo.CODED_TABLE_SNTEMP_TRANS_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_SNTEMP_TRANS_REPT;
		END;
		SELECT *
		INTO rdb.dbo.CODED_TABLE_SNTEMP_TRANS_REPT
		FROM rdb.dbo.CODED_TABLE_SNTEMP_TRANS_A_REPT
		UNION
		SELECT *
		FROM rdb.dbo.CODED_TABLE_SNTEMP_TRANS_CODE_REPT;

		ALTER TABLE rdb.dbo.CODED_TABLE_SNTEMP_TRANS_REPT
		ADD [NBS_QUESTION_UID] [bigint] NULL, [ANSWER_TXT] [varchar](100) NULL, [ANSWER_OTH] [varchar](256) NULL, [RDB_COLUMN_NM2] [varchar](30) NULL, [ANSWER_TXT1] [varchar](100) NULL, [OTHER_VALUE_IND_CD] [char](1) NULL;

		IF OBJECT_ID('rdb.dbo.CODED_TABLE_MERGED_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_MERGED_REPT;
		END;
		SELECT *
		INTO rdb.dbo.CODED_TABLE_MERGED_REPT
		FROM rdb.dbo.CODED_TABLE_DESC_REPT
		UNION
		SELECT *
		FROM rdb.dbo.CODED_TABLE_OTH_REPT
		UNION
		SELECT *
		FROM rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT
		UNION
		SELECT [ANSWER_GROUP_SEQ_NBR], [CODE_SET_GROUP_ID], [PAGE_CASE_UID], [NBS_QUESTION_UID], [NBS_CASE_ANSWER_UID], [ANSWER_TXT], [CODE_SET_NM], [RDB_COLUMN_NM], [ANSWER_OTH], [RDB_COLUMN_NM2], [CODE], [ANSWER_TXT1], [INVESTIGATION_FORM_CD], [BLOCK_NM], [OTHER_VALUE_IND_CD], [ANSWER_DESC11]
		FROM rdb.dbo.CODED_TABLE_SNTEMP_TRANS_REPT;

		IF OBJECT_ID('rdb.dbo.CODED_DATA_REPT_OUT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_DATA_REPT_OUT;
		END;

		SET @columns = N'';

		SELECT @columns+=N', p.' + QUOTENAME(RTRIM([RDB_COLUMN_NM]))
		FROM
		(
			SELECT [RDB_COLUMN_NM]
			FROM rdb.[dbo].CODED_TABLE_MERGED_REPT AS p
			GROUP BY [RDB_COLUMN_NM]
		) AS x;
		SET @sql = N'
							SELECT [PAGE_CASE_UID] as PAGE_CASE_UID_coded, 
							BLOCK_NM as BLOCK_NM_coded, ANSWER_GROUP_SEQ_NBR as ANSWER_GROUP_SEQ_NBR_coded,' + STUFF(@columns, 1, 2, '') + ' into rdb.dbo.CODED_DATA_REPT_OUT ' + 'FROM (
							SELECT [PAGE_CASE_UID], BLOCK_NM, ANSWER_GROUP_SEQ_NBR, [ANSWER_DESC11] , [RDB_COLUMN_NM] 
								FROM rdb.[dbo].CODED_TABLE_MERGED_REPT
								where PAGE_CASE_UID > 0
								group by 
								PAGE_CASE_UID, BLOCK_NM, ANSWER_GROUP_SEQ_NBR, [ANSWER_DESC11] , [RDB_COLUMN_NM] 
									) AS j PIVOT (max(ANSWER_DESC11) FOR [RDB_COLUMN_NM] in 
									(' + STUFF(REPLACE(@columns, ', p.[', ',['), 1, 1, '') + ')) AS p;';

		PRINT @sql;
		EXEC sp_executesql @sql;

		IF OBJECT_ID('rdb.dbo.DATE_METADATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.DATE_METADATA_REPT;
		END;
 
		-- CREATE TABLE  	DATE_METADATA AS
		SELECT DISTINCT 
			   NUIM.QUESTION_GROUP_SEQ_NBR, NUIM.NBS_QUESTION_UID, NUIM.CODE_SET_GROUP_ID, UPPER(RTRIM(LTRIM(NRDBM.RDB_COLUMN_NM))) AS RDB_COLUMN_NM, NUIM.INVESTIGATION_FORM_CD, NUIM.BLOCK_NM, NUIM.QUESTION_GROUP_SEQ_NBR AS QUESTION_GROUP_SEQ_NBR1
		INTO rdb.dbo.DATE_METADATA_REPT
		FROM NBS_ODSE.dbo.NBS_RDB_METADATA AS NRDBM
			 INNER JOIN
			 NBS_ODSE.dbo.NBS_UI_METADATA AS NUIM
			 ON NUIM.NBS_UI_METADATA_UID = NRDBM.NBS_UI_METADATA_UID
			 INNER JOIN
			 NBS_SRTE.dbo.CODE_VALUE_GENERAL AS CVG
			 ON CVG.CODE = NUIM.DATA_TYPE
		WHERE CVG.CODE_SET_NM = 'NBS_DATA_TYPE' AND 
			  CODE IN( 'DATETIME', 'DATE' ) AND 
			  QUESTION_GROUP_SEQ_NBR IS NOT NULL
		ORDER BY NBS_QUESTION_UID;

		CREATE INDEX NBS_QUESTION_UID
ON rdb.dbo.DATE_METADATA_REPT
		( NBS_QUESTION_UID
		);
		 
		--CREATE TABLE  	DATE_DATA AS
		IF OBJECT_ID('rdb.dbo.DATE_DATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.DATE_DATA_REPT;
		END;

		SELECT DISTINCT 
			   NBS_CASE_ANSWER_UID, nca.ANSWER_GROUP_SEQ_NBR, ( CASE
																WHEN ISDATE(ANSWER_TXT) = 1 THEN( FORMAT(CAST([ANSWER_TXT] AS date), 'MM/dd/yy') + ' 00:00:00' )
																ELSE NULL
																END ) AS ANSWER_TXT1, ACT_UID AS 'PAGE_CASE_UID', nca.RECORD_STATUS_CD, dtmeta.*
		INTO rdb.dbo.DATE_DATA_REPT
		FROM rdb.dbo.DATE_METADATA_REPT AS dtmeta LEFT
			 OUTER JOIN
			 rdb.dbo.NBS_CASE_ANSWER_REPT AS nca
			 ON dtmeta.NBS_QUESTION_UID = nca.NBS_QUESTION_UID AND 
				dtmeta.INVESTIGATION_FORM_CD = nca.INVESTIGATION_FORM_CD
		WHERE QUESTION_GROUP_SEQ_NBR IS NOT NULL
		ORDER BY ACT_UID;

		INSERT INTO rdb.dbo.ETL_DQ_LOG( EVENT_TYPE, EVENT_LOCAL_ID, EVENT_UID, DQ_ISSUE_CD, DQ_ISSUE_DESC_TXT, DQ_ISSUE_QUESTION_IDENTIFIER, DQ_ISSUE_ANSWER_TXT, DQ_ISSUE_RDB_LOCATION, JOB_BATCH_LOG_UID, DQ_ETL_PROCESS_TABLE, DQ_ETL_PROCESS_COLUMN, DQ_STATUS_TIME, DQ_ISSUE_SOURCE_LOCATION, DQ_ISSUE_SOURCE_QUESTION_LABEL )
		(
			SELECT 'INVESTIGATION', PUBLIC_HEALTH_CASE.LOCAL_ID, PUBLIC_HEALTH_CASE_UID, 'INVALID_DATE', 'BAD DATE: A poorly formatted date exists and requires update. Please correct the bad date so that it can be properly written to the reporting database during the next ETL run.', NBS_UI_METADATA.QUESTION_IDENTIFIER, ANSWER_TXT, NBS_UI_METADATA.DATA_LOCATION, @Batch_id, NBS_RDB_METADATA.rdb_table_nm, NBS_RDB_METADATA.RDB_COLUMN_NM, GETDATE(), NBS_UI_METADATA.DATA_LOCATION, QUESTION_LABEL
			FROM rdb.dbo.PHC_UIDS
				 INNER JOIN
				 NBS_ODSE..NBS_case_answer
				 ON NBS_case_answer.act_uid = PHC_UIDS.PAGE_CASE_UID
				 INNER JOIN
				 NBS_ODSE.DBO.PUBLIC_HEALTH_CASE
				 ON NBS_CASE_ANSWER.ACT_UID = PUBLIC_HEALTH_CASE.PUBLIC_HEALTH_CASE_UID
				 INNER JOIN
				 NBS_SRTE.DBO.CONDITION_CODE
				 ON CONDITION_CODE.CONDITION_CD = PUBLIC_HEALTH_CASE.CD
				 INNER JOIN
				 NBS_ODSE.DBO.NBS_UI_METADATA
				 ON NBS_CASE_ANSWER.NBS_QUESTION_UID = NBS_UI_METADATA.NBS_QUESTION_UID AND 
					CONDITION_CODE.INVESTIGATION_FORM_CD = NBS_UI_METADATA.INVESTIGATION_FORM_CD
				 INNER JOIN
				 NBS_ODSE.DBO.NBS_RDB_METADATA
				 ON NBS_RDB_METADATA.NBS_UI_METADATA_UID = NBS_UI_METADATA.NBS_UI_METADATA_UID
			WHERE DATA_TYPE IN( 'Date/Time', 'Date', 'DATETIME', 'DATE' ) AND 
				  (ISDATE(ANSWER_TXT) != 1) AND 
				  UPPER(NBS_UI_METADATA.DATA_LOCATION) = 'NBS_CASE_ANSWER.ANSWER_TXT' AND 
				  ANSWER_TXT IS NOT NULL AND 
				  NBS_RDB_METADATA.rdb_table_nm = 'D_INVESTIGATION_REPEAT'
		);

		--CREATE TABLE  	PAGE_DATE_TABLE_REPT AS

		IF OBJECT_ID('rdb.dbo.PAGE_DATE_TABLE_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.PAGE_DATE_TABLE_REPT;
		END;

		CREATE TABLE rdb.dbo.PAGE_DATE_TABLE_REPT
		( 
					 NBS_CASE_ANSWER_UID bigint, CODE_SET_GROUP_ID bigint, RDB_COLUMN_NM char(40), INVESTIGATION_FORM_CD char(250), BLOCK_NM char(30), ANSWER_TXT1 date, PAGE_CASE_UID bigint, LAST_CHG_TIME date, RECORD_STATUS_CD char(40), ANSWER_GROUP_SEQ_NBR bigint, NBS_QUESTION_UID bigint
		);

		-- %DBLOAD (PAGE_DATE_TABLE, DATE_DATA); 

		INSERT INTO rdb.dbo.PAGE_DATE_TABLE_REPT( NBS_CASE_ANSWER_UID, CODE_SET_GROUP_ID, RDB_COLUMN_NM, INVESTIGATION_FORM_CD, BLOCK_NM, ANSWER_TXT1, PAGE_CASE_UID, 
		--	LAST_CHG_TIME , 
		RECORD_STATUS_CD, ANSWER_GROUP_SEQ_NBR, NBS_QUESTION_UID )
			   SELECT NBS_CASE_ANSWER_UID, CODE_SET_GROUP_ID, RDB_COLUMN_NM, INVESTIGATION_FORM_CD, BLOCK_NM, ANSWER_TXT1, PAGE_CASE_UID, 
			   --	LAST_CHG_TIME , 
			   RECORD_STATUS_CD, ANSWER_GROUP_SEQ_NBR, NBS_QUESTION_UID
			   FROM rdb.dbo.DATE_DATA_REPT;

		CREATE NONCLUSTERED INDEX [RDB_PERF_INTERNAL_03]
ON [dbo].[PAGE_DATE_TABLE_REPT]
		( [PAGE_CASE_UID]
		) 
			   INCLUDE( [RDB_COLUMN_NM], [BLOCK_NM], [ANSWER_TXT1], [ANSWER_GROUP_SEQ_NBR] );

		IF OBJECT_ID('rdb.dbo.date_data_REPT_out', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.date_data_REPT_out;
		END;

		--    DECLARE @columns NVARCHAR(MAX), @sql NVARCHAR(MAX);

		SET @columns = N'';

		SELECT @columns+=N', p.' + QUOTENAME(RTRIM([RDB_COLUMN_NM]))
		FROM
		(
			SELECT [RDB_COLUMN_NM]
			FROM rdb.[dbo].PAGE_DATE_TABLE_REPT AS p
			GROUP BY [RDB_COLUMN_NM]
		) AS x;
		SET @sql = N'
									SELECT [PAGE_CASE_UID] as PAGE_CASE_UID_date, 
									BLOCK_NM as BLOCK_NM_date, ANSWER_GROUP_SEQ_NBR as ANSWER_GROUP_SEQ_NBR_date,' + STUFF(@columns, 1, 2, '') + ' into rdb.dbo.DATE_DATA_REPT_out ' + 'FROM (
									SELECT [PAGE_CASE_UID], BLOCK_NM, ANSWER_GROUP_SEQ_NBR, [answer_txt1] , [RDB_COLUMN_NM] 
										FROM rdb.[dbo].PAGE_DATE_TABLE_REPT
										where PAGE_CASE_UID > 0
										group by  PAGE_CASE_UID, BLOCK_NM, ANSWER_GROUP_SEQ_NBR, [answer_txt1] , [RDB_COLUMN_NM] 
											) AS j PIVOT (max(answer_txt1) FOR [RDB_COLUMN_NM] in 
											(' + STUFF(REPLACE(@columns, ', p.[', ',['), 1, 1, '') + ')) AS p;';

		PRINT @sql;
		EXEC sp_executesql @sql;
					
		/*** NUMERIC SECTION******/

		IF OBJECT_ID('rdb.dbo.NUMERIC_METADATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_METADATA_REPT;
		END;

		--CREATE TABLE  NUMERIC_METADATA AS
		SELECT DISTINCT 
			   NUIM.QUESTION_GROUP_SEQ_NBR, NUIM.NBS_QUESTION_UID, NUIM.UNIT_VALUE AS 'CODE_SET_GROUP_ID', UPPER(LTRIM(RTRIM(NRDBM.RDB_COLUMN_NM))) AS RDB_COLUMN_NM, NUIM.INVESTIGATION_FORM_CD, NUIM.BLOCK_NM, NUIM.QUESTION_GROUP_SEQ_NBR AS QUESTION_GROUP_SEQ_NBR1
		INTO rdb.dbo.NUMERIC_METADATA_REPT
		FROM NBS_ODSE.dbo.NBS_RDB_METADATA AS NRDBM
			 INNER JOIN
			 NBS_ODSE.dbo.NBS_UI_METADATA AS NUIM
			 ON NUIM.NBS_UI_METADATA_UID = NRDBM.NBS_UI_METADATA_UID
			 INNER JOIN
			 NBS_SRTE.dbo.CODE_VALUE_GENERAL AS CVG
			 ON CVG.CODE = NUIM.DATA_TYPE
		WHERE CVG.CODE_SET_NM = 'NBS_DATA_TYPE' AND 
			  CODE = 'NUMERIC' AND 
			  ( UNIT_TYPE_CD IS NULL OR 
				UNIT_TYPE_CD = 'LITERAL'
			  ) AND 
			  QUESTION_GROUP_SEQ_NBR IS NOT NULL;

		--????
		CREATE INDEX idx_NBS_QUESTION_UID
ON rdb.dbo.NUMERIC_METADATA_REPT
		( NBS_QUESTION_UID
		);
				
		--CREATE TABLE NUMERIC_BASE_DATA AS

		IF OBJECT_ID('rdb.dbo.NUMERIC_BASE_DATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_BASE_DATA_REPT;
		END;

		SELECT DISTINCT 
			   NBS_CASE_ANSWER_UID, NCAns.ANSWER_GROUP_SEQ_NBR, ANSWER_TXT, ACT_UID AS 'PAGE_CASE_UID', NCAns.RECORD_STATUS_CD, NMeta.*, LEN(RTRIM(ANSWER_TXT)) AS TXT_LEN, CAST(NULL AS [varchar](100)) AS ANSWER_UNIT, CAST(NULL AS int) AS LENCODED, CAST(NULL AS [varchar](100)) AS ANSWER_CODED, CAST(NULL AS [varchar](100)) AS UNIT_VALUE1, CAST(NULL AS [varchar](30)) AS RDB_COLUMN_NM2
		INTO rdb.dbo.NUMERIC_BASE_DATA_REPT
		FROM rdb.dbo.NUMERIC_METADATA_REPT AS NMeta LEFT
			 OUTER JOIN
			 rdb.dbo.NBS_CASE_ANSWER_REPT AS NCAns
			 ON NMeta.NBS_QUESTION_UID = NCAns.NBS_QUESTION_UID AND 
				NMeta.INVESTIGATION_FORM_CD = NCAns.INVESTIGATION_FORM_CD AND 
				ANSWER_GROUP_SEQ_NBR IS NOT NULL
		WHERE QUESTION_GROUP_SEQ_NBR IS NOT NULL;

		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA1_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA1_REPT;
		END;

		SELECT *
		INTO rdb.dbo.NUMERIC_DATA1_REPT
		FROM rdb.dbo.NUMERIC_BASE_DATA_REPT;

		UPDATE rdb.dbo.NUMERIC_DATA1_REPT
		  SET ANSWER_UNIT = SUBSTRING(ANSWER_TXT, 1, ( CHARINDEX('^', ANSWER_TXT) - 1 ))
		WHERE CHARINDEX('^', ANSWER_TXT) > 0;

		UPDATE rdb.dbo.NUMERIC_DATA1_REPT
		  SET LENCODED = LEN(RTRIM(ANSWER_UNIT))
		WHERE CHARINDEX('^', ANSWER_TXT) > 0;

		UPDATE rdb.dbo.NUMERIC_DATA1_REPT
		  SET ANSWER_CODED = SUBSTRING(ANSWER_TXT, ( LENCODED + 2 ), TXT_LEN)
		WHERE CHARINDEX('^', ANSWER_TXT) > 0;


		UPDATE rdb.dbo.NUMERIC_DATA1_REPT
		  SET UNIT_VALUE1 = REPLACE(ANSWER_UNIT, ',', '')
		WHERE CHARINDEX('^', ANSWER_TXT) > 0;

		UPDATE rdb.dbo.NUMERIC_DATA1_REPT
		  SET ANSWER_UNIT = ANSWER_TXT
		WHERE CHARINDEX('^', ANSWER_TXT) = 0;

		UPDATE rdb.dbo.NUMERIC_DATA1_REPT
		  SET RDB_COLUMN_NM2 = RTRIM(RDB_COLUMN_NM) + ' UNIT'
		WHERE LEN(RTRIM(ANSWER_CODED)) > 0;

		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA2_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA2_REPT;
		END;

		SELECT *
		INTO rdb.dbo.NUMERIC_DATA2_REPT
		FROM rdb.dbo.NUMERIC_DATA1_REPT;

		UPDATE rdb.dbo.NUMERIC_DATA2_REPT
		  SET RDB_COLUMN_NM2 = SUBSTRING(RDB_COLUMN_NM2, 1, 22)
		WHERE LEN(RTRIM(RDB_COLUMN_NM2)) > 0;

		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA_MERGED_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA_MERGED_REPT;
		END;
		SELECT *
		INTO rdb.dbo.NUMERIC_DATA_MERGED_REPT
		FROM rdb.dbo.NUMERIC_DATA1_REPT
		UNION
		SELECT *
		FROM rdb.dbo.NUMERIC_DATA2_REPT;

		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA_TRANS_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA_TRANS_REPT;
		END;

		-- CREATE TABLE NUMERIC_DATA_TRANS  AS 
		SELECT PAGE_CASE_UID, NBS_QUESTION_UID, ANSWER_GROUP_SEQ_NBR, NBS_CASE_ANSWER_UID, ANSWER_UNIT, ANSWER_CODED, CVG.CODE_SET_NM, RDB_COLUMN_NM, ANSWER_TXT, CODE, CODE_SHORT_DESC_TXT AS 'UNIT', ANSWER_UNIT AS ANSWER_UNIT1, INVESTIGATION_FORM_CD, BLOCK_NM
		INTO rdb.dbo.NUMERIC_DATA_TRANS_REPT
		FROM rdb.dbo.NUMERIC_DATA_MERGED_REPT AS CODED LEFT
			 JOIN
			 NBS_SRTE.dbo.CODESET_GROUP_METADATA AS METADATA
			 ON METADATA.CODE_SET_GROUP_ID = CODED.UNIT_VALUE1 LEFT
													   JOIN
													   NBS_SRTE.dbo.CODE_VALUE_GENERAL AS CVG
													   ON CVG.CODE_SET_NM = METADATA.CODE_SET_NM AND 
														  ANSWER_GROUP_SEQ_NBR IS NOT NULL;

		UPDATE rdb.dbo.NUMERIC_DATA_TRANS_REPT
		  SET ANSWER_TXT = CASE
						   WHEN COALESCE(RTRIM(UNIT), '') = '' THEN ANSWER_TXT
						   WHEN CHARINDEX(' UNIT', RDB_COLUMN_NM) > 0 THEN UNIT
						   ELSE ANSWER_UNIT
						   END;

		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA_TRANS1_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA_TRANS1_REPT;
		END;
		
		

		--				CREATE TABLE  NUMERIC_DATA_TRANS1 AS 
		BEGIN
			SELECT DISTINCT 
				   PAGE_CASE_UID, RDB_COLUMN_NM, ANSWER_UNIT, ANSWER_TXT, ANSWER_GROUP_SEQ_NBR, NBS_CASE_ANSWER_UID, INVESTIGATION_FORM_CD, BLOCK_NM, NBS_QUESTION_UID
			INTO rdb.dbo.NUMERIC_DATA_TRANS1_REPT
			FROM rdb.dbo.NUMERIC_DATA_TRANS_REPT;
		END;
		
	COMMIT TRANSACTION;
	BEGIN TRANSACTION;
		BEGIN

		SET @Proc_Step_no = 5;
		SET @Proc_Step_Name = ' LOG Invalid Numeric data INTO ETL_DQ_LOG';
	
		INSERT INTO rdb.dbo.ETL_DQ_LOG( EVENT_TYPE, EVENT_LOCAL_ID, EVENT_UID, DQ_ISSUE_CD, DQ_ISSUE_DESC_TXT, DQ_ISSUE_QUESTION_IDENTIFIER, DQ_ISSUE_ANSWER_TXT, DQ_ISSUE_RDB_LOCATION, JOB_BATCH_LOG_UID, DQ_ETL_PROCESS_TABLE, DQ_ETL_PROCESS_COLUMN, DQ_STATUS_TIME, DQ_ISSUE_SOURCE_LOCATION, DQ_ISSUE_SOURCE_QUESTION_LABEL )
		(
		SELECT 'INVESTIGATION', PUBLIC_HEALTH_CASE.LOCAL_ID, PUBLIC_HEALTH_CASE_UID, 
		'INVALID_NUMERIC_VALUE', 'BAD NUMERIC VALUE: A non-numeric value exists in a field expecting a numeric value and requires update. Please correct the bad numeric value so that it can be properly written to the reporting database during the next ETL run', 
		NBS_UI_METADATA.QUESTION_IDENTIFIER, ANSWER_TXT, NBS_UI_METADATA.DATA_LOCATION, @Batch_id, NBS_RDB_METADATA.rdb_table_nm, NBS_RDB_METADATA.RDB_COLUMN_NM, 
		GETDATE(), NBS_UI_METADATA.DATA_LOCATION, QUESTION_LABEL
					FROM rdb.dbo.NUMERIC_DATA_TRANS1_REPT
			 INNER JOIN
				 NBS_ODSE.DBO.PUBLIC_HEALTH_CASE
				 ON NUMERIC_DATA_TRANS1_REPT.page_case_uid= PUBLIC_HEALTH_CASE.PUBLIC_HEALTH_CASE_UID
				 INNER JOIN
				 NBS_SRTE.DBO.CONDITION_CODE
				 ON CONDITION_CODE.CONDITION_CD = PUBLIC_HEALTH_CASE.CD
				  INNER JOIN
				 NBS_ODSE.DBO.NBS_RDB_METADATA
				 ON NBS_RDB_METADATA.rdb_column_nm = NUMERIC_DATA_TRANS1_REPT.rdb_column_nm
				 INNER JOIN
				 NBS_ODSE.DBO.NBS_UI_METADATA
				 ON NBS_RDB_METADATA.NBS_UI_METADATA_UID = NBS_UI_METADATA.NBS_UI_METADATA_UID AND 
					CONDITION_CODE.INVESTIGATION_FORM_CD = NBS_UI_METADATA.INVESTIGATION_FORM_CD
			WHERE (isNumeric(ANSWER_TXT) != 1) AND 
				  ANSWER_TXT IS NOT NULL);
		
		SELECT @RowCount_no = @@ROWCOUNT;
		INSERT INTO rdb.[dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
		VALUES( @Batch_id, 'INVESTIGATION_REPEAT', 'RDB.D_INVESTIGATION_REPEAT', 'START', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );

		END

	COMMIT TRANSACTION;
	BEGIN TRANSACTION;
		IF OBJECT_ID('rdb.dbo.numeric_DATA_REPT_out', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.numeric_DATA_REPT_out;
		END;
	
		-- DECLARE @columns NVARCHAR(MAX), @sql NVARCHAR(MAX);

		SET @columns = N'';

		SELECT @columns+=N', p.' + QUOTENAME([RDB_COLUMN_NM])
		FROM
		(
			SELECT [RDB_COLUMN_NM]
			FROM rdb.[dbo].NUMERIC_DATA_TRANS1_REPT AS p
			GROUP BY [RDB_COLUMN_NM]
		) AS x;
		SET @sql = N'
				SELECT [PAGE_CASE_UID] as PAGE_CASE_UID_numeric,
				BLOCK_NM as BLOCK_NM_numeric, ANSWER_GROUP_SEQ_NBR as ANSWER_GROUP_SEQ_NBR_numeric, ' + STUFF(@columns, 1, 2, '') + ' into  rdb.dbo.numeric_DATA_REPT_out ' + 'FROM (
				SELECT [PAGE_CASE_UID], BLOCK_NM, ANSWER_GROUP_SEQ_NBR, [answer_txt] , [RDB_COLUMN_NM] 
					FROM rdb.[dbo].NUMERIC_DATA_TRANS1_REPT
					where PAGE_CASE_UID > 0
					and (isNumeric(ANSWER_TXT) = 1) AND  ANSWER_TXT IS NOT NULL 
					group by [PAGE_CASE_UID], BLOCK_NM, ANSWER_GROUP_SEQ_NBR, [answer_txt] , [RDB_COLUMN_NM] 
						) AS j PIVOT (max(answer_txt) FOR [RDB_COLUMN_NM] in 
						(' + STUFF(REPLACE(@columns, ', p.[', ',['), 1, 1, '') + ')) AS p;';

		PRINT @sql;
		EXEC sp_executesql @sql;

		-- CREATE TABLE  STAGING_KEY AS 

		IF OBJECT_ID('rdb.dbo.STAGING_KEY_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.STAGING_KEY_REPT;
		END;

		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA_REPT_OUT', 'U') IS NULL
		BEGIN
			CREATE TABLE rdb.[dbo].[NUMERIC_DATA_REPT_OUT]
			( 
						 [PAGE_CASE_UID_numeric] [bigint] NULL, [INVESTIGATION_FORM_CD_numeric] [varchar](50) NULL, [BLOCK_NM_numeric] [varchar](30) NULL, [ANSWER_GROUP_SEQ_NBR_numeric] [int] NULL
			)
			ON [PRIMARY];
		END;

		IF OBJECT_ID('rdb.dbo.date_data_REPT_out', 'U') IS NULL
		BEGIN
			CREATE TABLE rdb.[dbo].[date_data_REPT_out]
			( 
						 [PAGE_CASE_UID_date] [bigint] NULL, [INVESTIGATION_FORM_CD_date] [varchar](50) NULL, [BLOCK_NM_date] [varchar](30) NULL, [ANSWER_GROUP_SEQ_NBR_date] [int] NULL
			)
			ON [PRIMARY];
		END;

		IF OBJECT_ID('rdb.dbo.CODED_DATA_REPT_out', 'U') IS NULL
		BEGIN
			CREATE TABLE rdb.[dbo].[CODED_DATA_REPT_out]
			( 
						 [PAGE_CASE_UID_coded] [bigint] NULL, [INVESTIGATION_FORM_CD_coded] [varchar](50) NULL, [BLOCK_NM_coded] [varchar](30) NULL, [ANSWER_GROUP_SEQ_NBR_coded] [int] NULL
			)
			ON [PRIMARY];
		END;

		IF OBJECT_ID('rdb.dbo.text_data_REPT_out', 'U') IS NULL
		BEGIN
			CREATE TABLE rdb.[dbo].[text_data_REPT_out]
			( 
						 [PAGE_CASE_UID_text] [bigint] NULL, [INVESTIGATION_FORM_CD] [varchar](50) NULL, [BLOCK_NM] [varchar](30) NULL, [ANSWER_GROUP_SEQ_NBR] [int] NULL
			)
			ON [PRIMARY];
		END;

		IF OBJECT_ID('rdb.dbo.STAGING_KEY_REPT_FINAL', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.STAGING_KEY_REPT_FINAL;
		END;
		SELECT PAGE_CASE_UID_date AS PAGE_CASE_UID, BLOCK_NM_date AS BLOCK_NM, ANSWER_GROUP_SEQ_NBR_date AS ANSWER_GROUP_SEQ_NBR
		INTO rdb.dbo.STAGING_KEY_REPT_FINAL
		FROM rdb.dbo.DATE_DATA_rept_out
		UNION
		SELECT PAGE_CASE_UID_text, BLOCK_NM_text, ANSWER_GROUP_SEQ_NBR_text
		FROM rdb.dbo.TEXT_DATA_rept_out
		UNION
		SELECT PAGE_CASE_UID_numeric, BLOCK_NM_numeric, ANSWER_GROUP_SEQ_NBR_numeric
		FROM rdb.dbo.NUMERIC_DATA_rept_out
		UNION
		SELECT PAGE_CASE_UID_coded, BLOCK_NM_coded, ANSWER_GROUP_SEQ_NBR_coded
		FROM rdb.dbo.CODED_DATA_rept_out;

		IF OBJECT_ID('rdb.dbo.S_INVESTIGATION_REPEAT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.S_INVESTIGATION_REPEAT;
		END;

		DECLARE @mergeSQL varchar(max)= 'SELECT sk.* ,ddo.*,tdo.*, ' +
		(
			SELECT STUFF(
			(
				SELECT ',' + +col
				FROM
				(
					SELECT CASE
						   WHEN i1.t IS NOT NULL AND 
								i2.t IS NOT NULL THEN 'COALESCE(' + i1.t + '.' + i1.COLUMN_NAME + ', ' + i2.t + '.' + i2.COLUMN_NAME + ') AS ' + i1.COLUMN_NAME
						   ELSE COALESCE(i1.COLUMN_NAME, i2.COLUMN_NAME)
						   END AS col, COALESCE(i1.COLUMN_NAME, i2.COLUMN_NAME) AS cname
					FROM
					(
						SELECT 't1' AS t, COLUMN_NAME
						FROM INFORMATION_SCHEMA.COLUMNS
						WHERE TABLE_NAME = 'CODED_DATA_REPT_out'
					) AS i1
					FULL OUTER JOIN
					(
						SELECT 't2' AS t, COLUMN_NAME
						FROM INFORMATION_SCHEMA.COLUMNS
						WHERE TABLE_NAME = 'NUMERIC_DATA_REPT_OUT'
					) AS i2
					ON i1.COLUMN_NAME = i2.COLUMN_NAME
				) AS cols
				ORDER BY cname FOR XML PATH(''), TYPE
			).value( '.', 'NVARCHAR(MAX)' ), 1, 1, '')
		) + ' into rdb.dbo.S_INVESTIGATION_REPEAT
									from	rdb.dbo.STAGING_KEY_REPT_FINAL sk
									LEFT OUTER  JOIN rdb.dbo.date_data_REPT_out ddo   ON  
									ddo.PAGE_CASE_UID_date=sk.PAGE_CASE_UID    and 
									/*ddo.INVESTIGATION_FORM_CD_date = sk.INVESTIGATION_FORM_CD and */
									ddo.BLOCK_NM_date = sk.BLOCK_NM and 
									ddo.ANSWER_GROUP_SEQ_NBR_date = sk.ANSWER_GROUP_SEQ_NBR
									LEFT OUTER  JOIN rdb.dbo.text_data_REPT_OUT tdo   ON  tdo.PAGE_CASE_UID_text=sk.PAGE_CASE_UID    
									/*and tdo.INVESTIGATION_FORM_CD_text = sk.INVESTIGATION_FORM_CD */ 
									and tdo.BLOCK_NM_text = sk.BLOCK_NM and  tdo.ANSWER_GROUP_SEQ_NBR_text = sk.ANSWER_GROUP_SEQ_NBR
									LEFT OUTER  JOIN rdb.dbo.NUMERIC_DATA_REPT_OUT t2 ON t2.PAGE_CASE_UID_NUMERIC=sk.PAGE_CASE_UID 
									/*and t2.INVESTIGATION_FORM_CD_numeric = sk.INVESTIGATION_FORM_CD */ 
									and t2.BLOCK_NM_numeric = sk.BLOCK_NM and  t2.ANSWER_GROUP_SEQ_NBR_numeric = sk.ANSWER_GROUP_SEQ_NBR
									LEFT OUTER  JOIN rdb.dbo.CODED_DATA_REPT_out t1  ON  t1.PAGE_CASE_UID_coded=sk.PAGE_CASE_UID   
									/*and t1.INVESTIGATION_FORM_CD_coded = sk.INVESTIGATION_FORM_CD*/ 
									and t1.BLOCK_NM_coded = sk.BLOCK_NM and  t1.ANSWER_GROUP_SEQ_NBR_coded = sk.ANSWER_GROUP_SEQ_NBR';

		EXECUTE (@mergeSQL);
		CREATE NONCLUSTERED INDEX [RDB_PERF_INTERNAL_06]
ON rdb.[dbo].[S_INVESTIGATION_REPEAT]
		( [PAGE_CASE_UID]
		);

		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN PAGE_CASE_UID_numeric;
		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN PAGE_CASE_UID_date;
		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN PAGE_CASE_UID_coded;
		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN PAGE_CASE_UID_text;

		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN BLOCK_NM_numeric;
		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN BLOCK_NM_date;
		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN BLOCK_NM_coded;
		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN BLOCK_NM_text;

		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN ANSWER_GROUP_SEQ_NBR_numeric;
		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN ANSWER_GROUP_SEQ_NBR_date;
		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN ANSWER_GROUP_SEQ_NBR_coded;
		ALTER TABLE rdb.dbo.S_INVESTIGATION_REPEAT DROP COLUMN ANSWER_GROUP_SEQ_NBR_text;

		IF OBJECT_ID('rdb.dbo.L_INVESTIGATION_REPEAT', 'U') IS NULL
		BEGIN
			CREATE TABLE rdb.[dbo].[L_INVESTIGATION_REPEAT]
			( 
						 [D_INVESTIGATION_REPEAT_KEY] [float] NULL, [PAGE_CASE_UID] [float] NULL
			)
			ON [PRIMARY];
		END;

		DELETE FROM rdb.dbo.LOOKUP_TABLE_N_REPT;

		INSERT INTO rdb.dbo.LOOKUP_TABLE_N_REPT
			   SELECT PAGE_CASE_UID
			   FROM rdb.dbo.S_INVESTIGATION_REPEAT
			   WHERE PAGE_CASE_UID > 1
			   EXCEPT
			   SELECT DISTINCT 
					  PAGE_CASE_UID
			   FROM rdb.dbo.L_INVESTIGATION_REPEAT;

		IF OBJECT_ID('rdb.dbo.L_INVESTIGATION_REPEAT_INC', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.L_INVESTIGATION_REPEAT_INC;
		END;

		SELECT pcuid.PAGE_CASE_UID, ladmin.[D_INVESTIGATION_REPEAT_KEY]
		INTO rdb.[dbo].[L_INVESTIGATION_REPEAT_INC]
		FROM rdb.dbo.phc_uids_REPT AS pcuid, rdb.dbo.[L_INVESTIGATION_REPEAT] AS ladmin
		WHERE pcuid.PAGE_CASE_UID = ladmin.PAGE_CASE_UID AND 
			  ladmin.[D_INVESTIGATION_REPEAT_KEY] != 1;

		INSERT INTO rdb.[dbo].[L_INVESTIGATION_REPEAT_INC]( [PAGE_CASE_UID], [D_INVESTIGATION_REPEAT_KEY] )
			   SELECT PAGE_CASE_UID, D_REPT_KEY
			   FROM rdb.dbo.LOOKUP_TABLE_N_REPT;

		INSERT INTO rdb.[dbo].[L_INVESTIGATION_REPEAT]( [PAGE_CASE_UID], [D_INVESTIGATION_REPEAT_KEY] )
			   SELECT PAGE_CASE_UID, D_REPT_KEY
			   FROM rdb.dbo.LOOKUP_TABLE_N_REPT;

		CREATE INDEX idx_PAGE_CASE_UID_L
ON rdb.dbo.L_INVESTIGATION_REPEAT_INC
		( PAGE_CASE_UID
		);

		CREATE INDEX idx_PAGE_CASE_UID_S
ON rdb.dbo.S_INVESTIGATION_REPEAT
		( page_case_uid
		);

		IF OBJECT_ID('rdb.dbo.D_INVESTIGATION_REPEAT', 'U') IS NULL
		BEGIN
			CREATE TABLE rdb.[dbo].[D_INVESTIGATION_REPEAT]
			( 
						 [D_INVESTIGATION_REPEAT_KEY] [float] NULL, [PAGE_CASE_UID] [float] NULL
			)
			ON [PRIMARY];
		END;


		IF OBJECT_ID('rdb.dbo.D_INVESTIGATION_REPEAT_INC', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.D_INVESTIGATION_REPEAT_INC;
		END;

		--CREATE TABLE NBS_RDB.D_INVESTIGATION_REPEAT(DROP=NBS_CASE_ANSWER_UID INVESTIGATION_FORM_CD) AS
		SELECT SREPT.*, LREPT.D_INVESTIGATION_REPEAT_KEY
		INTO rdb.dbo.D_INVESTIGATION_REPEAT_INC
		FROM rdb.dbo.L_INVESTIGATION_REPEAT_INC AS LREPT LEFT
			 OUTER JOIN
			 rdb.dbo.S_INVESTIGATION_REPEAT AS SREPT
			 ON SREPT.PAGE_CASE_UID = LREPT.PAGE_CASE_UID;
		CREATE NONCLUSTERED INDEX [RDB_PERF_INTERNAL_07]
ON [dbo].[D_INVESTIGATION_REPEAT_INC]
		( [D_INVESTIGATION_REPEAT_KEY]
		);

		COMMIT TRANSACTION;

		BEGIN TRANSACTION;

		SET @Proc_Step_no = 6;
		SET @Proc_Step_Name = ' Add new columns to D_INVESTIGATION_REPEAT'; 

		-- create table rdb_ui_metadata_INVESTIGATION_REPEAT as 

		DECLARE @Temp_Query_Table TABLE
		( 
										ID int IDENTITY(1, 1), QUERY_stmt varchar(5000)
		);
		DECLARE @column_query varchar(5000);
		DECLARE @Max_Query_No int;
		DECLARE @Curr_Query_No int;
		DECLARE @ColumnList varchar(5000);

		INSERT INTO @Temp_Query_Table
			   SELECT 'ALTER TABLE rdb.dbo.D_INVESTIGATION_REPEAT ADD [' + COLUMN_NAME + '] ' + DATA_TYPE + CASE
																											WHEN DATA_TYPE IN('char', 'varchar', 'nchar', 'nvarchar') THEN ' (' + COALESCE(CAST(NULLIF(CHARACTER_MAXIMUM_LENGTH, -1) AS varchar(10)), CAST(CHARACTER_MAXIMUM_LENGTH AS varchar(10))) + ')'
																											ELSE ''
																											END + CASE
																												  WHEN IS_NULLABLE = 'NO' THEN ' NOT NULL'
																												  ELSE ' NULL'
																												  END
			   FROM INFORMATION_SCHEMA.COLUMNS AS c
			   WHERE TABLE_NAME = 'D_INVESTIGATION_REPEAT_INC' AND 
					 NOT EXISTS
			   (
				   SELECT 1
				   FROM INFORMATION_SCHEMA.COLUMNS
				   WHERE TABLE_NAME = 'D_INVESTIGATION_REPEAT' AND 
						 COLUMN_NAME = c.COLUMN_NAME
			   ) AND 
					 LOWER(COLUMN_NAME) NOT IN( LOWER('PAGE_CASE_UID'), 'last_chg_time' );


		SET @Max_Query_No =
		(
			SELECT MAX(ID)
			FROM @Temp_Query_Table AS t
		);

		SET @Curr_Query_No = 0;

		WHILE @Max_Query_No > @Curr_Query_No

		BEGIN
			SET @Curr_Query_No = @Curr_Query_No + 1;

			SET @column_query =
			(
				SELECT QUERY_stmt
				FROM @Temp_Query_Table AS t
				WHERE ID = @Curr_Query_No
			);

			--SELECT @column_query;

			EXEC (@column_query);

		END;

		SELECT @RowCount_no = @@ROWCOUNT;


		INSERT INTO rdb.[dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
		VALUES( @Batch_id, 'INVESTIGATION_REPEAT', 'RDB.D_INVESTIGATION_REPEAT', 'START', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );


		COMMIT TRANSACTION;

		BEGIN TRANSACTION;

		SET @Proc_Step_no = 7;
		SET @Proc_Step_Name = ' Inserting data in to D_INVESTIGATION_REPEAT';

		IF NOT EXISTS
		(
			SELECT *
			FROM sys.indexes
			WHERE name = 'RDB_PERF_04092021_06' AND 
				  object_id = OBJECT_ID('D_INVESTIGATION_REPEAT')
		)
		BEGIN

			CREATE NONCLUSTERED INDEX [RDB_PERF_04092021_06]
ON [dbo].[D_INVESTIGATION_REPEAT]
			( [D_INVESTIGATION_REPEAT_KEY]
			);
		END;

		INSERT INTO RDB.[dbo].[D_INVESTIGATION_REPEAT]( [D_INVESTIGATION_REPEAT_KEY] )
			   SELECT 1
			   WHERE NOT EXISTS
			   (
				   SELECT TOP 1 d_INVESTIGATION_REPEAT_key
				   FROM [RDB].[dbo].[D_INVESTIGATION_REPEAT_INC]
				   WHERE d_INVESTIGATION_REPEAT_key = 1
			   ) AND 
					 NOT EXISTS
			   (
				   SELECT TOP 1 D_INVESTIGATION_REPEAT_KEY
				   FROM [RDB].[DBO].[D_INVESTIGATION_REPEAT]
				   WHERE D_INVESTIGATION_REPEAT_KEY = 1
			   );

		DECLARE @insert_query nvarchar(max);

		SET @insert_query =
		(
			SELECT 'INSERT INTO  RDB.[dbo].[D_INVESTIGATION_REPEAT]( [D_INVESTIGATION_REPEAT_KEY] ,' + STUFF(
			(
				SELECT ', [' + name + ']'
				FROM syscolumns
				WHERE id = OBJECT_ID('S_INVESTIGATION_REPEAT') AND 
					  LOWER(NAME) NOT IN( 'last_chg_time' ) FOR XML PATH('')
			), 1, 1, '') + ' ) select [D_INVESTIGATION_REPEAT_KEY] , ' + STUFF(
			(
				SELECT ', SINV.[' + name + ']'
				FROM syscolumns
				WHERE id = OBJECT_ID('S_INVESTIGATION_REPEAT') AND 
					  LOWER(NAME) NOT IN( 'last_chg_time' ) FOR XML PATH('')
			), 1, 1, '') + ' 
	   FROM  RDB.dbo.L_INVESTIGATION_REPEAT_INC LINV 
	   INNER JOIN RDB.dbo.S_INVESTIGATION_REPEAT SINV ON SINV.PAGE_CASE_UID=LINV.PAGE_CASE_UID 
	    where linv.D_INVESTIGATION_REPEAT_KEY != 1'
		);


		PRINT @insert_query;

		DELETE dnr
		FROM RDB.dbo.D_INVESTIGATION_REPEAT DNR
			 INNER JOIN
			 RDB.dbo.S_INVESTIGATION_REPEAT SINV
			 ON SINV.PAGE_CASE_UID = DNR.PAGE_CASE_UID;

		--SELECT @insert_query;

		EXEC sp_executesql @insert_query;

		SELECT @RowCount_no = @@ROWCOUNT;

		INSERT INTO rdb.[dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
		VALUES( @Batch_id, 'INVESTIGATION_REPEAT', 'RDB.D_INVESTIGATION_REPEAT', 'START', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );

		COMMIT TRANSACTION;

		IF OBJECT_ID('rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT_TEMP', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_COUNTY_TABLE_DESC_REPT_TEMP;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_COUNTY_TABLE_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_COUNTY_TABLE_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_DATA_REPT_OUT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_DATA_REPT_OUT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_METADATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_METADATA_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_DESC_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_DESC_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_DESC_REPT_TEMP', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_DESC_REPT_TEMP;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_MERGED_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_MERGED_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_OTH_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_OTH_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_SNTEMP_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_SNTEMP_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_SNTEMP_TRANS_A_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_SNTEMP_TRANS_A_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_SNTEMP_TRANS_CODE_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_SNTEMP_TRANS_CODE_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_SNTEMP_TRANS_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_SNTEMP_TRANS_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.CODED_TABLE_TEMP_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.CODED_TABLE_TEMP_REPT;
		END;

		IF OBJECT_ID('rdb.dbo.DATE_DATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.DATE_DATA_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.DATE_DATA_REPT_out', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.DATE_DATA_REPT_out;
		END;
		IF OBJECT_ID('rdb.dbo.DATE_METADATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.DATE_METADATA_REPT;
		END;

		IF OBJECT_ID('rdb.dbo.NUMERIC_BASE_DATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_BASE_DATA_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA_MERGED_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA_MERGED_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.numeric_DATA_REPT_out', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.numeric_DATA_REPT_out;
		END;
		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA_TRANS_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA_TRANS_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA_TRANS1_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA_TRANS1_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA1_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA1_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.NUMERIC_DATA2_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_DATA2_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.NUMERIC_METADATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.NUMERIC_METADATA_REPT;
		END;


		IF OBJECT_ID('rdb.dbo.TEXT_DATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.TEXT_DATA_REPT;
		END;
		IF OBJECT_ID('rdb.dbo.TEXT_DATA_REPT_out', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.TEXT_DATA_REPT_out;
		END;
		IF OBJECT_ID('rdb.dbo.TEXT_METADATA_REPT', 'U') IS NOT NULL
		BEGIN
			DROP TABLE rdb.dbo.TEXT_METADATA_REPT;
		END;
		
		BEGIN TRANSACTION;

		SET @Proc_Step_no = 999;
		SET @Proc_Step_Name = 'SP_COMPLETE';

				INSERT INTO rdb.[dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
		VALUES( @Batch_id, 'INVESTIGATION_REPEAT', 'RDB.D_INVESTIGATION_REPEAT', 'START', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH

		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END;

		DECLARE @ErrorNumber int= ERROR_NUMBER();
		DECLARE @ErrorLine int= ERROR_LINE();
		DECLARE @ErrorMessage nvarchar(4000)= ERROR_MESSAGE();
		DECLARE @ErrorSeverity int= ERROR_SEVERITY();
		DECLARE @ErrorState int= ERROR_STATE();

		INSERT INTO rdb.[dbo].[job_flow_log]( batch_id, [Dataflow_Name], [package_Name], [Status_Type], [step_number], [step_name], [row_count] )
		VALUES( @Batch_id, 'INVESTIGATION_REPEAT', 'RDB.D_INVESTIGATION_REPEAT', 'START', @Proc_Step_no, @Proc_Step_Name, @RowCount_no );

		RETURN -1;
	END CATCH;

END;
GO