.modal {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 1.5rem;

        svg {
            cursor: pointer;
        }
    }
}

.overflow {
    overflow-y: visible;
}
