@use 'styles/colors';
@use 'styles/borders';
@import 'mixins/viewports';

.dataElements {
    .header {
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
        padding: 1rem;
        height: 4.5rem;
        background-color: colors.$base-white;
        @extend %thin-bottom;
        h2 {
            margin: 0;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 2rem;
            color: colors.$base-black;
        }
    }
    .body {
        background-color: colors.$background;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        padding-bottom: 4rem;
        .sections {
            width: 70%;
            min-width: unset;
            padding-bottom: 5rem;
            .section {
                border-radius: 5px;
                background-color: colors.$base-white;
                border: 1px solid colors.$base-lighter;
                &:first-of-type {
                    margin-bottom: 1rem;
                }
                .sectionHeader {
                    width: 100%;
                    height: 3.625rem;
                    border-bottom: 1px solid colors.$base-lighter;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem 1.5rem;
                    h4 {
                        font-size: 1.375rem;
                        margin: 0;
                    }
                }
                .sectionBody {
                    width: 100%;
                    min-height: 3rem;
                    height: 100%;
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    label {
                        font-size: 1rem;
                    }
                    input {
                        width: 5rem;
                        height: 2rem;
                        margin: 0.25rem 0;
                    }
                }
            }
        }
        .sidebar {
            width: 30%;
            padding: 0 1rem 1.5rem 1rem;
            h3 {
                font-size: 1.375rem;
                margin: 0;
            }
            h4 {
                font-size: 1rem;
                margin-bottom: 0.25rem;
            }
            p, li {
                margin-top: 0;
                line-height: 162%;
                font-size: 0.875rem;
                font-weight: 400;
                span {
                    display: inline-block;
                    font-weight: 700;
                    width: 1.5rem;
                }
                .listItem {
                    width: 5rem;
                }
            }
            ol {
                padding-left: 0;
                li {   
                    display: list-item;
                    margin-left: 1.25rem;
                    list-style-type: decimal;
                }
            }
            ul {
                li {
                    margin: 0 0 1rem -1.25rem;
                    list-style-type: none;
                    display: list-item;
                }
            }
        }
    }
    .footer {
        display: flex;
        justify-content: flex-end;
        padding: 1.5rem;
        @extend %thin-top;
        position: fixed;
        background-color: colors.$base-white;
        width: 100%;
        bottom: 0;
    }
}

@include desktop-xl {
    .dataElements {
        .body {
            .sections {
                min-width: 1024px;
            }
        }
    }
}