@use 'styles/colors';

.table {
    border: 1px solid colors.$base-lighter;
    div table {
        thead tr th div label {
            margin: 0;
            &::before {
                margin-top: -0.5rem;
                content: '';
                display: inline-block;
                width: 1rem;
                height: 1rem;
                margin-right: 0.5rem;
            }
        }
        tbody tr td div div label {
            margin: 0;
            &::before {
                margin-top: -0.5rem;
                content: '';
                display: inline-block;
                width: 1rem;
                height: 1rem;
                margin-right: 0.5rem;
            }
        }
    }
}