@use 'styles/colors';

.counter {
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$color-base-light;
    color: colors.$color-white;
    border-radius: 0.25rem;
    font-weight: 700;
}
