.create-question {
    background: #fff;
    padding: 5px 30px;
    width: 80%;
    margin: auto;
    .field-space {
        margin-top: 10px;
        margin-bottom: 24px;
    }
    .radio-group {
        display: flex;
        gap: 1rem;
        margin-bottom: 1.8rem;
    }
    .main-header-title {
        font-size: 22px;
    }
    input,
    select {
        width: 480px;
        height: 40px;
        border: 1px solid #171717;
    }
    select {
        padding-left: 10px;
    }
    input[type='radio'],
    input[type='checkbox'] {
        width: 24px;
        height: 24px;
        accent-color: #005ea2;
        outline: none;
        line-height: 2;
    }
    button {
        outline: none;
        border-radius: 1px;
    }
    .radio-label {
        position: relative;
        top: -5px;
        margin: 0 10px;
    }
    .right-radio {
        margin-left: 15px;
    }
    form.usa-form {
        width: unset !important;
        display: contents !important;
    }
    .create-question__container {
        width: 500px;
        margin: 28px auto;
        .header-title {
            font-size: 22px;
        }
        h4 {
            margin-top: 5px;
        }
        .description {
            font-size: 16px;
        }
        .fields-info {
            color: #71767a;
        }
        .fields-help-text {
            color: #71767a;
            font-size: 12px;
        }
        .mandatory-indicator {
            color: #d83933;
        }
    }
    .submit-btn {
        float: right;
        margin-right: 20px;
        border: 2px solid #005ea2;
        border-radius: 4px;
    }
    .cancel-btn {
        float: right;
        margin-right: 20px;
        margin-bottom: 80px;
        border: 2px solid #005ea2;
        background: #fff;
        color: #005ea2;
        border-radius: 4px;
    }
    .usa-button {
        &:disabled {
            border: 2px solid #c9c9c9;
            background: #c9c9c9;
        }
    }
    .error-text {
        display: none;
    }

    .error-border {
        border-left: 2px solid #dc3545;
        padding-left: 10px;
        margin-bottom: 30px;
        padding-bottom: 0;

        .error-text {
            font-weight: 700;
            color: #dc3545;
            display: block;
            margin: 5px 0 0 0;
        }
        .field-space {
            margin-bottom: 0;
        }
    }
    .divider {
        margin-top: 40px;
        border-radius: 5px;
        background: var(--base-lighter, #dcdee0);
        margin-bottom: 52px;
        height: 1px;
        margin-left: -10px;
    }
    .msg-toggle-container {
        display: flex;
        gap: 10px;
        line-height: normal;
    }
}
.add-question-footer {
    margin-top: 40px;
    margin-bottom: 100px;
}