@use 'styles/borders' as borders;
@use 'styles/colors' as colors;

.manage-pages {
    display: flex;
    position: relative;
    border-radius: 5px;
    @extend %thin;

    .manage-pages__container {
        display: flex;
        flex-direction: row;
    }
    .manage-pages__table {
        background-color: colors.$base-white;
        border-radius: 3px;
        border: 1px solid colors.$base-lightest;
        min-width: 96.5%;
        min-height: calc(100vh - 16rem);
        justify-content: center;
        display: flex;
        thead th {
            &:nth-of-type(2) {
                width: 150px;
            }
            &:nth-of-type(4) {
                width: 150px;
            }
        }
        .table-menu .input label {
            display: none;
        }
        .ds-c-spinner {
            position: absolute;
            top: 45%;
        }
    }
}
