@use 'styles/colors';
@use 'styles/components';

.details {
    display: grid;
    grid-template-columns: 33% [label] 12rem [value] 1fr;
    column-gap: 2rem;
    row-gap: 0.5rem;

    padding: 0 1rem;

    color: colors.$base-darkest;
    line-height: normal;

    box-sizing: border-box;

    margin: 0;

    @extend %small;

    dt {
        grid-column: label;
        font-weight: 700;
        margin: 0;
    }

    dd {
        grid-column: value;
        margin: 0;
        white-space: pre-line;
        word-wrap: normal;
        max-width: 75ch;

        &.vertical {
            grid-column: label / span 2;
        }
    }
}
