.navigation {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    height: 2.75rem;

    h1 {
        margin: 0;
    }

    button {
        margin: 0;
    }

    .tabs {
        flex-grow: 1;
    }
}
