.navigation {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #fff;
    .heading {
        h2 {
            font-size: 1.375rem;
        }
    }
    .menu {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        .item {
            position: relative;
            border-top: 1px solid #e6e6e6;
            display: flex;
            cursor: pointer;

            a {
                height: 100%;
                width: 100%;
                font-size: 1.06rem;
                padding: 0.75rem 1rem 0.69rem 1rem;
                text-decoration: none;
                margin: 0;
                font-weight: 400;
                font-size: 1.06rem;
                color: #5c5c5c;
                &:visited {
                    color: #5c5c5c;
                }
            }
            &:focus {
                outline: 0.25rem solid #2491ff;
            }

            &:hover {
                background-color: #f0f0f0;
                a {
                    color: #005ea2;
                }
            }

            &.active {
                a {
                    font-weight: 700;
                    color: #005ea2;
                    &:visited {
                        color: #005ea2;
                    }
                }
                &::after {
                    background-color: #005ea2;
                    border-radius: 99rem;
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0.25rem;
                    top: 0.25rem;
                    width: 0.25rem;
                    left: 0;
                }
            }
            &:last-of-type {
                border-bottom: 1px solid #e6e6e6;
            }
        }
    }
}
