@use 'styles/colors';
@use 'styles/animation';

.reorder-section {
    .reorder-section__toggle {
        cursor: pointer;
    }
    .reorder-section__handle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reorder-section__tile {
        background-color: colors.$base-white;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.9rem 1.5rem;
        z-index: 500;
    }
    .reorder-section__subsections {
        margin-left: 1rem;
        &.closed {
            height: 0;
            display: none;
        }
    }
}
