@import '../../settings.scss';

.nav-bar {
    .usa-logo__text,
    .usa-accordion__button {
        color: white;
    }

    .title {
        .usa-logo__text {
            background-image: linear-gradient(rgb(53, 113, 165), rgb(76, 103, 143), #005ea2);
            width: fit-content;
            padding: 8px 16px;
            border-radius: 8px;
            border: solid 2px #005ea2;
        }
    }

    .usa-nav {
        padding: 0 !important;
        .usa-nav-item {
            height: 80px;
            display: flex;
            align-items: center;
            &.active {
                background-color: $color-bg-base-light;
                color: $color-base-darkest;
            }
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    table.nedssNavTable {
        width: 100%;
        border: 0;
        background: #003470;

        tr td {
            text-align: center;
            padding: 3px;
            &.navLink a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 10pt;
                font-family: Arial, sans-serif;
                padding: .15em;
                &:focus {
                    background-color: $color-bg-base-light;
                    color: $color-base-darkest;
                    outline: none;
                }
            }
            a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }

                &:focus {
                    outline: none;
                    background-color: #003470;
                }
            }
        }

        span {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        .nedssPageHeaderAndLogoTable {
            width: 100%;
            border: 0;
            background: #003470;
            margin-bottom: 0.5em;
        }
    }

    .nedssPageHeaderAndLogoTable {
        width: 100%;
        border: 0;
        background: #003470;

        tr td {
            text-align: right;
            color: #000;
            padding: 0px 3px 0px 3px;
            &.pageHeader {
                text-align: left;
                background: #dcdcdc;
                font-size: 1.3em;
                font-weight: bold;
                a {
                    color: #000;
                    text-decoration: none;
                }
            }

            &.currentUser {
                color: #fff;
                text-align: right;
                font-weight: bold;
                font-family: Arial, sans-serif;
                font-size: 10pt;
            }

            &.logo {
                text-align: right;
                width: 100px;
            }
        }
    }
}
