@use 'styles/colors';

$classic-navigation-background: #003470;
$classic-navigation-color: colors.$base-white;
$classic-logo-color: #005ea2;
$classic-page-header-color: black;
$classic-page-header-background: #dcdcdc;
$classic-active-navigation-item-background: #a9aeb1;
$classic-active-navigation-item-color: #1b1b1b;

$height: 62.4px;
$bumper: 0.375rem;

:root {
    --nav-bar-height: calc(#{$height} + #{$bumper});
}

.bottom {
    display: flex;
    justify-content: space-between;
    background-color: $classic-navigation-background;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.9);
    }

    .title {
        background: $classic-page-header-background;
        color: colors.$base-black;
        font-size: 1.0625rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        flex-basis: 33.33%;
        padding-left: 3px;
    }

    .user {
        display: inline-flex;
        gap: 1rem;
        align-items: center;
        background-color: $classic-navigation-background;
        color: colors.$base-white;

        font-size: 0.8125rem;
        font-weight: 700;

        padding-right: 3px;

        img {
            border: 0;
            background: #dcdcdc;
        }
    }
}

.navbar {
    height: $height;
    margin-bottom: $bumper;

    .usa-nav {
        padding: 0 !important;
        .usa-nav-item {
            height: 80px;
            display: flex;
            align-items: center;
            &.active {
                background-color: $classic-active-navigation-item-background;
                color: $classic-active-navigation-item-color;
            }
        }
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    table.nedssNavTable {
        width: 100%;
        border: 0;
        background: $classic-navigation-background;

        tr td {
            text-align: center;
            padding: 3px;
            &.navLink a {
                color: $classic-navigation-color;
                text-decoration: none;
                font-weight: bold;
                font-size: 10pt;
                font-family: Arial, sans-serif;
                padding: 0.15em;
                cursor: pointer;
                &:focus {
                    background-color: $classic-active-navigation-item-background;
                    color: $classic-active-navigation-item-color;
                    outline: none;
                }
            }
            a {
                color: $classic-navigation-color;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }

                &:focus {
                    outline: none;
                    background-color: $classic-navigation-background;
                }
            }
        }

        span {
            color: $classic-navigation-color;
            text-decoration: none;
            font-weight: bold;
        }

        .nedssPageHeaderAndLogoTable {
            width: 100%;
            border: 0;
            background: $classic-navigation-background;
            margin-bottom: 0.5em;
        }
    }

    .nedssPageHeaderAndLogoTable {
        width: 100%;
        border: 0;
        background: $classic-navigation-background;

        tr td {
            text-align: right;
            color: $classic-page-header-color;
            padding: 0px 3px 0px 3px;
            &.pageHeader {
                text-align: left;
                background: $classic-page-header-background;
                font-size: 1.3em;
                font-weight: bold;
                a {
                    color: $classic-page-header-color;
                    text-decoration: none;
                }
            }

            &.currentUser {
                color: $classic-navigation-color;
                text-align: right;
                font-weight: bold;
                font-family: Arial, sans-serif;
                font-size: 10pt;
            }

            &.logo {
                text-align: right;
                width: 100px;
            }
        }
    }
}
