@use 'styles/colors';
@use 'styles/borders';

.matchesRequiringReviewTable {
    @include borders.rounded();
    @extend %thin;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .tableWrapper {
        display: flex;
        flex-grow: 1;
        overflow: auto;
        background-color: colors.$base-white;

        .reviewButton {
            display: flex;
            width: 4.5rem;
            height: 1.5rem;
            align-items: center;
            line-height: normal;
        }
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        background-color: colors.$base-white;
        @extend %thin-top;
    }
}
