.terms {
    display: flex;
    align-items: center;
    .term {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    outline: none !important;

    h2 {
        display: flex;
        white-space: nowrap;
        margin: 0;
    }
}
