@use 'styles/colors';
@use 'styles/components';

.checkboxGroup {
    padding: 0;
    border: none;

    legend {
        padding-top: 0;
        color: colors.$base-darkest;
    }

    .options {
        display: flex;
        flex-direction: row;
        gap: 0.75rem 1.5rem;
        flex-wrap: wrap;
    }

    &.required {
        legend::after {
            content: ' *';
            color: colors.$mandatory;
        }
    }

    &.compact {
        @extend %compact;
    }
}
