@use 'styles/colors';
@use 'styles/borders';

$header-height: 4.75rem;
$in-page-navigation-width: 12.1875rem;

.layout {
    background-color: colors.$background;

    .header {
        display: flex;
        height: $header-height;
        width: 100%;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
        background-color: colors.$base-white;

        @extend %thin-bottom;

        .actions {
            display: flex;
            gap: 0.5rem;
        }
    }

    & > main {
        height: calc(100vh - #{$header-height} - var(--nav-bar-height, 75px));
        display: flex;
        gap: 1rem;

        padding: 1rem 1rem 0 1rem;
        overflow-y: scroll;

        .content {
            min-width: 36rem;
            width: 100%;
        }

        & > aside {
            position: sticky;
            top: 0;
            min-width: $in-page-navigation-width;
            max-width: $in-page-navigation-width;
        }
    }
}
