@use 'styles/colors';
@use 'styles/borders';

.cardContainer {
    border-bottom: 1px solid colors.$base-lighter;
    @extend %thin;
    box-shadow: none;
    border-radius: 0;

    & > header {
        background-color: colors.$cool-accent-lighter;
    }
}
