.container {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & > * {
        box-sizing: border-box;
        grid-column: span 2;
    }

    & > [data-half] {
        grid-column: span 1;
        flex-direction: column;

        display: flex;
        gap: 1rem;
    }
}
