.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: left right;

    & > * {
        grid-column: span 2;
    }

    & > [data-half] {
        grid-column: span 1;
    }
}
