.create-condition {
    padding: 5px 30px;
    margin-bottom: 8rem;
    form.usa-form {
        min-width: 70%;
        margin: 0 auto;
    }
    .create-condition__container {
        width: 500px;
        padding-top: 6rem;
        margin: 0 auto;
        position: relative;
        width: 100%;
        .mandatory-indicator {
            color: #d83933;
        }
        label {
            margin-top: 1rem;
        }
        select {
            margin-bottom: 1.6rem;
        }
    }
    .radio-group {
        display: flex;
        gap: 1rem;
        margin-bottom: 1.8rem;
    }
    .create-condition__buttons {
        padding-top: 1.8rem;
        display: flex;
        justify-content: flex-end;
        gap: 1.2rem;
        .usa-button {
            margin: 0;
        }
        .cancel-btn {
            border: 2px solid #005ea2;
            background: #fff;
            color: #005ea2;
            border-radius: 4px;
        }
        .submit-btn {
            border: 2px solid #005ea2;
            border-radius: 4px;
        }
    }
}
