@import '../../../../settings';

.create-condition {
    padding: 5px 30px;
    .field-space {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .main-header-title {
        font-size: 22px;
    }
    input, select {
        width: 480px;
        height: 40px;
        border: 1px solid #171717;
    }
    select {
        padding-left: 10px;
    }
    input[type="radio"],
    input[type="checkbox"] {
        width: 24px;
        height: 24px;
        accent-color: #005EA2;
        outline: none;
        line-height: 2;
    }
    button {
        outline: none;
        border-radius: 1px;
    }
    .radio-label {
        position: relative;
        top: -5px;
        margin: 0 10px;
    }
    .right-radio {
        margin-left: 15px;
    }
    .create-condition__container {
        width: 500px;
        margin: 50px auto;
        .header-title {
            font-size: 22px;
        }
        .description {
            font-size: 16px;
        }
        .fields-info {
            color: #71767A;
        }
        .mandatory-indicator {
            color: #D83933;
        }
    }
    .submit-btn {
        float: right;
        margin-right: 20px;
        border: 2px solid #005EA2;
        border-radius: 4px;
    }
    .cancel-btn {
        float: right;
        margin-right: 20px;
        margin-bottom: 80px;
        border: 2px solid #005EA2;
        background: #fff;
        color: #005EA2;
        border-radius: 4px;
    }
    .usa-button {
        &:disabled {
            border: 2px solid #C9C9C9;;
            background: #C9C9C9;
        }
    }
    .error-text {
        display: none;
    }

    .error-border {
        border-left: 2px solid #dc3545;
        padding-left: 10px;
        margin-bottom: 30px;
        padding-bottom: 0;

        .error-text {
            font-weight: 700;
            color: #dc3545;
            display: block;
            margin: 5px 0 0 0;
        }
        .field-space {
            margin-bottom: 0;
        }
    }
}