@use 'styles/headers';

.noResults {
    display: flex;
    padding: 3rem;

    .noResultsContent {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .noResultsSubHeading {
            @include headers.header(3);
            font-weight: 400;

            a {
                cursor: pointer;
            }
        }
    }
}
