$header-height: 3.75rem;
$pagination-height: 4.75rem;

.results {
    height: 100%;
    .header {
        height: $header-height;
    }

    .content {
        height: calc(100% - #{$header-height} - #{$pagination-height});
        overflow: scroll;

        .noResults {
            display: flex;
            padding: 3rem;
            .noResultsContent {
                display: flex;
                flex-direction: column;
                padding-top: 0.4rem;
                padding-bottom: 0.4rem;
                padding-left: 0.5rem;
                gap: 0.5rem;

                .noResultsHeader {
                    font-size: 1.375rem;
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: 700;
                }

                .noResultsSubHeading {
                    font-family: 'Public Sans';
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;

                    .link {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .pagingation {
        height: $pagination-height;
    }
}
