$header-height: 3.75rem;
$pagination-height: 4.75rem;

.results {
    height: 100%;
    .header {
        height: auto;
    }

    .content {
        height: calc(100% - #{$header-height} - #{$pagination-height});
    }
}
