@forward 'styles/buttons';
@use 'styles/colors';
@use 'styles/modal';
@use 'styles/borders';
@use 'styles/media';

.overlay {
    z-index: 1000;
}

dialog.modal {
    left: auto;
    right: auto;

    border: none;

    background-color: colors.$base-white !important;

    &.small {
        width: 30rem;
    }

    &.large {
        width: 55rem;
    }

    max-width: clamp(30rem, 55rem, 90dvw);

    header.header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 1rem;

        @extend %thin-bottom;

        button.closer {
            color: colors.$base-black;
        }
    }

    .main {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem !important;

        overflow-y: auto;
    }

    footer.footer {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        padding: 1rem;
        margin: 0;

        @extend %thin-top;
    }
}
