@import 'settings.scss';

.table-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
        padding: 9px 16px;
        height: 40px;
        p {
            margin: 0;
            font-size: 16px;
        }
        &:first-of-type {
            border-radius: 0 4px 4px 0;
            padding: 9px;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
    .input {
        label {
            display: none;
        }
        input {
            margin: 0;
            height: 2.4rem;
            width: 16rem;
        }
        span {
            display: none;
        }
    }
}