@import 'settings.scss';

.edit-page-header {
    display: flex;
    padding: 0 1.2rem;
    justify-content: space-between;
    .edit-page-header__left {
        width: 50%;
        h2 {
            font-size: 1.375rem;
            margin-bottom: 0.6rem;
        }
        h4 {
            font-weight: 400;
            margin-top: 0.25rem;
            color: $color-base-light;
        }
    }
    .edit-page-header__right {
        display: flex;
        align-items: center;
    }
}