@use 'styles/colors';

.titleContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: normal;
}

.name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.separator {
  color: colors.$base-light;
  font-size: 1.375rem;
}
