.heading {
    font-weight: 700;
}
.one {
    font-size: 2rem;
}

.two {
    font-size: 1.375rem;
}

.three {
    font-size: 1rem;
}

.four {
    font-size: 0.9375;
}

.five {
    font-size: 0.8125rem;
    letter-spacing: 0.02031rem;
    text-transform: uppercase;
}
