@use 'styles/colors';

.layout {
    display: grid;
    place-items: center;
    place-content: center;
    margin: 1rem;
    padding: 2rem;
    background-color: colors.$base-white;
    flex-grow: 1;
    min-height: 70vh;
}
