.statusCheckboxes {
    display: flex;
    column-gap: 1rem;
    padding: 0;
    margin: 1rem 0;
    div {
        flex-wrap: wrap;
    }
}
legend {
    font-size: 1.06rem;
}
.basic {
    .checkboxes {
        .boxes {
            display: flex;
            column-gap: 1rem;
            flex-wrap: wrap;
            padding-bottom: 2rem;
        }
    }

    .toggle {
        display: flex;
        flex-direction: row;
        padding-top: 0.5rem;

        .toggleBtn {
          padding-top: 1rem;
          padding-right: 0.5rem;
        }
    }
}
