@import '@trussworks/react-uswds/lib/uswds.css';
@import '@trussworks/react-uswds/lib/index.css';
@import './assets/shared.scss';
@import './styles/animation';
@import './styles/borders';
@import './styles/colors';
@import './styles/typography';
@import './styles/uswds';
@import './mixins/viewports';

$theme-image-path: '~uswds/src/img';
$theme-font-path: '~uswds/src/fonts';
$theme-hero-image: '~uswds/src/img/hero.png';

.select-indicator {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyIDUuODNMMTUuMTcgOWwxLjQxLTEuNDFMMTIgMyA3LjQxIDcuNTkgOC44MyA5IDEyIDUuODN6bTAgMTIuMzRMOC44MyAxNWwtMS40MSAxLjQxTDEyIDIxbDQuNTktNC41OUwxNS4xNyAxNSAxMiAxOC4xN3oiLz48L3N2Zz4=),
        linear-gradient(transparent, transparent);
}

.common-card {
    background: white;
    border: 1px solid #dfe1e2;
    border-radius: 5px;
    min-height: 147px;
    height: auto;
}

.font-sans-xl {
    font-size: 32px !important;
}

.font-sans-xl {
    font-family: sans-serif !important;
}

td span {
    word-break: break-word;
}

.required {
    &::after {
        content: ' *';
        color: $color-red;
    }
}

.css-1jqq78o-placeholder {
    color: $color-black !important;
}

.text-red {
    color: $color-red-50 !important;
}
