@import '@trussworks/react-uswds/lib/uswds.css';
@import '@trussworks/react-uswds/lib/index.css';
@import './assets/shared.scss';
@import './styles/colors';
@import './styles/typography';
@import './styles/uswds';
@import '@cmsgov/design-system/dist/css/index.css';
@import '@cmsgov/design-system/dist/css/core-theme.css';

$theme-image-path: '~uswds/src/img';
$theme-font-path: '~uswds/src/fonts';
$theme-hero-image: '~uswds/src/img/hero.png';

.common-card {
    background: white;
    border: 1px solid #dfe1e2;
    border-radius: 5px;
    min-height: 147px;
    height: auto;
}

.font-sans-xl {
    font-size: 32px !important;
}

.font-sans-xl {
    font-family: sans-serif !important;
}
