@use 'styles/colors';

.phone-number-input {
    &.error {
        border-left: 2px solid colors.$secondary-dark;
        padding-left: 1em;
    }
    .usa-input-mask {
        .usa-input-mask--content {
            display: none;
        }
        .masked-input {
            background-color: colors.$base-white;
            cursor: text;
        }
    }
}
