@use 'styles/colors';
@use 'styles/borders';

.preview {
    display: grid;
    grid-template-columns: minmax(25.5rem, 1fr) 3fr;
    gap: 1.5rem;

    aside,
    main {
        background-color: colors.$base-white;
        @include borders.bordered();
        @include borders.rounded();
    }
}
.link {
    border: 2px solid colors.$primary;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
}