.person-details {
    .flex-container {
        display: flex;
        flex-wrap: wrap;

        .usa-form-group {
            padding: 0 10px;
            width: 50%;
        }

        .age-text {
            font-size: 20px;
            padding: 10px 5px 0;
        }

        .usa-form-group--error {
            margin-left: 0;
        }
    }
}
