@use 'styles/borders' as borders;
@use 'styles/colors';

.section {
    background-color: colors.$base-white;
    border-radius: 0.25rem;

    @extend %thin;

    &__header {
        width: 100%;
        height: 5rem;
        @extend %thin;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.6rem;
        &--left {
            display: flex;
            align-items: center;
            gap: 0.6rem;
        }
        &--right {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            svg {
                cursor: pointer;
                color: colors.$primary;
            }
        }
    }
    &__body {
        padding: 1.4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
