@use 'styles/colors';

.entry {
    display: flex;
    width: 100%;

    input,
    select {
        box-sizing: border-box;
    }

    &.compact {
        label {
            font-size: 0.875rem;
            line-height: normal !important;
            margin: 0;
        }

        input,
        select {
            font-size: 0.875rem;
            line-height: normal !important;
            margin: 0;

            width: unset;
        }
    }

    &.vertical {
        flex-direction: column;
        gap: 0.5rem;
    }

    &.error {
        border-left: 2px solid colors.$secondary-dark;
        padding-left: 1rem;

        input {
            outline: none;
        }
    }
}
