@use 'styles/colors';
@use 'styles/components';

.entry {
    display: flex;
    width: 100%;

    label {
        margin: 0;
    }

    input,
    select {
        box-sizing: border-box;
        margin: 0;
    }

    &.compact {
        @extend %compact;

        label {
            @extend %compact;
        }

        input,
        select {
            @extend %compact-input;
        }
    }

    &.vertical {
        flex-direction: column;
        gap: 0.5rem;
    }

    &.error {
        border-left: 2px solid colors.$secondary-dark;
        padding-left: 1rem;

        input {
            outline: none;
        }
    }
    &.tooltip {
        flex-direction: row-reverse;
        justify-content: flex-end;
        column-gap: 2px;
        input {
            outline: none;
        }
        span {
            span {
                background-color: colors.$error-dark;
                &::after {
                    border-top: 5px solid colors.$error-dark;
                }
            }
        }
    }
    &.centered {
        align-items: center;
        gap: 0.25rem;
        button:hover {
            background-color: unset;
            color: colors.$secondary;
        }
    }
}
