@use 'styles/borders';
@use 'styles/colors';

.horizontalInput {
    display: flex;
    padding: 0.5rem 1.5rem;
    align-items: center;
    gap: 2rem;
    min-height: 3rem;
    @extend %thin-bottom;

    .left {
        width: 13rem;
    }

    label {
        color: colors.$base-darkest;
        font-size: 0.875rem;
        font-weight: 700;
    }

    .helptext {
        margin-top: -0.5rem;
        font-size: 0.8rem;
        color: colors.$base;
    }

    .right {
        width: 20rem;
    }
}
