@use 'styles/colors';
@use 'styles/borders';

.form {
    width: 100%;
    .fields {
        padding-bottom: 7rem;
        .criteria {
            background-color: colors.$base-white;
            margin-bottom: 1rem;
            border: 1px solid colors.$base-lighter;
            border-radius: 0.3125rem;

            .criteriaHeadingContainer {
                position: relative;
                padding: 1rem 1.5rem;
                border-bottom: 1px solid colors.$base-lighter;
                h4 {
                    font-size: 1.375rem;
                    margin: 0;
                }
                p {
                    font-size: 0.875rem;
                    margin: 0.25rem 0 0 0;
                    font-weight: 400;
                }
                .labels {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    display: flex;
                    gap: 0.5rem;
                    div {
                        color: colors.$base-darkest;
                        padding: 0.25rem 0.5rem;
                        border-radius: 0.125rem;
                    }
                    .grey {
                        background-color: colors.$base-lightest;
                    }
                    .yellow {
                        background-color: colors.$warm-accent-light;
                    }
                    .green {
                        background-color: colors.$success;
                        color: colors.$base-white;
                    }
                }
            }

            .criteriaContentContainer {
                padding: 0 1rem 0 1rem;
                button {
                    padding-left: 0;
                    text-decoration: none;
                    padding: 1rem 0;
                    &:disabled {
                        background-color: unset !important;
                        color: colors.$disabled;
                        border: none;
                    }
                }

                .criteriaRequest {
                    border-bottom: 1px solid colors.$base-lighter;
                    padding: 1rem 0;
                    margin: 0;
                }

                .progressBar {
                    width: 100%;
                }
                .bounds {
                    display: flex;
                    justify-content: center;
                    max-width: 50%;
                    margin: 0 auto;
                    padding-bottom: 1.25rem;
                    div {
                        gap: 0.25rem;
                        width: 12rem;
                        padding: 0;
                        border: none;
                        label {
                            width: 13rem;
                            font-weight: 400;
                        }
                        input {
                            width: 5rem;
                        }
                    }
                }
            }

            &.disabled {
                background-color: colors.$disabled-lighter;
                color: colors.$base-darkest;
                border-color: colors.$base-light;
                .criteriaHeadingContainer {
                    border-color: colors.$base-light;
                    h4,
                    p {
                        color: colors.$disabled-darkest;
                    }
                    .labels {
                        div {
                            color: colors.$base-darkest;
                            background-color: colors.$base-light;
                        }
                    }
                }
                .criteriaContentContainer {
                    p {
                        color: colors.$disabled-darkest;
                        border-color: colors.$base-light;
                    }
                    button {
                        color: colors.$disabled-darkest !important;
                    }
                }
            }
        }
    }
    .totalOdds {
        padding-left: 35rem;
        padding-top: 1.25rem;
        p {
            font-size: 0.875rem;
            font-weight: 700;
            margin: 0;
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        @extend %thin-top;
        position: fixed;
        background-color: colors.$base-white;
        width: calc(100% - 18.75rem);
        bottom: 0;
        margin-left: -1rem;
        .saveButton {
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
        }
    }
}
