@use 'styles/colors';

.header {
    &.fixed {
        position: sticky;
        left: 0;
        z-index: 30;

        min-width: 12.5rem;
        max-width: 12.5rem;
        border-right-width: 1px;
        border-right-style: solid !important;
        border-right-color: colors.$base;
    }

    &.sorted {
        background-color: colors.$cool-accent-light !important;
    }

    div {
        display: flex;
        justify-content: space-between;
        border: none;
        align-items: center;
    }
    
    svg {
        height: 1.125rem;
        width: 1.125rem;
    }
}
