@use 'styles/colors';

.header {
    padding-top: 0.62rem !important;
    padding-bottom: 0.62rem !important;

    &.fixed {
        position: sticky;
        left: 0;
        z-index: 30;

        min-width: 12.5rem;
        max-width: 12.5rem;
        border-right-width: 1px;
        border-right-style: solid !important;
        border-right-color: colors.$base;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-height: 2.5rem;

        transition-duration: 0.25s;
        transition-property: max-height;
        transition-timing-function: ease-in;

        &.extended {
            max-height: 5.125rem;
        }
    }

    .sortable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    &.sorted {
        background-color: colors.$cool-accent-light !important;
    }
}
