.constrained {
    max-height: 42px;
    overflow: hidden;
}
.expander {
    max-height: unset;
}
.button {
  padding: 0 !important;
  margin-left: auto !important;
  width: 9ch !important;
  float: right;
  text-decoration: unset !important;
}
