.ContentTitle{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:italic;
 Color:#002288;
 BackGround-Color:#B0B0B0;
}
.NoteContent{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.FatalContent{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.HeaderEmphasis{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:italic;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.Output{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#F0F0F0;
 Border:1px outset #000000;
}
.WarnContentFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.Graph{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
 Border:1px outset #000000;
}
.DataStrong{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#D3D3D3;
}
.Document{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.BeforeCaption{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#E0E0E0;
}
.ContentsDate{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
 Width:100%;
}
.Pages{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
 Margin-Left:8px;
 Margin-Right:8px;
 List-Style-type:decimal;
}
.TitlesAndFooters{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:italic;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.NoteBanner{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.IndexProcName{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 List-Style-type:decimal;
}
.ProcTitle{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:italic;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.Data{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#D3D3D3;
 Text-align: left;
}
TD{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#D3D3D3;
 Text-align: right;
}
.Table{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#F0F0F0;
 Border:1px outset #000000;
}
.IndexAction{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.FooterEmpty{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.SysTitleAndFooterContainer{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
 Border:0;
 Width:100%;
}
.RowFooterEmpty{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.RowFooterEmphasis{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:italic;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.FooterFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.RowFooterStrongFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.ExtendedPage{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:italic;
 Color:#002288;
 BackGround-Color:#E0E0E0;
 Text-align:CENTER;
 Border:1pt;
}
.ContentFolder{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 Margin-Left:6pt;
 List-Style-type:NONE;
}
.Container{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.Date{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
 Width:100%;
}
.RowFooterFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.Caption{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#E0E0E0;
}
.WarnBanner{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.Frame{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.HeaderStrongFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.IndexTitle{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:italic;
 Color:#002288;
 BackGround-Color:#B0B0B0;
}
.NoteContentFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.DataEmphasisFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:italic;
 Color:#000000;
 BackGround-Color:#D3D3D3;
}
.Note{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.Byline{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.FatalBanner{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.ProcTitleFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:bold;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.ByContentFolder{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 Margin-Left:6pt;
 List-Style-type:NONE;
}
.PagesProcLabel{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 List-Style-type:decimal;
}
.RowFooterEmphasisFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:italic;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.RowHeaderFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.WarnContent{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.DataEmpty{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#D3D3D3;
}
.Cell{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.Header{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.PageNo{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.ContentProcLabel{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 List-Style-type:decimal;
}
.HeaderFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.PagesTitle{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:italic;
 Color:#002288;
 BackGround-Color:#B0B0B0;
}
.RowHeaderEmpty{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.PagesProcName{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 List-Style-type:decimal;
}
.Batch{
 Font-Family: SAS Monospace, Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#D3D3D3;
 Border:1px outset #000000;
}
.ContentItem{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 Margin-Left:6pt;
 List-Style-type:NONE;
}
.Body{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
 Margin-Left:8px;
 Margin-Right:8px;
}
.PagesDate{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
 Width:100%;
}
.HeaderEmpty{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.FooterStrong{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.FooterEmphasis{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:italic;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.ErrorContent{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.DataFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#D3D3D3;
}
.HeaderStrong{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.RowFooter{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.TitleAndNoteContainer{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
 Border:0;
 Width:100%;
}
.DataEmphasis{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:italic;
 Color:#000000;
 BackGround-Color:#D3D3D3;
}
.IndexItem{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 Margin-Left:6pt;
 List-Style-type:NONE;
}
.FatalContentFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.BylineContainer{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
 Border:0;
 Width:100%;
}
.FooterEmphasisFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:italic;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.RowFooterStrong{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.UserText{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.BodyDate{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
 Width:100%;
}
.HeadersAndFooters{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.RowHeaderEmphasisFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:italic;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.ErrorBanner{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.ContentProcName{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 List-Style-type:decimal;
}
.RowHeaderStrong{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.Contents{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
 Margin-Left:8px;
 Margin-Right:8px;
 List-Style-type:decimal;
}
.FooterStrongFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.PagesItem{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#B0B0B0;
 Margin-Left:6pt;
 List-Style-type:NONE;
}
.RowHeader{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.RowHeaderStrongFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.AfterCaption{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#E0E0E0;
}
.RowHeaderEmphasis{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:italic;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.DataStrongFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:bold;
 Font-style:normal;
 Color:#000000;
 BackGround-Color:#D3D3D3;
}
.Footer{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:medium;
 Font-weight:bold;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.FolderAction{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.HeaderEmphasisFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:italic;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}
.SystemTitle{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:large;
 Font-weight:bold;
 Font-style:italic;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.ErrorContentFixed{
 Font-Family: Courier;
 Font-Size:x-small;
 Font-weight:normal;
 Font-style:normal;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.SystemFooter{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:large;
 Font-weight:bold;
 Font-style:italic;
 Color:#002288;
 BackGround-Color:#E0E0E0;
}
.Index{
 Font-Family: Arial, Helvetica, Helv;
 Font-Size:small;
 Font-weight:normal;
 Font-style:normal;
 Color:#0033AA;
 BackGround-Color:#B0B0B0;
}


/*Reports: td*/

.table td{
border-bottom-style: solid;
border-right-style: solid;
border-color: white;
border-width: 1px;
}

.table tr td:last-child{
border-right-style: solid;
border-right-color: black;
}

.table tr:last-child td{
border-bottom-style: solid;
border-bottom-color: black;
}

/*Reports: th*/

.table th{
border-bottom-style: solid;
border-right-style: solid;
border-color: white;
border-width: 1px;
}

.table th:last-child{
border-right-style: solid;
border-right-color: black;
}
