@import 'settings.scss';

.valueset-local-library {

  .search-description-block {
     p { margin: 32px 32px 8px}
    color: var(--base-black, #000);
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  position: relative;
  .valueset-local-library__container {
    display: flex;
    flex-direction: row;
  }
  .valueset-local-library__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      padding: 9px 16px;
      height: 40px;
      p {
        margin: 0;
        font-size: 16px;
      }
      &:first-of-type {
        border-radius: 0 4px 4px 0;
        padding: 9px;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
    .input {
      input {
        margin: 0;
        width: 252px;
      }
      span {
        display: none;
      }
    }
  }
  .valueset-local-library__table {
    background-color: $color-white;
    margin: 1.5rem;
    border-radius: 3px;
    border: 1px solid $color-bg-base-lightest;
    table.usa-table {
      border-radius: 5px;
      border: 1px solid var(--base-lighter, #DCDEE0);
      border-bottom: 1px solid rgba(27, 27, 27, 0.95);
      background: var(--base-white, #FFF);
    }
    div.search-box {
      border-radius: 5px;
      border-bottom: 1px solid var(--base-lighter, #DCDEE0);
      background: var(--base-lightest, #F0F0F0);
      padding: 16px;
      margin-bottom: 16px;
    }
    thead th {
      &:nth-of-type(1) .table-head {
        margin-left: 66px;
      }
      &:nth-of-type(2) {
        width: 250px;
      }
      &:nth-of-type(4) {
        width: 100px;
      }
    }
    tbody tr {
      border-bottom: 1px solid #1b1b1b;
      td {
        border: 0;
        .usa-checkbox__label::before{
          margin-top: 0.18rem;
        }
      }
      td:first-child {
        div{
          display: flex
        }
      }
    }
  }
  .table-footer-action {
    .valueset-action-btn {
      .cancel-btn {
        border-radius: 4px;
        border: 2px solid #005EA2;
        background: rgba(255, 255, 255, 0.00);
        color: #005EA2;
        text-align: center;
        font-family: Public Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .submit-btn {
        border-radius: 4px;
        text-align: center;
        border: 2px;
        font-family: Public Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .usa-button {
        &:disabled {
          border: 2px solid #C9C9C9;;
          background: #C9C9C9;
        }
      }
    }
  }
}