@use 'styles/colors';

.message {
    --badge-color: #{colors.$disabled};

    display: flex;

    .information {
        --badge-color: #{colors.$info};
    }

    .success {
        --badge-color: #{colors.$success};
    }

    .warning {
        --badge-color: #{colors.$warning};
    }

    .error {
        --badge-color: #{colors.$error};
    }

    .badge {
        display: flex;
        align-items: center;

        border-left-width: 8px;
        border-left-color: var(--badge-color);
        border-left-style: solid;
        color: var(--badge-color);

        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content {
        color: colors.$base-darkest;
        font-size: 1rem;
        line-height: 162%;
    }
}
