@use 'styles/colors';
@use 'styles/borders';

.dataTable {
    border-collapse: collapse !important;

    & > thead tr th {
        &:nth-of-type(1) {
            width: 1rem;
        }

        &:nth-of-type(5) {
            width: 1rem;
        }
    }
    & > tbody {
        & > tr {
            @extend %thin-bottom;

            & > td {
                vertical-align: middle;
            }
        }

        tr:nth-child(odd) {
            td {
                background-color: colors.$base-white;
            }
        }
    }

    .checkBox {
        display: flex;
        align-items: center;
        label {
            height: 1rem;

            &::before {
                height: 1rem;
                width: 1rem;
            }
        }
    }

    .selected {
        border-radius: 0.25rem;
        background: colors.$primary-darker;
        color: colors.$base-white;
    }
}
