@use 'styles/colors';
@use 'styles/borders';
@use 'design-system/table/header/widths';

.dataTable {
    border-collapse: collapse !important;

    & > thead tr th {
        &:nth-of-type(1) {
            width: 3rem;
        }

        &:nth-of-type(5) {
            width: 1rem;
        }
    }
    & > tbody {
        & > tr {
            @extend %thin-bottom;
            word-wrap: break-word;

            & > td {
                &:nth-child(5) {
                    padding: 0.25rem 0.5rem 0 0.25rem;
                }

                .action {
                    & > button {
                        min-width: 1rem;
                        padding: 0;
                        --button-height: 1rem;
                        --button-icon-size: 1rem;

                        & > svg {
                            width: 1rem;
                            height: 1rem;
                        }
                    }

                    .checkBox {
                        display: flex;
                        align-items: center;
                        label {
                            height: 1rem;

                            &::before {
                                height: 1rem;
                                width: 1rem;
                            }
                        }
                    }
                }
            }
        }

        tr:nth-child(odd) {
            td {
                background-color: colors.$base-white;
            }
        }
    }

    .selected {
        border-radius: 0.25rem;
        background: colors.$primary-darker;
        color: colors.$base-white;
    }
}
