@import 'settings.scss';

.alert-banner {
    width: 100%;
    padding: 0.6rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
    position: relative;
    &.success {
        background-color: $color-bg-alert-success;
        border-left: 8px solid $color-alert-success;
    }
    &.warning {
        background-color: $color-bg-alert-warning;
        border-left: 8px solid $color-alert-warning;
    }
    &.prompt {
        background-color: $color-bg-alert-prompt;
        border-left: 8px solid $color-alert-prompt;
    }
    &.info {
        background-color: $color-bg-info-prompt;
        border-left: 8px solid $color-alert-info;
    }
    &.error {
        background-color: $color-bg-alert-error;
        border-left: 8px solid $color-alert-error;
    }
    &__left,
    &__right {
        display: flex;
        align-items: center;
    }
    &__close {
        cursor: pointer;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
}
