version: "3.8"
services:
  zookeeper:
    image: confluentinc/cp-zookeeper@sha256:8ac3e0e062836122363c861f6b2ad8ba4e4a47d574eda27c8512cf6458cafbb1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2191:2191"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2191
      ZOOKEEPER_TICK_TIME: 2000
  kafka:
    image: confluentinc/cp-kafka@sha256:8cf10463209bbd1ec6868dbd61566b8d066975a3e24a298ecb9af7ab414e8316
    hostname: kafka
    container_name: kafka
    ports:
      - "29092:29092"
      - "29095:29095"
      - "9092:9092"
      - "9095:9095"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2191
      KAFKA_ADVERTISED_LISTENERS: EXTERNAL://localhost:9092, INTERNAL://kafka-local:9095
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT, EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    depends_on:
      - zookeeper
    networks:
      default:
        aliases:
          - 'kafka-local'

  schema:
    image: confluentinc/cp-schema-registry@sha256:ba3353d723c3f0b5c5d84d63b5dfd864e2b6b271dd34d569aae7f6e7beaf84c7
    container_name: schema
    hostname: schema
    ports:
      - "9091:9091"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka-local:9095'
      SCHEMA_REGISTRY_HOST_NAME: schema
      SCHEMA_REGISTRY_LISTENERS: http://schema:9091
    depends_on:
      - kafka
  kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka-ui
    ports:
      - "8008:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=nedss-modernization
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka-local:9095
    depends_on:
      - kafka
