@import 'settings.scss';

.page-builder {

    .page-builder__content {
        position: absolute;
        top: 134px;
        width: 100%;
        background-color: $color-bg-base-lightest;
        height: calc(100vh - 58px);
    }
}