@use 'styles/colors';
@use 'styles/borders';

.passForm {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .formContent {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .buttonBar {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        gap: 1rem;
        width: 100%;
        background-color: colors.$base-white;
        @extend %thin-top;
    }
}
