@import '../../../../settings';

.add-valueset {
    .tabs {
        padding-left: unset !important;
    }
    padding: 5px 30px;
    .field-space {
        margin-top: 10px;
        margin-bottom: 24px;
    }
    .main-header-title {
        font-size: 22px;
    }
    input {
        width: 100%;
        height: 40px;
        border: 1px solid #171717;
    }
    input[type="radio"],
    input[type="checkbox"] {
        width: 24px;
        height: 24px;
        accent-color: #005EA2;
        outline: none;
        line-height: 2;
    }
    button {
        outline: none;
        border-radius: 1px;
    }
    .radio-label {
        position: relative;
        top: -5px;
        margin: 0 10px;
    }
    .right-radio {
        margin-left: 45px;
    }
    .add-valueset__container {
        width: 680px;
        margin: 32px auto;
        .header-title {
            font-size: 16px;
            text-align: center;
            margin-bottom: 0;
        }
        .description {
            font-size: 16px;
            font-weight: bold;
        }
        .fields-info {
            margin-top: 0px;
            color: #71767A;
            text-align: center;
            padding-bottom: 15px;
        }
        .mandatory-indicator {
            color: #D83933;
        }
        .usa-form-group {
            margin-top: 0;
        }
    }
    .submit-btn {
        float: right;
        margin-right: 20px;
        border: 2px solid #005EA2;
        border-radius: 4px;
    }
    .cancel-btn {
        float: right;
        margin-right: 20px;
        margin-bottom: 80px;
        border: 2px solid #005EA2;
        background: #fff;
        color: #005EA2;
        border-radius: 4px;
    }

    .error-text {
        display: none;
    }

    .error-border {
        border-left: 2px solid #dc3545;
        padding-left: 10px;
        margin-bottom: 30px;
        padding-bottom: 0;

        .error-text {
            font-weight: 700;
            color: #dc3545;
            display: block;
            margin: 5px 0 0 0;
        }
        .field-space {
            margin-bottom: 0;
        }
    }
    .back-btn {
        margin-right: 10px;
        color: #1b1b1b;
    }
    .close-btn {
        float: right;
        font-size: 32px;
        color: #1b1b1b;
        margin: 15px auto;
    }
    .usa-button {
        &:disabled {
            border: 2px solid #C9C9C9;;
            background: #C9C9C9;
        }
    }
}

.form-container {
    min-height: 390px;
    .field-space {
        width: 100%;
    }
    .inline-field {
        input {
            width: 100%;
        }
    }
    .right-radio {
        margin-left: 24px;
    }
    .effective-date-field {
        margin-bottom: 24px;
    }
    .usa-date-picker__external-input {
        background-color: var(--base-lightest, #F0F0F0);
        height: 40px;
        width: 215px;
    }
}
.line-btn {
    display: flex;
    padding: 11px 10px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 6px;
    text-decoration: none;
    &.delete-ln-btn {
       color: var(--error-error, #D54309);
    }
}
.footer-line-btn-block {
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
    }
}
// check logic for data and apply class
.value_set_concept_container .description {
    display: none;
}
