@use 'styles/colors';
@use 'styles/borders';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 0.5rem;

    padding: 1rem;

    @extend %thin-bottom;

    background-color: colors.$base-white;

    .title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        h1 {
            flex-basis: 1;
        }

        .values {
            font-size: 1.375rem;
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;

            .value {
                min-width: fit-content;

                &::before {
                    content: '|';

                    padding-right: 0.5rem;
                    color: colors.$base-light;
                }

                &.inactive {
                    color: colors.$error-dark;
                    font-weight: 700;
                }
            }
        }
    }

    .actions {
        flex-shrink: 0;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        .usa-button:disabled {
            color: colors.$disabled-darker !important;
            background: none !important;
            box-shadow: inset 0 0 0 2px colors.$disabled !important;
        }
    }
}
