@use 'styles/colors';
@use 'styles/borders';

p {
    margin: 0;
}

.file {
    .header {
        background-color: colors.$base-white;

        .headerContent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px colors.$base-lighter solid;
            gap: 0.5rem;
            padding: 1rem 0.5rem 1rem 1rem;

            
            .headerContentTitle {
                display: flex;
                gap: 0.5rem;
                flex-direction: row;
                align-items: flex-end;

                .headerPatientName {
                    color: var(--Base-Black, #000);
                    /* H1 */
                    font-family: "Public Sans";
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                
                .headerPatientDetail {
                    color: var(--Base-Black, #000);
                    /* H2 */
                    font-family: "Public Sans";
                    font-size: 1.375rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;                }
                
                .headerPatientDivider {
                    color: var(--Base-light, #A9AEB1);
                    /* H2 */
                    font-family: "Public Sans";
                    font-size: 1.375rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .actions {
                display: flex;
                padding-right: 0.5rem;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }
    & > main {
        padding: 1rem;
    }
}
