@use 'styles/colors';
@use 'styles/borders';

.file {
    .header {
        background-color: colors.$base-white;

        .headerContent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px colors.$base-lighter solid;

            padding: 1rem;
            & > .actions {
                display: flex;
                gap: 0.5rem;
            }
        }
    }
    & > main {
        padding: 1rem;
    }
    body {
        padding: 1rem 1rem 2.5rem 1rem;
        gap: 1rem;

        .summaryContent {
            padding: 1rem;
        }
    }
}
