@use 'styles/colors';
@use 'styles/borders';

.dataElementsForm {
    overflow: auto;
    height: 100%;
    width: 100%;

    table {
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;
        font-size: 0.875rem;

        thead {
            position: sticky;
            top: 0;
            z-index: 20;
            text-align: left;

            .border {
                th {
                    height: 1px;
                    padding: 0;
                    background-color: colors.$base;
                    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
                }
            }
        }

        tr th,
        td {
            padding: 0.62rem 1rem;
        }

        .checkbox {
            width: 3.25rem;
            label::before {
                margin-top: -0.75rem;
            }
        }

        .field {
            font-weight: 700;
        }

        tbody tr:nth-child(odd) {
            background-color: colors.$base-lightest;
        }

        .inputContainer {
            display: flex;
            align-items: center;

            span {
                span {
                    background-color: colors.$error-dark;
                    &::after {
                        left: 51%;
                        border-top: 5px solid colors.$error-dark;
                    }
                }
            }

            .numericInput {
                width: 5rem;
                height: 2.5rem;
                padding: 0.5rem;
                border-radius: 0;
                border: solid 1px colors.$base-dark;
            }

            .errorBorder {
                border: solid 0.25rem colors.$secondary-dark;
            }

            .tooltip {
                background-color: unset;
                min-width: unset;
                min-height: unset;
                padding: 0;
                margin: 0;
                color: colors.$secondary;
                height: auto;
                width: auto;
                svg {
                    margin: 0.25rem 0 0;
                }

                .tooltipIcon {
                    margin-left: 0.25rem;
                    font-size: 1rem;
                    border-radius: 50%;
                    width: 19.25px;
                    height: 19.25px;
                }
            }
        }

        @extend %thin-bottom;
    }
}
