.checkbox {
    width: 3.25rem;
    justify-content: center;
    label::before {
        margin-top: -0.55rem;
        margin-left: 13px;
        width: 16px;
        height: 16px;
    }
}

.field {
    font-weight: 400;
}

