.home-page {
    min-height: calc(100vh - 95px);
}

.table-checkbox .usa-checkbox__label::before {
    bottom: -5px;
}

.custom-alert {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #00000036;
    top: 0;
    .usa-alert {
        width: calc(100% - 15px) !important;
        position: relative;
        left: 7.5px;
        top: 30px;
    }
}
