@use 'styles/colors';

.header {
    display: flex;
    background-color: colors.$base-white;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid colors.$base-lighter;

    .dataConfigButton {
        text-decoration: none !important;
    }
}
