@use 'styles/borders';
@use 'styles/colors';

.columnContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

$header-height: 6rem;

.page {
    display: flex;
    flex-direction: column;

    & > header {
        position: sticky;
        top: 0;
        z-index: 1000;

        background-color: colors.$base-white;
    }

    & > main {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 'main aside';

        h2 {
            scroll-margin-top: $header-height;
        }

        & > aside {
            margin: 1rem;
            grid-area: aside;
            position: sticky;
            align-self: start;
            top: $header-height;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    gap: 0.5rem;

    padding: 1rem;

    @extend %thin-bottom;

    background-color: colors.$base-white;

    .actions {
        flex-shrink: 0;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        .usa-button:disabled {
            color: colors.$disabled-darker !important;
            background: none !important;
            box-shadow: inset 0 0 0 2px colors.$disabled !important;
        }
    }
}
