@use 'styles/borders';
@use 'styles/colors';

.columnContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

$header-height: 6rem;

.page {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--nav-bar-height));

    & > header {
        position: sticky;
        top: 0;
        z-index: 1000;

        background-color: colors.$base-white;
    }

    & > main {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 'main aside';

        // overflow ruins sticky-ness of aside
        &:not(:has(aside)) {
            overflow-x: auto;
        }

        // assumes that a div will be a primary sibling of the aside
        // in the layout (<main><aside /><div /></main>
        &:has(aside) > div {
            overflow-x: auto;
        }

        h2 {
            scroll-margin-top: $header-height;
        }

        & > aside {
            margin: 1rem;
            grid-area: aside;
            position: sticky;
            align-self: start;
            top: $header-height;
        }
    }
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: flex-start;

    gap: 0.5rem;

    padding: 1rem;

    @extend %thin-bottom;

    background-color: colors.$base-white;

    .left {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        align-items: end;
        gap: 1rem;
    }

    // it will cut off with ellipsis, need the height to stay relatively stable
    // so the logic for the "on this page" aside offset is reasonable
    .title {
        overflow: hidden;
        white-space: nowrap;
    }

    .subtitle {
        font-size: 1.375rem;
        font-weight: 400;
        margin: 0.25rem 0;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .usa-button:disabled {
            color: colors.$disabled-darker !important;
            background: none !important;
            box-shadow: inset 0 0 0 2px colors.$disabled !important;
        }
    }
}

.alertMessage {
    flex-grow: unset;
}
