@import 'settings';

.edit-page {
    padding: 1.6rem;
    .edit-page__header {
        border-radius: 0.35rem;
        background-color: $color-white;
        border: $border-medium;
    }
    .edit-page__container {
        height: 100%;
        width: 100%;
        min-height: calc( 100vh - 30rem );
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        position: relative;
        .edit-page__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.2rem;
            width: 100%;
            height: 100%;
        }
    }
}