@use 'styles/borders';

.horizontalInput {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1.5rem;
    align-items: center;
    gap: 2rem;
    min-height: 3rem;
    @extend %thin-bottom;

    .left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        min-width: 13rem;
        width: 13rem;
    }

    label {
        font-size: 0.875rem !important;
        font-weight: 700;
    }

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        
        .children {
            order: 1;
            width: 20rem;
        }

        .message {
            margin-left: 0.25rem;
            order: 2;
        }
    }

    @media (max-width: 1279px) {
        .right {
            flex-direction: column;
            flex-grow: 0;
            align-items: flex-start;
            gap: 0.25rem;

            .children {
                order: 2;
            }
    
            .message {
                margin-left: 0;
                order: 1;
            }
        }
    }

}

