@use 'styles/borders';
@use 'styles/components';

.horizontal {
    --label-area-width: 13rem;
    --label-area-font-size: inherit;

    padding: 0.5rem 1.5rem;
    align-items: flex-start;
    gap: 2rem;

    display: grid;
    grid-template-columns: var(--label-area-width) 1fr;

    @extend %thin-bottom;

    .left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 0.5rem;

        label {
            font-weight: 700;
            font-size: var(--label-area-font-size);

            &.required {
                @include components.required();
            }
        }
    }

    .right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0.5rem;

        .children {
            min-width: fit-content;
            width: 20rem;
        }

        .message {
            width: 9rem;
            flex-shrink: 1;
            flex-grow: 1;
        }
    }

    &.small {
        .left {
            --label-area-width: 12rem;
            --label-area-font-size: #{components.$small-font-size};

            padding-top: 0.25rem;
        }

        padding-left: 1rem;
    }

    &.medium {
        .left {
            --label-area-font-size: #{components.$medium-font-size};
        }
    }

    &.large {
        .left {
            --label-area-font-size: #{components.$large-font-size};
        }
    }
}
