@use 'styles/colors';

.message {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    display: block;
    font-weight: 700;
}

@media (min-width: 1280px) {
    .message {
        margin-left: 0.25rem;
    }
}