@use 'styles/components';

.entry {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0 0.75rem;

    .labels {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        label {
            &.required {
                @include components.required();
            }
        }
    }
}
