.entry {
    flex-direction: column;

    label {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    &.alert {
        padding-left: 1.25rem;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
    }
}
