@use 'styles/colors';

.visible-container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delete-footer {
    display: flex !important;
    justify-content: flex-end !important;
}
#example-modal-1 {
   &.usa-modal,
    .usa-modal {
        border-radius: 5px;
        border: 2px solid colors.$base-lighter;
    }
}


.toggle-visible {
    margin: 0 16px;
}