@use 'styles/colors';
@use 'styles/borders';

.actions {
    position: absolute;
    min-width: 14ch;
    left: 0;
    z-index: 1;
    background: colors.$base-white;
    @extend %thin;
    @include borders.rounded();

    button:hover {
        border-bottom: 1px solid colors.$border;
    }
}
