@use 'styles/colors';

.actions-card {
    background: colors.$base-white;
    border: 1px solid colors.$border;
    border-radius: 5px;
    position: absolute;
    min-width: 130px;
    z-index: 1;
    left: 0;

    button:hover {
        border-bottom: 1px solid colors.$border;
    }
}
