.tableHead {
    display: flex;
    justify-content: space-between;
    border: none;
    align-items: center;
}

.no-data {
    color: #747474;
    font-style: italic;
}

.show-length-text {
    color: #71767a;
}

.pagination {
    justify-content: flex-end;
}
