@use 'styles/colors';

li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: colors.$base-white;
    .leftBar {
        min-width: 0.25rem;
    }

    .rightBar {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 3rem;
    }

    &.selected {
        background-color: colors.$primary-lightest;

        .leftBar {
            border-radius: 1.875rem;
            background-color: colors.$primary;
        }
        .cardContent {
            border-left: 0.25rem solid colors.$primary;
        }
    }

    .cardContent {
        border-left: 0.25rem solid colors.$base-white;
        padding: 0.62rem 0 0.62rem 0.75rem;
        cursor: pointer;

        width: 12rem;
        //prevent overflow but use elipsize instead
        overflow-x: clip;
        overflow-wrap: break-word;
        text-overflow: ellipsis;

        label {
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: colors.$primary;
            padding: 0.25rem 0.5rem 0.25rem 0;
        }

        .description {
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 162%;
            margin-bottom: 0.5rem;
        }

        .active, .inactive {
            display: inline-block;
            border-radius: 0.125rem;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            padding: 0.25rem 0.5rem;
            margin-top: 0.5rem;
        }

        .active {
            background-color: colors.$success;
        }

        .inactive {
            background-color: colors.$disabled-light;
        }
    }
}
