@use 'styles/colors';

.checkbox {
    width: 2.5rem;
    height: 1.25rem;
    padding-right: 2.5rem;
    padding-left: 1.125rem;
    align-items: center !important;
    justify-content: center;
    label::before {
        margin-left: 0.6rem;
        width: 1rem;
        height: 1rem;
    }
}

.field {
    font-weight: 400;
}
