@use 'styles/colors';

.actionMenu {
    position: relative;
    .actionMenuButton {
        padding: 0.375rem 1.25rem;
        line-height: 0;
        svg {
            margin: 0 -0.5rem;
        }
    }
    .menu {
        position: absolute;
        top: 3rem;
        right: 0;
        display: flex;
        display: flex;
        flex-direction: column;
        z-index: 9999;
        border: 1px solid colors.$base-lighter;
        background-color: colors.$base-white;
        border-radius: 0.25rem;
        overflow: hidden;
        button {
            background-color: unset;
            border-top: 1px solid colors.$base-lighter;
            color: colors.$base-darkest;
            font-weight: 400;
            font-size: 1rem;
            text-align: left;
            width: 100%;
            border-radius: 0;
            &:first-of-type {
                border-top: none;
            }
            &:hover {
                background-color: colors.$primary-lighter;
            }
            &:focus {
                outline: none;
            }
        }
    }
}