// override heights and widths to allow scrolling and fitting to the data
.table {
    > div {
        width: auto;
        height: auto;
        table {
            width: auto;
            height: auto;
            .usa-table {
                width: auto;
            }
        }
    }
}
