@use 'styles/colors';
@use 'styles/borders';

.addPatientExtended {
    display: flex;
    height: calc(100vh - 75px);
    flex-grow: 1;
    background-color: colors.$base-white;

    .contet {
        display: flex;
        width: 100%;
        flex-direction: column;
        header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 1rem;
            align-items: center;
            @extend %thin-bottom;

            h2 {
                margin: 0;
            }

            .buttonGroup {
                display: flex;
                gap: 0.5rem;
            }
        }

        main {
            display: flex;
            justify-content: space-between;
            height: 100%;
            padding: 1rem;
            background-color: colors.$background;

            aside nav {
                .navTitle {
                    padding: 0;
                    font-size: 0.875rem;
                    font-weight: 700;
                }

                .navOptions {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1rem;
                    @include borders.bordered('border-left');

                    a {
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }
    }
}
