nbs:
  security:
    tokenSecret: qJ5+oDurrJnxfaAz6h4Eg1saP7NSeHuQQ/Yq4vh+mbi4B4QYThc/M+33VtPJ5O2A
    tokenIssuer: gov.cdc.nbs
    tokenExpirationMillis: 1800000 # 30 minutes
    parameterSecret: Yq4vh+mbi4B4QYThc/M+33VtPJ5O2Adc
  max-page-size: 50
  elasticsearch:
    server: localhost
    port: 9200
    url: http://${nbs.elasticsearch.server}:${nbs.elasticsearch.port}
  wildfly:
    host: localhost
    server: ${nbs.wildfly.host}:${nbs.wildfly.port}
    port: 7001
    url: http://${nbs.wildfly.server}
  uid:
    suffix: GA01
    seed: 10000000
  datasource:
    server: localhost
    port: 1433

logging:
  file.path: ./log/
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.data.elasticsearch.client.WIRE: trace
    nbs:
      classic:
        outgoing: DEBUG

spring:
  graphql:
    path: /graphql
    graphiql:
      enabled: true
      path: /graphiql
  jpa:
    properties:
      hibernate:
        ddl-auto: validate
        default_schema: dbo
        format_sql: true
        jdbc.time_zone: UTC
        dialect: org.hibernate.dialect.SQLServer2012Dialect
        hbm2ddl.jdbc_metadata_extraction_strategy: individually
  datasource:
    url: jdbc:sqlserver://${nbs.datasource.server}:${nbs.datasource.port};database=nbs_odse;encrypt=true;trustServerCertificate=true;
    username: sa
    password: fake.fake.fake.1234
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher


  kafka:
    bootstrap-servers: localhost:9092
    listener:
      ackMode: record
    consumer:
      group-id: patient-group
      enable-auto-commit: false
      auto-offset-reset: earliest

kafka:
  enabled: false

kafkadef:
  topics:
    patient:
      request: patient
      status: patient-status
