nbs:
  max-page-size: 25
  security:
    tokenSecret: ${TOKEN_SECRET}
    tokenIssuer: gov.cdc.nbs
    tokenExpirationMillis: 1800000 # 30 minutes
    parameterSecret: ${PARAMETER_SECRET}
    oidc:
      enabled: false
  elasticsearch:
    server: localhost
    port: 9200
    url: http://${nbs.elasticsearch.server}:${nbs.elasticsearch.port}
  wildfly:
    host: localhost
    server: ${nbs.wildfly.host}:${nbs.wildfly.port}
    port: 7001
    url: http://${nbs.wildfly.server}
  uid:
    suffix: GA01
    seed: 10000000
  datasource:
    server: localhost
    port: 1433
    username: ${DATABASE_USER:sa}
    password: ${DATABASE_PASSWORD}
  search:
    max-page-size: 100
    patient:
      index:
        name: person
        mapping: /search/patient/patient.index.json
      results:
        max: 25
    lab-report:
      index:
        name: lab_report
        mapping: /search/lab-report/lab-report.index.json
    investigation:
      index:
        name: investigation
        mapping: /search/investigation/investigation.index.json
  authentication:
    paths:
      ignored:
        - /v3/api-docs/**
        - /swagger-ui/**
        - /swagger-resources/**
        # Required to support the embedded UI
        - /login
        - /welcome/**
        - /favicon.ico
        - /static/**
        - /nbs/timeout
        - /goodbye
        - /expired

logging:
  file:
    path: ./log/

spring:
  profiles:
    include: ui,oidc
  graphql:
    path: /graphql
  jackson:
    deserialization:
      fail-on-unknown-properties: false

  jpa:
    properties:
      hibernate:
        default_schema: dbo
        format_sql: true
        jdbc:
          time_zone: UTC
        timezone:
          default_storage: NORMALIZE
  datasource:
    url: jdbc:sqlserver://${nbs.datasource.server}:${nbs.datasource.port};database=nbs_odse;encrypt=true;trustServerCertificate=true;
    username: ${nbs.datasource.username}
    password: ${nbs.datasource.password}
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher


  kafka:
    bootstrap-servers: localhost:9092
    listener:
      ackMode: record
    consumer:
      group-id: patient-group
      enable-auto-commit: false
      auto-offset-reset: earliest

springdoc:
  packages-to-scan: "gov.cdc.nbs"

kafka:
  enabled: false

kafkadef:
  topics:
    patient:
      request: patient
      status: patient-status
