nbs:
  max-page-size: 25
  security:
    tokenSecret: ${TOKEN_SECRET}
    tokenIssuer: gov.cdc.nbs
    tokenExpirationMillis: 1800000 # 30 minutes
    parameterSecret: ${PARAMETER_SECRET}
    oidc:
      enabled: false
  elasticsearch:
    server: localhost
    port: 9200
    url: http://${nbs.elasticsearch.server}:${nbs.elasticsearch.port}
  wildfly:
    host: localhost
    server: ${nbs.wildfly.host}:${nbs.wildfly.port}
    port: 7001
    url: http://${nbs.wildfly.server}
  datasource:
    server: localhost
    port: 1433
    username: ${DATABASE_USER:sa}
    password: ${DATABASE_PASSWORD}
  search:
    max-page-size: 100
    patient:
      index:
        name: person
        mapping: /search/patient/patient.index.json
      results:
        max: 25
    lab-report:
      index:
        name: lab_report
        mapping: /search/lab-report/lab-report.index.json
    investigation:
      index:
        name: investigation
        mapping: /search/investigation/investigation.index.json
  authentication:
    paths:
      ignored:
        - /v3/api-docs/**
        - /swagger-ui/**
        - /swagger-resources/**
        # Required to support the embedded UI
        - /login
        - /welcome/**
        - /favicon.ico
        - /static/**
        - /nbs/timeout
        - /goodbye
        - /expired
        # Monitoring endpoints
        - /nbs/api/~/health
        - /nbs/api/~/info

logging:
  file:
    path: ./log/

management:
  health:
    db:
      enabled: true
  endpoints:
    web:
      discovery:
        enabled: false
      exposure:
        include: health,info
      base-path: /nbs/api/~/
    access:
      default: read_only
  endpoint:
    health:
      access: read_only
    info:
      access: read_only

spring:
  profiles:
    include: ui,oidc
  graphql:
    http:
      path: /graphql
  jackson:
    deserialization:
      fail-on-unknown-properties: false
  liquibase:
    user: ${nbs.datasource.username}
    password: ${nbs.datasource.password}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    odse:
      change-log: classpath:db/changelog/odse-changelog.yaml
      url: jdbc:sqlserver://${nbs.datasource.server}:${nbs.datasource.port};databaseName=nbs_odse;encrypt=true;trustServerCertificate=true;

  jpa:
    properties:
      hibernate:
        default_schema: dbo
        format_sql: true
        timezone:
          default_storage: NORMALIZE
  datasource:
    url: jdbc:sqlserver://${nbs.datasource.server}:${nbs.datasource.port};database=nbs_odse;encrypt=true;trustServerCertificate=true;
    username: ${nbs.datasource.username}
    password: ${nbs.datasource.password}
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

springdoc:
  packages-to-scan: "gov.cdc.nbs"

server:
  tomcat:
    # to accommodate intercepted multipart requests from NBS6.  The value was chosen based on the largest number of
    # questions on a page builder page.  This can vary by STLT depending on the page templates that exist.
    max-part-count: 550
