@use 'styles/colors';

.summary-layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;

    .summaryItem {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .summaryLabel {
            font-size: 0.8125rem;
            color: colors.$base-dark;
            text-transform: uppercase;
        }

        .summaryContent {
            font-size: 0.875rem;
            color: colors.$base-darkest;
            line-height: 150%;
        }
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 12rem;
    }
    .groupID {
        display: flex;
        flex-direction: column;
        width: 10rem;
    }
}

.group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 12rem;
}

.groupID {
    display: flex;
    flex-direction: column;
    width: 10rem;
}
