@use 'styles/colors';

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;

    .summaryItem {
        display: flex;
        flex-direction: column;
        gap: 0.31rem;

        .summaryLabel {
            font-size: 0.8125rem;
            color: colors.$base-dark;
        }

        .summaryContent {
            font-size: 0.875rem;
            color: colors.$base-darkest;
            .itemContent {
                line-height: 150%;
            }
        }
    }

    .group {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
