@use 'styles/modal.scss';

.modal-content {
    .modal-message {
        #confirmation-description, #confirmation-modal-details {
            margin-bottom: 1rem;
        }
        p {
            margin: 0;
        }
    }

#confirmation-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}