@import 'settings.scss';

.navigation {
    max-width: 252px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem;
    background-color: $color-white;
    align-items: baseline;
    border-radius: 5px;
    border: 1px solid var(--base-lighter, #DCDEE0);
    .navigation__heading {
        width: auto;
        h2 {
            margin: 0 0 1.8rem;
            font-size: 1.4rem;
        }
    }
    .navigation__menu {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        .navigation__button {
            position: relative;
            border-top: 1px solid $color-gray-25;
            width: 200px;
            padding: 0.8rem 1rem;
            cursor: pointer;
            p {
                margin: 0;
                color: $color-base-dark;
                font-weight: 400;
                font-size: 14px;
            }
            &.active {
                p {
                    font-weight: 700;
                    color: $color-primary;
                }
                &::before {
                    content: "";
                    position: absolute;
                    background-color: $color-primary;
                    top: 0.65rem;
                    left: 0;
                    z-index: 5000;
                    width: 4px;
                    height: 1.4rem;
                    border-radius: 2px;
                }
            }
            &:last-of-type {
                border-bottom: 1px solid $color-gray-25;
            }
        }
    }
}