@use 'styles/colors';

.info {
    color: colors.$primary;
}

.container {
    position: relative;

    visibility: hidden;
    pointer-events: none;

    &.left {
        right: 100%;
    }

    &.center {
        transform: translateX(-50%);
    }

    &.visible {
        z-index: 10000;
        visibility: visible;
        pointer-events: all;
    }
}
