@use 'styles/colors';


.question-header-button {
    .usa-button.delete-btn {
        font-size: 1.25rem;
    }
}
#confirmation {
    .usa-modal,
    &.usa-modal {
        border-radius: 0.313rem;
        border: .125rem solid colors.$base-lighter;
    }
    .usa-modal__footer {
        display: flex !important;
        justify-content: flex-end!important;
    }
}