@use 'styles/borders' as borders;
@use 'styles/colors';

.subsection {
    border-radius: 0.25rem;
    @extend %thin;

    .subsection__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: colors.$primary-lighter;
        padding: 0 1.6rem;
        @extend %thin-bottom;

        &--left,
        &--right {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            svg {
                color: colors.$primary;
                cursor: pointer;
                gap: 0.8rem;
            }
        }
    }
    &__body {
        padding: 1.4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
