@import 'styles/modal.scss';

.verified-address-selection {
    display: flex;
    justify-content: space-around;

    .address-line {
        display: block;
        padding-top: 0.25rem;

        .difference {
            font-weight: bold;
            color: $color-orange-30;
        }
    }
}
