@use 'styles/colors';
@use 'styles/borders';

.card {
  padding: 1rem 0.5rem 1rem 1rem;
  gap: 1rem;
  font-size: 1.375rem;
  background-color: colors.$base-white;
  border-radius: 5px 5px 0 0;
  @extend %thin;
  display: flex;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.5rem;
}

.name {
  font-weight: 600;
}

.separator {
  color: colors.$base-light;
}
