@import 'settings.scss';

.edit-page-content {
    margin-top: 1.2rem;
    background-color: $color-white;
    border-radius: 0.45rem;
    border: 1px solid $color-base-lighter;
    width: 100%;
    max-width: 960px;
    height: 100%;
    min-height: calc(100vh - 30rem);
}