.nav-bar {
    .usa-logo__text,
    .usa-accordion__button {
        color: white;
    }

    .title {
        .usa-logo__text {
            background-image: linear-gradient(rgb(53, 113, 165), rgb(76, 103, 143), #005ea2);
            width: fit-content;
            padding: 8px 16px;
            border-radius: 8px;
            border: solid 2px #005ea2;
        }
    }

    .usa-nav {
        padding: 0 !important;
        .usa-nav-item {
            height: 80px;
            display: flex;
            align-items: center;
            &.active {
                background-color: #005ea2;
                color: white;
            }
        }
    }
}
