.nav-bar {
    .usa-logo__text,
    .usa-accordion__button {
        color: white;
    }

    .title {
        .usa-logo__text {
            background-image: linear-gradient(rgb(53, 113, 165), rgb(76, 103, 143), #005ea2);
            width: fit-content;
            padding: 8px 16px;
            border-radius: 8px;
            border: solid 2px #005ea2;
        }
    }

    .usa-nav {
        padding: 0 !important;
        .usa-nav-item {
            height: 80px;
            display: flex;
            align-items: center;
            &.active {
                background-color: #005ea2;
                color: white;
            }
        }
    }
}

table.nedssNavTable {
    width: 100%;
    border: 0;
    background: #003470;
}

table.nedssNavTable tr td {
    text-align: center;
    padding: 3px;
}
table.nedssNavTable tr td.navLink a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

table.nedssNavTable tr td a,
table.nedssNavTable span {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

table.nedssPageHeaderAndLogoTable {
    width: 100%;
    border: 0;
    background: #003470;
    margin-bottom: 0.5em;
}

table.nedssPageHeaderAndLogoTable tr td.pageHeader {
    text-align: left;
    background: #dcdcdc;
    font-size: 1.3em;
    font-weight: bold;
}

table.nedssPageHeaderAndLogoTable tr td {
    text-align: right;
    color: #000;
    padding: 0px 3px 0px 3px;
}
table.nedssPageHeaderAndLogoTable tr td.pageHeader a {
    color: #000;
    text-decoration: none;
}
table.nedssPageHeaderAndLogoTable tr td.currentUser {
    color: #fff;
    text-align: right;
    font-weight: bold;
}

table.nedssPageHeaderAndLogoTable tr td.logo {
    text-align: right;
    width: 100px;
}

table.nedssPageHeaderAndLogoTable tr td.currentUser {
    color: #FFF;
    text-align: right;
    font-weight: bold;
}