include:
  - ${NEDSSDEV_COMPOSE_PATH:-./docker-compose.nbs6.yml}
  - ../docker-compose.yml
services:
  elasticsearch:
    container_name: elasticsearch
    build: ./elasticsearch
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - "ES_JAVA_OPTS=-Xms2048m -Xmx2048m" # limit memory usage
    depends_on:
      nbs-mssql:
        condition: service_healthy

  kibana:
    container_name: kibana
    build: ./kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601

  nifi:
    container_name: nifi
    build: ./nifi
    restart: unless-stopped
    ports:
      - 8443:8443
    environment:
      - NIFI_JVM_HEAP_INIT=1g
      - NIFI_JVM_HEAP_MAX=2g
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=${NIFI_PASSWORD:-PizzaIsGood33!}
      - NIFI_SENSITIVE_PROPS_KEY=12345678901234567890A
      - JDBC_CONNECTION_STRING=jdbc:sqlserver://nbs-mssql:1433;integratedSecurity=false;encrypt=false;databaseName=NBS_ODSE;user=sa;password=${DATABASE_PASSWORD};authenticationScheme=nativeAuthentication;
      - ELASTICSEARCH_HTTP_HOSTS=http://elasticsearch:9200

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:latest
    ports:
      - "8100:8080"
    volumes:
      - ./keycloak/imports:/opt/keycloak/data/import
      - ./keycloak/theme/nbs:/opt/keycloak/themes/nbs
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-PizzaIsGood33!}
      NBS7_BASE_URL: "http://localhost:8000"
    entrypoint: "/opt/keycloak/bin/kc.sh start-dev --import-realm"
