.noResults {
    display: flex;
    padding: 3rem;

    .noResultsContent {
        display: flex;
        flex-direction: column;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-left: 0.5rem;
        gap: 0.5rem;

        .noResultsHeader {
            font-size: 1.375rem;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
        }

        .noResultsSubHeading {
            font-family: 'Public Sans';
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;

            .link {
                cursor: pointer;
            }
        }
    }
}
