.content {
    background-color: #f1f6f9;
    width: 100%;
}
.max-width-full {
    max-width: 100% !important;
}

.left-bar .active {
    font-weight: 600;
    color: #005ea2;
}

.left-bar .line {
    height: 100%;
    width: 6px;
    background-color: #005ea2;
    border-radius: 5px;
}

.left-bar .cursor-pointer:last-child {
    border-bottom: 1px solid #a9aeb1;
}

.content-container {
    margin-left: 15px;
    position: sticky;
    top: 80px;
    align-self: start;
    .content-sidebar {
        a {
            display: block;
            padding: 0.25rem 15px;
            font-size: 14px;
            text-decoration: none;
            color: #005ea2 !important;
            font-weight: normal !important;
            border-left: 4px solid transparent !important;
            font-size: 0.85rem;

            &.visible {
                color: #1b1b1b !important;
                font-weight: bold !important;
                border-left: 4px solid #1b1b1b !important;
            }

            &.visible ~ a {
                color: #005ea2 !important;
                font-weight: normal !important;
                border-left: 4px solid transparent !important;
            }
        }
    }
}

.bottom-padding {
    padding-bottom: 250px;
}
