@use 'styles/colors';

.multi-select-selection__indicator {
    height: 1.25rem;
    width: 1.25rem;
    background-repeat: no-repeat;
    background-size: 1.25rem;
}

.multi-select__control {
    height: unset;
    min-height: unset;
    border-radius: 0 !important;
    border-color: rgb(86, 92, 101) !important;

    .multi-select__indicator {
        color: rgb(86, 92, 101) !important;
    }

    .multi-select__indicator-separator {
        background-color: unset !important;
    }

    .multi-select__multi-value {
        background-color: colors.$primary-lighter !important;
        border-radius: 0.125rem !important;
    }

    .multi-select__multi-value__label {
        color: colors.$primary-dark !important;
        font-size: 100% !important;
    }

    .multi-select__multi-value__remove {
        color: colors.$primary-dark !important;
    }

    .multi-select__multi-value__path {
        display: none !important;
    }

    .multi-select__placeholder {
        color: colors.$base-darkest !important;
    }

    .multi-select__input {
        padding: 0;
    }
}

.multi-select__compact {
    .multi-select__control {
        line-height: normal;

        .mutli-select__value-container {
            padding: 0 !important;
        }

        .multi-select__placeholder {
            font-size: 0.875rem;
            line-height: normal;
        }
    }
}
