@use 'styles/colors';
@use 'styles/borders';

.card {
    @extend %thin;
    background-color: colors.$base-white;

    & > header {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        @extend %thin-bottom
    }

    &.withSubtext {
        border-radius: 5px;
        align-items: flex-start;
        flex-direction: column;
    }
}

.subtext {
    font-size: 14px;
    line-height: 21px;
    color: colors.$base-darker;
    margin-top: 0.25rem;
}

.subtext {
    font-size: 14px;
    line-height: 21px;
    color: colors.$base-darker;
    margin-top: 0.25rem;
}
