@use 'styles/colors';
@use 'styles/borders';

.card {
    @extend %thin;
    background-color: colors.$base-white;
    border-radius: 5px;

    & > header {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        @extend %thin-bottom;
    }
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    max-height: 46px;
}

.subtext {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: colors.$base-darker;
    margin-top: 0;
    max-height: 17px;
}
