@use 'styles/colors';
@use 'styles/borders';

.systemManagement {

  .titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    gap: 0.5rem;
    background-color: colors.$base-white;
    margin-bottom: 1rem;
    @extend %thin-bottom;
  }

  .alertWrapper {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .cardGroup {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(3, 320px);
    gap: 1rem;
    margin: 0 1rem;
    justify-content: flex-start; /* Align columns left */
    align-items: flex-start;
    width: 100%;
    border: 1px solid red;

    .column {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex: 0 0 320px;
      flex-grow: 1;
      flex-shrink: 1;   /* Shrink if needed */
      flex-basis: 0;    /* Start from zero width */
      min-width: 0;     /* Prevent overflow */
      gap: 1rem;
      border: 1px solid blue; /* DEBUG */
      > * {
        flex-shrink: 0;
        flex-grow: 0;
        align-self: flex-start;
        outline: 1px solid limegreen;
        gap: 1rem;
      }
    }
  }
}
