@use 'styles/colors';
@use 'styles/borders';

.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 0.5rem;
  background-color: colors.$base-white;
  @extend %thin-bottom;
}
