@use 'styles/borders';

.header {
    padding: 1rem;
    display: flex;

    @extend %thin-bottom;
    justify-content: space-between;
    align-items: center;

    .flexContainer {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .toggleButton {
        padding: 0.5rem 1rem !important;
    }
}
