@use 'styles/colors';
@use 'styles/borders';

$control-height: 3rem;
$control-width: 1.5rem;

.collapsible {
    position: relative;
    transition: transform 600ms ease-in-out;

    .control {
        position: absolute;
        z-index: 1000;
        padding: 0;

        background-color: colors.$base-lighter;
        width: $control-width;
        height: $control-height;

        @include borders.bordered('border', colors.$base-light);
        @include borders.rounded();

        top: calc(50% - #{$control-height});

        right: -($control-width / 2);

        &:focus {
            outline: 0;
        }

        &:focus-visible {
            outline: 0.25rem solid colors.$focused;
            outline-offset: 0rem;
        }

        svg {
            width: 100%;
            height: 100%;

            transform: rotate(-90deg);
        }
    }

    &.collapsed {
        transform: translateX(-100%);

        .control {
            right: -($control-width / 2);
        }

        .content * {
            animation: collapsing 600ms forwards;
        }
    }
}

@keyframes collapsing {
    to {
        display: none;
        visibility: hidden;
    }
}
