@use 'styles/colors';
@use 'styles/borders';

.mergeLandingPage {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px);
    overflow: hidden;

    .mergeLandingHeader {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        background-color: colors.$base-white;
        @extend %thin-bottom;

        .buttons {
            display: flex;
            gap: 0.5rem;
        }
    }

    .mergeLandingContent {
        padding: 1rem;
        flex-grow: 1;
        overflow: auto;
    }
}
