.action-header {
    width: 6rem;
}

.date-header {
    width: 10rem;
}

.coded-header {
    width: 6rem;
}

.text-header {
    min-width: 10rem;
}

.long-coded-header {
    min-width: 6rem;
    max-width: 12rem;
}
.local-header {
    min-width: 8rem;
    max-width: 14rem;
}
