@use 'styles/colors';

$small-height: 1rem;
$medium-height: 1.125rem;
$large-height: 1.25rem;

.header {
    &.action {
        color: transparent;
        user-select: none;
    }

    &.fixed {
        position: sticky;
        left: 0;
        z-index: 30;

        min-width: 12.5rem;
        max-width: 12.5rem;
        border-right-width: 1px;
        border-right-style: solid !important;
        border-right-color: colors.$base;
    }

    &.sorted {
        background-color: colors.$cool-accent-light !important;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        max-height: 2.5rem;

        transition-duration: 0.25s;
        transition-property: max-height;
        transition-timing-function: ease-in;

        &.extended {
            max-height: 5.125rem;
        }
    }

    .sortable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        & > button {
            color: colors.$base-black;
            min-width: 1rem;

            --button-padding: 0rem;

            --button-height: #{$medium-height};
            --button-icon-size: #{$medium-height};
        }
    }

    &.small {
        .sortable {
            & > button {
                --button-height: #{$small-height};
                --button-icon-size: #{$small-height};
            }
        }
    }
    &.large {
        .sortable {
            & > button {
                --button-height: #{$large-height};
                --button-icon-size: #{$large-height};
            }
        }
    }
}
