@use 'styles/colors';

.logout {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    .logoutCard {
        background: colors.$base-lightest;
        padding: 1.5rem;
        max-width: 24rem;

        .logoutText {
            margin-top: 0;
            font-size: 2rem;
        }

        p {
            line-height: 1.62rem;
        }

        .linkButton {
            padding: 0;
            text-decoration: none;
            background-color: transparent;
            color: colors.$primary;
        }
    }
}

