
.manage-section-modal .usa-modal__content .usa-modal__main {
    height: 80svh;
    overflow: hidden;
}

.add-section-modal .usa-modal__content .usa-modal__main {
    height: 80svh;
    overflow: hidden;
}