@use 'styles/colors';
@use 'styles/borders';

.managesection {
    width: auto;
    min-width: auto;
    height: 38.875rem;
    overflow: scroll;

    justify-content: space-between;

    .header {
        padding: 1.5rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid colors.$base-lightest;


        .manageSectionHeader {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.375rem;
        }

        .addSectionHeader {
            display: flex;
            justify-content: flex-end;

            .addSectionBtn {
                display: flex;
                justify-content: end;
                align-items: center;

                .addIcon {
                    padding-right: 0.4rem;
                    align-items: center;
                }
            }
        }
    }

    .content {
        padding: 1rem 1.5rem 1rem 1.5rem;

        .tab {
            display: flex;
            flex-direction: row;

            .folderIcon {
                padding-right: 1rem;
            }
            .tabName {
                margin: 0%;
            }
        }

        .section {
            display: flex;
            flex-direction: row;

            .drag {
                padding-top: 1rem;
                padding-right: 1rem;
            }
            .group {
                padding-top: 1rem;
                padding-right: 1rem;
            }

            .sectionIcons {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                .edit {
                    justify-content: end;
                    padding-right: 1.5rem;
                    margin-left: auto;
                }

                .delete {
                    justify-content: end;
                }
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        padding-top: unset;
        justify-content: flex-end;
        align-items: flex-end;
        border-top: 1px solid colors.$base-lightest;
        padding: 1.5rem;
        // padding-right: 1.5rem;
        // padding-bottom: 1.5rem;
        @include borders.rounded();
    }
}
