@use 'styles/colors';

.button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
  background-color: colors.$primary;
  color: white;
  font-weight: 600;

  &.size-SM {
    width: 30px;
    height: 22px;
    padding: 4px 8px;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &.size-MD {
    width: 50px;
    height: 32px;
    padding: 8px 16px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.size-LG {
    width: 52px;
    height: 36px;
    padding: 8px 16px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
