@use 'styles/colors';
@use 'styles/borders';

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    @extend %thin-top;
}

.preferences {
    & > :not(:last-child) {
        @extend %thin-bottom;
    }
}

.preference {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 0.5rem;
    background-color: colors.$base-white;

    height: 2rem;

    .handle {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
}
