@use 'styles/animation' as animation;

.reorder-subsection {
    .reorder-subsection__toggle {
        cursor: pointer;
    }
    .reorder-subsection__handle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reorder-subsection__tile {
        background-color: $color-white;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.9rem 1.5rem;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .reorder-subsection__questions {
        height: auto;
        max-height: 400vh;
        opacity: 100;
        margin-left: 2.4rem;
        transition: animation.$transition-1;
        &.closed {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
        }
    }
}
