@use 'styles/colors';
@use 'styles/animation';

.reorder-subsection {
    height: auto;
    position: relative;
    .reorder-subsection__toggle {
        cursor: pointer;
    }
    .reorder-subsection__handle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reorder-subsection__tile {
        background-color: colors.$base-white;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.9rem 1.5rem;
        z-index: 400;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.target::before {
            content: '';
            position: absolute;
            top: -3.1rem;
            width: 100%;
            height: 3.1rem;
            background-color: pink;
        }
    }
    .reorder-subsection__questions {
        margin-left: 2.4rem;
        transition: animation.$transition-1;
        &.closed {
            height: 0;
            display: none;
        }
    }
}
