@import 'settings.scss';

.manage-pages {
    position: relative;
    border-radius: 5px;
<<<<<<< HEAD
    border: $border-medium;
=======
    border: 1px solid $color-base-lighter;
>>>>>>> 211b1262 (CNFT2-1164 Reorder button and sections modal)
    .manage-pages__container {
        display: flex;
        flex-direction: row;
    }
    .manage-pages__table {
        background-color: $color-white;
        border-radius: 3px;
        border: 1px solid $color-bg-base-lightest;
        min-width: 96.5%;
        min-height: calc(100vh - 16rem);
        justify-content: center;
        display: flex;
        thead th {
            &:nth-of-type(2) {
                width: 150px;
            }
            &:nth-of-type(4) {
                width: 150px;
            }
        }
        .table-menu .input label {
            display: none;
        }
        .ds-c-spinner {
            position: absolute;
            top: 45%;
        }
    }
}