@use 'styles/colors';

.status {
    padding: 0.125rem 0.5rem;
    border-radius: 0.125rem;

    color: colors.$base-white;

    background-color: colors.$open;
    width: fit-content;
    white-space: nowrap;
    &.C {
        background-color: colors.$base-dark;
    }

}