@use 'styles/colors';

.headerContainer {
  background-color: colors.$cool-accent-lighter;
  border-bottom: 1px solid colors.$base-lighter;
  padding: 0 1rem;
  gap: 0.5rem;
  min-width: 23.25rem;
  align-items: center;
  flex-shrink: 0;
  line-height: 0;

  &.slim {
    height: 3rem;
  }

  &.tall {
    height: 4rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
  line-height: 1rem;
  &.withSubtext {
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.tooltip {
  width: 0.83331rem !important;
  height: 0.83338rem !important;
  flex-shrink: 0;
  align-items: center;
  display: flex;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.subtext {
  font-size: 0.75rem;
  color: colors.$base-black;
  display: flex;
  align-items: center;
  gap: 0.05rem;
  margin-top: 0;
}

.toggle {
  margin-left: 0.75rem;
  transition: 0.25s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.875rem;
  height: 0.875rem;
  flex-shrink: 0;

  &.collapsed {
    transform: rotate(-180deg);
  }
}
