@use 'styles/colors';

.tab-navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 3.2;
}

.tab {
    background-color: colors.$clear;
    border: 0;
    color: colors.$base-darkest;
    text-decoration: none !important;
    border-bottom: 0.4375rem solid transparent;
    &.active {
        border-bottom: 0.4375rem solid colors.$primary;
    }
    padding: 0 0.3rem 0.62rem 0.3rem;
    font-size: 1rem;
    line-height: 1.25;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700 !important;
    cursor: pointer;
}
