@use 'styles/colors';

.welcome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'header header header'
        'main main sidebar';

    height: 100%;

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
        background-image: url('./landing.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 165%;
        background-color: colors.$base-white;

        .content {
            margin: 0 1rem;
            padding: 0 1rem 0.5rem;
            background-color: rgba(colors.$base-white, 0.9);
            .tabs {
                font-size: 2rem;
            }
            .container {
                column-width: 40ch;
                column-gap: 2rem;
                overflow: hidden;
                padding-top: 1rem;
                a {
                    text-decoration: underline;
                    font-weight: 400;
                    font-size: inherit;
                }
                span {
                    margin-bottom: 1rem;
                }
                h2 {
                    margin-bottom: 0.25rem;
                }
                h3 {
                    margin-bottom: 0.25rem;
                }
                p {
                    margin-top: 0;
                    text-overflow: ellipsis;
                    line-height: 1.75rem;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    aside {
        grid-area: sidebar;
    }
}
