

.radioBtns {
    .content {
        display: flex;
        flex-direction: row;
        .select {
            display: flex;
            align-items: center;
        }
        .title {
            display: flex;
            align-items: center;
        }
    }
}