server:
  port: 8000

spring:
  cloud:
    gateway:
      default-filters:
        - RewriteLocationResponseHeader
      routes:
        - id: classic
          uri: ${nbs.gateway.classic}
          predicates:
            - Path=/nbs/**
          filters:
            - RemoveRequestHeader=Referer
        - id: nbs-logo
          uri: ${nbs.gateway.classic}
          predicates:
            - Path=/images/nedssLogo.jpg
        - id: favicon
          uri: ${nbs.gateway.classic}
          predicates:
            - Path=/favicon.ico
nbs:
  gateway:
    log:
      level: INFO
    defaults:
      protocol: 'http'
    classic: '${nbs.gateway.defaults.protocol}://localhost:7001'
    patient:
      search:
        enabled: true
        service: 'localhost:8080'
      profile:
        enabled: true
        service: 'localhost:8080'
    pagebuilder:
      enabled: false
      service: 'localhost:8080'
      page:
        library: 
          enabled: false
        management: 
          create: 
            enabled: false
          edit:
            enabled: false

logging:
  level:
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: ${nbs.gateway.log.level}
