nbs:
  security:
    log:
      level: INFO
  gateway:
    log:
      level: INFO
    landing:
      uri: '${nbs.gateway.defaults.protocol}://${nbs.gateway.modernization.service}'
      base: '/welcome'
    welcome:
      enabled: true
    patient:
      file:
        enabled: true
    pagebuilder:
      enabled: true
      page:
        library:
          enabled: true
        management:
          create:
            enabled: true
          edit:
            enabled: true
    report:
      execution:
        enabled: true
