server:
  port: 8000

spring:
  cloud:
    gateway:
      default-filters:
        - RewriteLocationResponseHeader
        - TokenRelay=
      routes:
        - id: classic
          uri: ${nbs.gateway.classic}
          order: 1000
          predicates:
            - Path=/nbs/**
          filters:
            - RemoveRequestHeader=Referer

nbs:
  gateway:
    defaults:
      protocol: 'http'
    classic: '${nbs.gateway.defaults.protocol}://localhost:7001'
    home:
      uri: ${nbs.gateway.classic}
      base: '/nbs/HomePage.do?method=loadHomePage'
    landing:
      uri: '${nbs.gateway.defaults.protocol}://${nbs.gateway.modernization.service}'
      base: '/welcome'
    welcome:
      enabled: true
    ui:
      service: 'localhost:3000'
      uri: '${nbs.gateway.defaults.protocol}://${nbs.gateway.ui.service}'
    modernization:
      service: 'localhost:8080'
      uri: '${nbs.gateway.defaults.protocol}://${nbs.gateway.modernization.service}'
    patient:
      search:
        enabled: true
        service: 'localhost:8080'
      profile:
        enabled: false
        service: 'localhost:8080'
    pagebuilder:
      enabled: false
      service: 'localhost:8095'
      page:
        library:
          enabled: false
        management:
          create:
            enabled: false
          edit:
            enabled: false

logging:
  level:
    reactor:
      netty: INFO
    org:
      springframework:
        security: ${nbs.gateway.security.log.level:INFO}
        cloud.gateway.handler.RoutePredicateHandlerMapping: ${nbs.gateway.log.level:INFO}
