.break-workd {
    word-break: normal !important;
}
.search-page-height {
    position: relative;
}

.bg-light {
    background-color: #f5f5f5;
}

.cursor-pointer {
    cursor: pointer;
}

.type {
    border-bottom: 5px solid transparent;
}
.type.active {
    border-bottom: 7px solid #005ea2;
}

.left-searchbar {
    position: relative;
    width: 100%;
    height: calc(100vh - 152.73px);
    overflow-y: auto;
    padding-bottom: 15px;
}

.confirm-bage {
    width: fit-content;
}
.usa-pagination .usa-current {
    background-color: #003470 !important;
}

.page-title-bar {
    min-height: 78px;
    font-family: sans-serif;
    font-size: 32px;
    padding: 0 23px;
    border-bottom: 1px solid #e7e9e9;
    .add-patient-button {
        height: fit-content;
    }
}

.refine-text {
    font-size: 22px;
    background: whitesmoke;
    padding: 22px 1rem;
}

.bottom-search {
    border-top: 1px solid #dfe1e2;
}

.clear-btn {
    margin-top: 9px !important;
}

.bottom-search {
    padding-top: 6px;
    padding-bottom: 15px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

// .partial-height .usa-accordion {
//     height: 100%;
// }

// .full-height .usa-accordion {
//     height: 100% !important;
//     overflow-y: auto !important;
// }

.usa-button--outline-disabled,
.usa-button--outline:disabled {
    color: white !important;
    background-color: #c9c9c9 !important;
    cursor: default;
}

.scrollable-results {
    height: calc(100vh - 152.73px);
    overflow-y: auto;
}

.advanced-search {
    .grid-row.grid-gap-6 > * {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        width: 22% !important;
    }

    .grid-row.grid-gap-6 .large-col {
        width: 32% !important;
    }
}

.button-group {
    position: relative;
    .usa-nav__submenu {
        position: absolute;
        right: 0;
        top: 100%;
        background-color: white;
        width: max-content;
        filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.15));
        border-radius: 5px;
        z-index: 1;

        .usa-nav__submenu-item {
            border-bottom: 1px solid #dfdfdf;
            padding: 15px;
            .usa-button--unstyled {
                margin: 0;
                color: black;
                text-decoration: none !important;
            }
        }
        .usa-nav__submenu-item:last-child {
            border: none;
            padding: 15px;
        }
    }

    .add-patient-menu li {
        padding: 0 30px 5px 0 !important;
        font-size: 1.06 re !important;
    }

    .add-patient-menu {
        padding-top: 0;

        .usa-nav__submenu-item:last-child {
            border: none;
            padding: 0 !important;
            margin: 0;
        }
    }
}
