@use 'styles/colors';

.date-picker-input {
    &.error {
        border-left: 2px solid colors.$color-secondary-dark;
        padding-left: 1em;
        small {
            font-size: 1em;
            font-weight: 700;
        }
        input {
            border: 2px solid colors.$color-secondary-dark;
            &:focus {
                outline: 2px solid colors.$color-secondary-dark;
            }
        }
    }
}
.usa-date-picker__calendar {
    min-width: 300px !important;
}
