@use 'styles/colors';

.overlay {
    --modal-min-width: 14.3125rem;
}

.gear {
    fill: colors.$primary;

    width: 1.75rem;
    height: 1.75rem;
}

.tooltip {
    &[data-tooltip-position][aria-label] {
        position: relative;
        &::before {
            content: attr(aria-label) !important;
            font-size: 14px !important;
        }
    }
}
