@use 'styles/tooltip';

.tooltip {
    @include tooltip.tooltip('title');

    &::before,
    &::after {
        height: 0;
        visibility: hidden;
        opacity: 0;
    }

    &.visible {
        &::before,
        &::after {
            height: fit-content;
            visibility: visible;
            opacity: 1;
        }
    }
}
