@use 'styles/colors';
@use 'styles/borders';

$pagination-height: 4.75rem;

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    color: colors.$base;
    height: #{$pagination-height};

    @extend %thin-top;

    .showing {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .pages {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        button {
            border-color: colors.$base-lighter;
        }
    }
}
