@use 'styles/colors';
@use 'styles/borders';
@use 'styles/buttons';

.importPreviewHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$base-white;
    padding: 1rem;
    @extend %thin-bottom;

    .buttons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
