.delete-btn {
    &:hover {
        background-color: #ec3823 !important;
    }
}

.main-banner {
    background-color: #f1f6f9;
}

.border-bottom-style {
    border-bottom: 1px solid #dfe1e2;
}

.display-inline-flex {
    display: inline-flex;
}

.main-body {
    padding: 50px 30px;
}

.usa-modal__main {
    margin: 0 !important;
    padding: 0 !important;
}

.usa-modal__content {
    padding: 0 !important;
    position: relative;

    .usa-button-group {
        justify-content: flex-end;
    }
}
.usa-modal__close {
    position: absolute;
    top: 40px;
    right: 0;
}

.wall-desing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.modal-form .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.modal-form .usa-button {
    margin-top: 0 !important;
}

.advanced-search-alert {
    .usa-alert {
        position: relative !important;
        left: 0;
    }
}

@keyframes mymove {
    from {
        right: -450px;
    }
    to {
        right: 15px;
    }
}

.details-footer {
    box-shadow: 0px -2px 2px 0px #e0e0e0;

    .delete--modal-btn {
        text-decoration: none !important;
        .delete-icon {
            font-size: 20px;
        }
    }
}
