@import 'settings.scss';

.reorder-question {
    .reorder-question__handle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reorder-question__tile {
        background-color: $color-white;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.9rem 1.5rem;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.hidden {
            height: 0px;
        }
    }
}