@use 'styles/colors';
@use 'styles/borders';

.management {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & > header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background-color: colors.$base-white;

        @extend %thin-bottom;

        h1 {
            margin: 0;
        }
    }

    & > .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 1rem;

        .mode {
            padding: 0.25rem 0.5rem;
            border-radius: 0.125rem;
            text-transform: uppercase;

            &.draft {
                background: colors.$info;
            }

            &.edit {
                background: colors.$warning;
            }

            &.published {
                background: colors.$success;
            }
        }
    }
}

.content {
    padding: 0 1rem;
}
