name: Build and Deploy nbs-gateway image
on:
  push:
    branches:
      - main
    paths:
      - "apps/nbs-gateway/**"
      - "gradle/libs.versions.toml"

jobs:
  call-build-microservice-container-workflow:
    permissions:
      id-token: write
      contents: read
      security-events: write
    uses: CDCgov/NEDSS-Workflows/.github/workflows/Build-gradle-microservice-container.yaml@main
    with:
      microservice_name: nbs7-nbs-gateway
      dockerfile_relative_path: -f ./apps/nbs-gateway/Dockerfile .
      environment_classifier: SNAPSHOT
      java_version: "17"
    secrets:
      NBS_ACCOUNTID: ${{secrets.NBS_ACCOUNTID}}
