name: Build and Deploy modernization-api image
on:
  push:
    branches:
      - main
    paths:
      - "!libs/testing/**"
      - "apps/modernization-api/**"
      - "apps/modernization-ui/**"
      - "libs/**"
      - "gradle/libs.versions.toml"

jobs:
# APP-145: turned off sonar scan for now until it is fixed (1/8/26)
#  sonar_scan:
#    permissions:
#      id-token: write
#      contents: read
#    uses: ./.github/workflows/sonar.yaml
#    secrets:
#      NBS_ACCOUNTID: ${{secrets.NBS_ACCOUNTID}}
#      PASSED_GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
#      SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
#      DATABASE_USER: ${{secrets.DATABASE_USER}}
#      DATABASE_PASSWORD: ${{secrets.DATABASE_PASSWORD}}
#      PARAMETER_SECRET: ${{secrets.PARAMETER_SECRET}}
#      TOKEN_SECRET: ${{secrets.TOKEN_SECRET}}
  call-build-microservice-container-workflow:
    permissions:
      id-token: write
      contents: read
      security-events: write
    name: Build Container
#    needs: sonar_scan
    uses: CDCgov/NEDSS-Workflows/.github/workflows/Build-gradle-microservice-container.yaml@main
    with:
      microservice_name: nbs7-modernization-api
      dockerfile_relative_path: -f ./apps/modernization-api/Dockerfile .
      environment_classifier: SNAPSHOT
      java_version: "21"
    secrets:
      NBS_ACCOUNTID: ${{secrets.NBS_ACCOUNTID}}
