name: Build NBS6 Windows Container Build
on:
  workflow_dispatch:
    inputs:
      nbs6_version:
        description: "NBS6 Version. This will be used to pull NBS ZIP from S3 Bucker in Shared Account and Tag Docker Image"
        required: true
        type: string
        default: 6.0.16.2

jobs:
  push-call-build-windows-container-workflow:
    permissions:
      id-token: write
      contents: read
      security-events: write
    name: On Push Build Windows Container
    uses: CDCgov/NEDSS-Workflows/.github/workflows/Build-windows-container.yaml@main
    with:
      image_name: "nbs6"
      nbs6_version: ${{inputs.nbs6_version}}
      dockerfile_relative_path: "./cdc-sandbox/nbs6-win-container/" 
      quay_repository: "quay.io/us-cdcgov/cdc-nbs-modernization"
    secrets:
      CDC_NBS_SANDBOX_SHARED_SERVICES_ACCOUNTID: ${{ secrets.CDC_NBS_SANDBOX_SHARED_SERVICES_ACCOUNTID }}
      NBS6_ZIP_S3_BUCKET_NAME: ${{ secrets.NBS6_ZIP_S3_BUCKET_NAME }}
      QUAY_ROBOT_USERNAME: ${{secrets.QUAY_ROBOT_USERNAME}}
      QUAY_ROBOT_TOKEN: ${{secrets.QUAY_ROBOT_TOKEN}}