name: Build and Push elasticsearch image to ECR
on:
  push:
    branches:
      - main
      - buildtest
    paths:
      - "cdc-sandbox/elasticsearch/**"

jobs:
  call-build-microservice-container-workflow:
    permissions:
      id-token: write
      contents: read
      security-events: write
    uses: CDCgov/NEDSS-Workflows/.github/workflows/Build-other-microservice-container.yaml@main
    with:
      microservice_name: nbs7-elasticsearch
      dockerfile_relative_path: ./cdc-sandbox/elasticsearch
      environment_classifier: SNAPSHOT
    secrets:
      NBS_ACCOUNTID: ${{secrets.NBS_ACCOUNTID}}
