name: Regression tests
on:
  pull_request:
  push:
      branches:
        - main
  workflow_dispatch:
    inputs:
      spec:
        description: "Spec to run"
        required: false
        type: string
        default: "cypress/**/*.feature"

env:
  NEDSSDEV_COMPOSE_PATH: docker-compose.ci.yml

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # - name: Login to GitHub Container Registry
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.ACTOR }}
      #     password: ${{ secrets.TEMP_GHCR_TOKEN_DO_NOT_USE }}
      
      - name: Run containers
        working-directory: ./cdc-sandbox
        run: ./build_all.sh

      # Install npm dependencies, cache them, run tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: testing/regression/
          spec: ${{ inputs.spec }}
        env:
          CYPRESS_BASE_URL: 'http://localhost:8000/'
          CYPRESS_LOGIN_USERNAME: 'superuser'
          CYPRESS_LOGIN_PASSWORD: ''

      # Create cypress html report
      - name: Build report
        if: ${{ !cancelled() }}
        working-directory: testing/regression/
        run: npm run githubReport

      # Zip up report
      - name: Zip report
        if: ${{ !cancelled() }}
        working-directory: testing/regression/
        run: zip -r cypress-report.zip reports/cucumber-report/*

      # Upload artifact
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: cypress-report
          path: testing/regression/cypress-report.zip
