name: Check Style
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  pipeline:
    name: Build and analyze
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
            # need all of the branches to do the diff
            fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: "zulu" # Alternative distribution options are available

      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
          
      - name: Check formatting
        working-directory: ./
        run: ./gradlew clean spotlessCheck
