UVICORN_PORT=8001
UVICORN_HOST="0.0.0.0"

DATABASE_USER=${DATABASE_USER:-sa}
DATABASE_PASSWORD=${DATABASE_PASSWORD:-PizzaIsGood33!}
NBS_DATASOURCE_SERVER="localhost,1433"
DATABASE_CONN_STRING="Server=${NBS_DATASOURCE_SERVER};User Id=${DATABASE_USER};Password=${DATABASE_PASSWORD};Database=NBS_ODSE;Encrypt=true;Trust Server Certificate=true;"
