UVICORN_PORT=8001
UVICORN_HOST="0.0.0.0"

DATABASE_USER="sa"
DATABASE_PASSWORD="PizzaIsGood33!"
NBS_DATASOURCE_SERVER="localhost,1433"
DATABASE_CONN_STRING="Server=${NBS_DATASOURCE_SERVER};UID=${DATABASE_USER};PWD=${DATABASE_PASSWORD};Database=NBS_ODSE;TrustServerCertificate=yes;"

# Configuration parameters with reasonable defaults set in the code
# note: `REPORT_EXPORT_*` values must be valid strftime strings (https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes)
# REPORT_MAX_ROW_LIMIT_RUN=10000
# REPORT_MAX_ROW_LIMIT_EXPORT=100000
# REPORT_EXPORT_DATE_FORMAT="%m/%d/%Y"
# REPORT_EXPORT_DATETIME_FORMAT="%m/%d/%Y %H:%M:%S"
# LOG_LEVEL=INFO
